@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="dashContainer" ng-controller="RGDCWebApplicationController">
    @*top buttons*@
    <div class="row brown-text lighten-1" style="margin-top: 1rem">
        @*refresh and logout buttons*@
        <div class="col m4 l4 offset-md-8 offset-l8">
            <span class="right m-0">
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Refresh Tab"> <i class="material-icons brown-text lighten-1">refresh</i></a></div>
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" ng-click="logOut()" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a></div>
            </span>
        </div>
    </div>

    @*create new finance record button*@
    <div class="row m-0">
        <a class="waves-effect waves-light btn left brown lighten-4 medBtn modal-trigger" data-target="modal-add-appt"><i class="material-icons left">add</i>Create New Appointment</a>
    </div>

    <div class="card grey lighten-2" style="margin-top:2vh;">
        <nav class="nav-extended grey lighten-2 z-depth-0">
            <div class="nav-content p-1">
                <ul class="tabs tabs-transparent center-tabs">
                    <li class="tab px-1"><a class="brown-text p-0" href="#sched">Scheduled Appointments</a></li>
                    <li class="tab px-1"><a class="brown-text p-0" href="#req">Requested Appointments</a></li>
                    <li class="tab px-1"><a class="brown-text p-0" href="#past">Past Appointments</a></li>
                </ul>
            </div>
        </nav>

        <div class="card-content">
            @*Scheduled Appointments*@
            <div id="sched" class="containerOverflow-2 row m-0">
                <p class="bold brown-text lighten-1" style="margin-bottom: -3vh; font-size:1.5rem;">Scheduled Appointments</p>
                @*admin scheduled appointments table*@
                <div class="row" style="padding: 2rem; font-size: .9rem ">
                    <table id="adminScheduledAppointment" class="hoverv tblClk">
                        @*table headers*@
                        <thead>
                            <tr class="brown-text lighten-1">
                                <th>Date</th>
                                <th>Time</th>
                                <th>Purpose</th>
                                <th>Dentist</th>
                                <th>Patient</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        @*table content*@
                        <tbody>
                            <tr ng-if="(!adminAppointments || adminAppointments.length === 0)">
                                <td colspan="5" class="center-align">No scheduled appointments found.</td>
                            </tr>
                            <tr ng-repeat="appt in adminAppointments track by appt.apptID" data-href="#" title="View patient record" class="clkPointer">
                                <td>{{appt.date}}</td>
                                <td>{{appt.time}}</td>
                                <td>{{appt.purpose}}</td>
                                <td>{{appt.dentistName}}</td>
                                <td>{{appt.patientName}}</td>
                                <td>{{appt.displayStatus || appt.status}}</td>
                                <td>
                                    <a class="btn-floating btn-small waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" ng-click="openDeleteApptModal(appt)" data-target="modal-delete-sched" data-position="bottom" data-tooltip="Delete Appointment">
                                        <i class="material-icons brown-text lighten-1">delete</i>
                                    </a>
                                    <a href="#!" class="btn-floating btn-small waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0" ng-click="openEditApptModal(appt, $event)" data-position="bottom" data-tooltip="Edit Appointment" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1">edit</i></a>
                                </td>
                            </tr>
                        </tbody>
                        @*table footer*@
                        @*<tfoot>
                            <tr class="brown-text lighten-1">
                                <th>Date</th>
                                <th>Time</th>
                                <th>Purpose</th>
                                <th>Dentist</th>
                                <th>Patient</th>
                            </tr>
                        </tfoot>*@
                    </table>
                </div>
            </div>


            @*Requested Appointments*@
            <div id="req" class="containerOverflow-2 row m-0">
                <p class="bold brown-text lighten-1" style="margin-bottom: -3vh; font-size:1.5rem;">Requested Appointments</p>
                @*admin requested appointments table*@
                <div class="row" style="padding: 2rem; font-size: .9rem ">
                    <table id="adminRequestedAppointment" class="hoverv tblClk">
                        @*table headers*@
                        <thead>
                            <tr class="brown-text lighten-1">
                                <th>Date</th>
                                <th>Time</th>
                                <th>Purpose</th>
                                <th>Dentist</th>
                                <th>Patient</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        @*table content*@
                        <tbody>
                            <tr ng-if="(!requestedAppointments || requestedAppointments.length === 0)">
                                <td colspan="7" class="center-align">No requested appointments found.</td>
                            </tr>
                            <tr ng-repeat="appt in requestedAppointments track by appt.apptID">
                                <td>{{appt.date}}</td>
                                <td>{{appt.time}}</td>
                                <td>{{appt.purpose}}</td>
                                <td>{{appt.dentistName}}</td>
                                <td>{{appt.patientName}}</td>
                                <td>{{appt.displayStatus || appt.status}}</td>
                                <td style="text-align:center; vertical-align:middle;">
                                    <div style="display:flex; flex-direction:column; align-items:center;">
                                        <a href="#" class="btn-floating btn-small waves-effect waves-light brown lighten-1 tooltipped" ng-click="acceptRequestedAppointment(appt.apptID)" data-position="right" data-tooltip="Confirm" style="margin-bottom:6px">
                                            <i class="material-icons tiny">check</i>
                                        </a>
                                        <a href="#" class="btn-floating btn-small waves-effect waves-light brown lighten-1 tooltipped" ng-click="denyRequestedAppointment(appt.apptID)" data-position="right" data-tooltip="Deny">
                                            <i class="material-icons tiny">close</i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        @*table footer*@
                    </table>
                </div>
            </div>


            @*Past Appointments*@
            <div id="past" class="containerOverflow-2 row m-0">
                <p class="bold brown-text lighten-1" style="margin-bottom: -3vh; font-size:1.5rem;">Past Appointments</p>
                @*admin past appointments table*@
                <div class="row" style="padding: 2rem; font-size: .9rem ">
                    <table id="adminScheduledAppointment" class="hoverv tblClk">
                        @*table headers*@
                        <thead>
                            <tr class="brown-text lighten-1">
                                <th>Date</th>
                                <th>Time</th>
                                <th>Purpose</th>
                                <th>Dentist</th>
                                <th>Patient</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        @*table content*@
                        <tbody>
                            <tr ng-repeat="p in pastAppointments track by p.apptID">
                                <td>{{p.date}}</td>
                                <td>{{p.time}}</td>
                                <td>{{p.purpose}}</td>
                                <td>{{p.dentistName}}</td>
                                <td>{{p.patientName}}</td>
                                <td>{{p.displayStatus || p.status}}</td>
                                <td>
                                    <a class="btn-floating btn-small waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modal-delete-past" data-position="bottom" data-tooltip="Delete Progress Note">
                                        <i class="material-icons brown-text lighten-1">delete</i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        @*table footer*@
                        @*<tfoot>
                            <tr class="brown-text lighten-1">
                                <th>Date</th>
                                <th>Time</th>
                                <th>Purpose</th>
                                <th>Dentist</th>
                                <th>Patient</th>
                            </tr>
                        </tfoot>*@
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*Add Appointment*@
<div id="modal-add-appt" class="modal modal-fixed-footer add-appt-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Add New Appointment</h5>

        <div class="row">
            <div class="col s6">
                @*Date*@
                <label class="custom-label">
                    Date
                    <input type="date" class="custom-input" ng-model="newApptRequest.dateTime" placeholder="MM/DD/YYYY" min="{{minApptDate}}">
                </label>

                @*Dentist Selection / Current Dentist for dentist users *@
                <label class="custom-label" ng-if="currentUserAuthorization !== '2'">
                    Dentist
                    <select class="custom-input" ng-model="newApptRequest.dentistID">
                        <option value="">Select Dentist</option>
                        <option ng-repeat="dentist in dentistArray" value="{{dentist.dentistID}}">{{dentist.dentistName}}</option>
                    </select>
                </label>
                <label class="custom-label" ng-if="currentUserAuthorization === '2'">
                    Dentist
                    <input type="text" class="custom-input" ng-model="currentDentist.dentistName" readonly />
                </label>
            </div>

            <div class="col s6">
                @*Time*@
                <label class="custom-label">
                    Time
                    <select class="custom-input" ng-model="newApptRequest.time">
                        <option value="">Select Time</option>
                        <option value="12:00 AM">12:00 AM</option>
                        <option value="1:00 AM">1:00 AM</option>
                        <option value="2:00 AM">2:00 AM</option>
                        <option value="3:00 AM">3:00 AM</option>
                        <option value="4:00 AM">4:00 AM</option>
                        <option value="5:00 AM">5:00 AM</option>
                        <option value="6:00 AM">6:00 AM</option>
                        <option value="7:00 AM">7:00 AM</option>
                        <option value="8:00 AM">8:00 AM</option>
                        <option value="9:00 AM">9:00 AM</option>
                        <option value="10:00 AM">10:00 AM</option>
                        <option value="11:00 AM">11:00 AM</option>
                        <option value="12:00 PM">12:00 PM</option>
                        <option value="1:00 PM">1:00 PM</option>
                        <option value="2:00 PM">2:00 PM</option>
                        <option value="3:00 PM">3:00 PM</option>
                        <option value="4:00 PM">4:00 PM</option>
                        <option value="5:00 PM">5:00 PM</option>
                        <option value="6:00 PM">6:00 PM</option>
                        <option value="7:00 PM">7:00 PM</option>
                        <option value="8:00 PM">8:00 PM</option>
                        <option value="9:00 PM">9:00 PM</option>
                        <option value="10:00 PM">10:00 PM</option>
                        <option value="11:00 PM">11:00 PM</option>
                    </select>
                </label>

                @*Patient Selection*@
                <label class="custom-label">
                    Patient
                    <select class="custom-input" ng-model="newApptRequest.patientID">
                        <option value="">Select Patient</option>
                        <option ng-repeat="patient in patientArray" value="{{patient.patientID}}">{{patient.patientName}}</option>
                    </select>
                </label>
            </div>

            <div class="col s12">
                @*Purpose*@
                <label class="custom-label">
                    Purpose
                    <input type="text" class="custom-input" ng-model="newApptRequest.reason" placeholder="Purpose">
                </label>
            </div>

        </div>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" ng-click="createNewAppointmentRequest()" style="font-weight:500; margin-right:20px">ADD</button>
    </div>
</div>


@*Edit Sched Appointment*@
<div id="modal-edit-sched" class="modal modal-fixed-footer edit-sched-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Edit Scheduled Appointment</h5>

        <!-- Hidden field to store apptID separately -->
        <input type="hidden" id="hiddenApptID" value="">

        <div class="row">
            <div class="col s6">
                @*Date - using HTML5 date input for better modal compatibility*@
                    <label class="custom-label">
                        Date
                        <input type="date" id="editApptDate" class="custom-input" ng-model="editingAppt.dateObj" placeholder="MM/DD/YYYY" min="{{minApptDate}}">
                    </label>

                @*Dentist*@
                <label class="custom-label">
                    Dentist
                    <input type="text" class="custom-input" ng-bind="editingAppt.dentistName" placeholder="Dentist" readonly>
                </label>
            </div>

            <div class="col s6">
                @*Time Dropdown*@
                <label class="custom-label">
                    Time
                    <select class="custom-input" ng-model="editingAppt.timeStr" ng-change="onTimeChange()">
                        <option value="">Select Time</option>
                        <option value="12:00 AM">12:00 AM</option>
                        <option value="1:00 AM">1:00 AM</option>
                        <option value="2:00 AM">2:00 AM</option>
                        <option value="3:00 AM">3:00 AM</option>
                        <option value="4:00 AM">4:00 AM</option>
                        <option value="5:00 AM">5:00 AM</option>
                        <option value="6:00 AM">6:00 AM</option>
                        <option value="7:00 AM">7:00 AM</option>
                        <option value="8:00 AM">8:00 AM</option>
                        <option value="9:00 AM">9:00 AM</option>
                        <option value="10:00 AM">10:00 AM</option>
                        <option value="11:00 AM">11:00 AM</option>
                        <option value="12:00 PM">12:00 PM</option>
                        <option value="1:00 PM">1:00 PM</option>
                        <option value="2:00 PM">2:00 PM</option>
                        <option value="3:00 PM">3:00 PM</option>
                        <option value="4:00 PM">4:00 PM</option>
                        <option value="5:00 PM">5:00 PM</option>
                        <option value="6:00 PM">6:00 PM</option>
                        <option value="7:00 PM">7:00 PM</option>
                        <option value="8:00 PM">8:00 PM</option>
                        <option value="9:00 PM">9:00 PM</option>
                        <option value="10:00 PM">10:00 PM</option>
                        <option value="11:00 PM">11:00 PM</option>
                    </select>
                </label>

                @*Patient*@
                <label class="custom-label">
                    Patient
                    <input type="text" class="custom-input" ng-bind="editingAppt.patientName" placeholder="Patient" readonly>
                </label>
            </div>

            <div class="col s12">
                @*Purpose*@
                <label class="custom-label">
                    Purpose
                    <input type="text" class="custom-input" ng-model="editingAppt.purpose" placeholder="Purpose">
                </label>
            </div>

        </div>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="button" ng-click="updateAppointment()" class="edit-btn" style="font-weight:500; margin-right:20px">UPDATE</button>
    </div>
</div>

@*DELETE scheduled appointment*@
<div id="modal-delete-sched" class="modal modal-fixed-footer delete-sched-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Scheduled Appointment</h5>

        <p class="custom-label">Are you sure you want to delete this scheduled appointment? </p>
        @* Hidden backup field to store apptID so client can fallback if scope is lost *@
        <input type="hidden" id="hiddenDeleteApptID" value="" />
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" ng-click="deleteAppointment()" style="font-weight:500; margin-right:20px">DELETE</button>
    </div>
</div>

@*Edit Requested Appointment*@
<div id="modal-edit-req" class="modal modal-fixed-footer edit-req-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Edit Requested Appointment</h5>

        <div class="row">
            <div class="col s6">
                @*Date*@
                <label class="custom-label">
                    Date
                    <input type="text" class="custom-input" placeholder="MM/DD/YYYY">
                </label>

                @*Dentist*@
                <label class="custom-label">
                    Dentist
                    <input type="text" class="custom-input" placeholder="Dentist">
                </label>
            </div>

            <div class="col s6">
                @*Time*@
                <label class="custom-label">
                    Time
                    <input type="text" class="custom-input" placeholder="00:00 AM">
                </label>

                @*Patient*@
                <label class="custom-label">
                    Patient
                    <input type="text" class="custom-input" placeholder="Patient">
                </label>
            </div>

            <div class="col s12">
                @*Purpose*@
                <label class="custom-label">
                    Purpose
                    <input type="text" class="custom-input" placeholder="Purpose">
                </label>
            </div>

        </div>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">ADD</button>
    </div>
</div>

@*DELETE requested appointment*@
<div id="modal-delete-req" class="modal modal-fixed-footer delete-req-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Requested Appointment</h5>

        <p class="custom-label">Are you sure you want to delete this requested appointment? </p>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">DELETE</button>
    </div>
</div>

@*DELETE past appointment*@
<div id="modal-delete-past" class="modal modal-fixed-footer delete-past-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Past Appointment</h5>

        <p class="custom-label">Are you sure you want to delete this past appointment? </p>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">DELETE</button>
    </div>
</div>
