@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="dashContainer">
    @*top part (welcome, refresh, logout)*@
    <div class="row brown-text lighten-1" style="margin-top: 1rem">
        @*user name*@
        <div class="col m8 l8"  ng-init="getClinicStaff()"><h4 class="bold">Clinic Staff</h4></div>
        @*refresh and logout buttons*@
        <div class="col m4 l4">
            <span class="right hide-on-small-only">
                <div class="col valign-wrapper"><a href="#adminClinicStaffTab" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Refresh Dashboard"> <i class="material-icons brown-text lighten-1">refresh</i></a></div>
                <div class="col valign-wrapper" ng-click="logOut()"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a></div>
            </span>
        </div>
    </div>

    <div class="card grey lighten-2" style="margin-top:2vh;">
        <nav class="nav-extended grey lighten-2 z-depth-0">
            <div class="nav-content p-1">
                <ul class="tabs tabs-transparent center-tabs">
                    <li class="tab px-1"><a class="brown-text p-0" href="#Owner">Owner</a></li>
                    <li class="tab px-1"><a class="brown-text p-0" href="#Dentist">Dentist</a></li>
                    <li class="tab px-1"><a class="brown-text p-0" href="#Staff">Staff</a></li>
                    @*<li class="tab px-1"><a class="brown-text p-0" href="#Pending">Pending</a></li>*@
                </ul>
            </div>
        </nav>

        <div class="card-content">

            <div id="Owner" class="containerOverflow-2 row m-0" n>
                <div class="row m-0">
                    <div class="col s12 m6 l6 valign-wrapper p-0">
                        <p class="bold brown-text lighten-1" style="font-size:1.8rem;">Owner</p>
                        @*<select class=" browser-default" style="width: 30%; margin-left: 1rem">
                            <option value="Active" selected>Active</option>
                            <option value="Inactive" selected>Inactive</option>
                        </select>*@
                    </div>
                    <div class="col s12 m6 l6">
                        <a class="edit-btn modal-trigger right white-text" style="margin-top:0.3rem !important" data-target="ownerInformationFormAdd">
                            <i class="material-icons left white-text">group_add</i>Add Owner
                        </a>
                    </div>
                </div>
                @*Owner Table*@
                <table id="adminClinicStaffTabTableOwner" class="hover tableClk">
                    <thead>
                        <tr class="brown-text lighten-1">
                            <th>Name</th>
                            <th colspan="2">Specialization</th>
                        </tr>
                    </thead>
                    @*table content*@
                    <tbody>
                        <tr data-href="#"  ng-repeat="owner in clinicOwners track by owner.ownerID">
                            <td>{{owner.fullName}}</td>
                            <td>{{owner.specialization}}</td>
                            <td>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modalDeleteOwner" title="Archive Account"><i class="material-icons brown-text lighten-1" ng-click="selectArchiveOwner(owner.accID)">archive</i></a>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="ownerInformationFormEdit" title="View Account Details" style="margin-right: 0.5rem !important" ng-click="selectOwner(owner.ownerID)"><i class="material-icons brown-text lighten-1">visibility</i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="brown-text lighten-1">
                            <th>Dentist Name</th>
                            <th colspan="2">Specialization</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div id="Dentist" class="containerOverflow-2 row m-0">
                <div class="row m-0">
                    <div class="col s12 m6 l6 valign-wrapper p-0">
                        <p class="bold brown-text lighten-1" style="font-size:1.8rem;">Dentist</p>
                        @*<select class=" browser-default" style="width: 30%; margin-left: 1rem">
                            <option value="Active" selected>Active</option>
                            <option value="Inactive" selected>Inactive</option>
                        </select>*@
                    </div>
                    <div class="col s12 m6 l6">
                        <a class="edit-btn modal-trigger right white-text" style="margin-top:0.3rem !important" data-target="dentistInformationFormAdd">
                            <i class="material-icons left white-text">group_add</i>Add Dentist
                        </a>
                    </div>
                </div>
                @*Dentist Table*@
                <table id="adminClinicStaffTabTableDentist" class="hover tableClk">
                    <thead>
                        <tr class="brown-text lighten-1">
                            <th>Name</th>
                            <th>Specialization</th>
                            <th colspan="2">Branch</th>
                        </tr>
                    </thead>
                    @*table content*@
                    <tbody>
                        <tr data-href="#" ng-repeat="dentist in clinicDentists track by dentist.dentistID">
                            <td>{{dentist.fullName}}</td>
                            <td>{{dentist.specialization}}</td>
                            <td>{{dentist.description}}</td>
                            <td>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modalDeleteDentist" title="Archive Account"><i class="material-icons brown-text lighten-1" ng-click="selectArchiveDentist(dentist.accID)">archive</i></a>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="dentistInformationFormEdit" title="View Account Details" style="margin-right: 0.5rem !important" ><i class="material-icons brown-text lighten-1" ng-click="selectDentist(dentist.dentistID)">visibility</i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="brown-text lighten-1">
                            <th>Name</th>
                            <th>Specialization</th>
                            <th>Branch</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div id="Staff" class="containerOverflow-2 row m-0">
                <div class="row m-0">
                    <div class="col s12 m6 l6 valign-wrapper p-0">
                        <p class="bold brown-text lighten-1" style="font-size:1.8rem;">Staff</p>
                        @*<select class=" browser-default" style="width: 30%; margin-left: 1rem">
                            <option value="Active" selected>Active</option>
                            <option value="Inactive" selected>Inactive</option>
                        </select>*@
                    </div>
                    <div class="col s12 m6 l6">
                        <a class="edit-btn modal-trigger right white-text" style="margin-top:0.3rem !important" data-target="staffInformationFormAdd">
                            <i class="material-icons left white-text">group_add</i>Add Staff
                        </a>
                    </div>
                </div>
                @*Staff Table*@
                <table id="adminClinicStaffTabTableStaff" class="hover tableClk">
                    <thead>
                        <tr class="brown-text lighten-1">
                            <th>Name</th>
                            <th>Role</th>
                            <th colspan="2">Branch</th>
                        </tr>
                    </thead>
                    @*table content*@
                    <tbody>
                        <tr data-href="#" ng-repeat="staff in clinicStaff track by staff.staffID">
                            <td>{{staff.fullName}}</td>
                            <td>{{staff.staffRole}}</td>
                            <td>{{staff.description}}</td>
                            <td>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modalDeleteStaff" title="Archive Account"><i class="material-icons brown-text lighten-1" ng-click="selectArchiveStaff(staff.accID)">archive</i></a>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="staffInformationFormEdit" title="View Account Details" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1" ng-click="selectStaff(staff.staffID)">visibility</i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="brown-text lighten-1">
                            <th>Name</th>
                            <th>Role</th>
                            <th>Branch</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            
            @*pending*@
            <!--<div id="Pending" class="containerOverflow-2 row m-0">
                <div class="row m-0">
                    <p class="bold brown-text lighten-1" style="font-size:1.8rem;">Pending</p>
                </div>-->
                @*pending Table*@
                <!--<table id="adminClinicStaffTabTablePending" class="hover tableClk">
                    <thead>
                        <tr class="brown-text lighten-1">
                            <th>Email</th>
                            <th colspan="2">Role</th>
                        </tr>
                    </thead>-->
                    @*table content*@
                    <!--<tbody>
                        <tr data-href="#">
                            <td>email@gmail.com</td>
                            <td>Role</td>
                            <td>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modalDeleteStaff" title="Delete Request"><i class="material-icons brown-text lighten-1" ng-click="selectDeleteStaff(staff.staffID, staff.accID)">delete</i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="brown-text lighten-1">
                            <th>Email</th>
                            <th colspan="2">Role</th>
                        </tr>
                    </tfoot>
                </table>
            </div>-->


        </div>
    </div>

</div>


@*ADD Owner Information Form*@
<div id="ownerInformationFormAdd" class="modal patientInformationForm-modal">
    <div>
        <h5 class="modal-form-title">Add New Owner</h5>

        @*Email*@
        <div class="row">
            <div class="col s12">
                <p class="custom-label">Email <span class="required-mark">*</span></p>
                <input type="text" class="custom-input"
                       ng-model="owner_email"
                       maxlength="150"
                       placeholder="juandlc@gmail.com"
                       ng-change="checkAddOwnerEmail()"
                       ng-focus="showOwnerEmailHint = true"
                       ng-class="{
                       'input-valid': ownerEmailFormatValid && !ownerEmailTaken,
                       'input-invalid': owner_email && !ownerEmailFormatValid
                   }"
                       required>
                <p class="helper-text" style="margin-top:.4rem;">
                    <span ng-show="owner_email"
                          ng-style="{'color': ownerEmailFormatValid ? '#2e7d32' : '#d32f2f'}">
                        {{ ownerEmailFormatValid ? 'Email is valid' : 'Enter a valid email address' }}
                    </span>
                    <span ng-show="ownerEmailFormatValid && ownerEmailTaken" style="color:#d32f2f; display:block; margin-top:.2rem;">
                        Email already taken
                    </span>
                </p>
            </div>
        </div>
    </div>


    @*Submit or cancel*@
        <div class="modal-footer" style="margin-top:2.5vh">
            <button class="modal-close cancel-btn left" style="font-weight: 500; margin-right: .5vh">CANCEL</button>
            <button type="submit"
                    class="edit-btn modal-close"
                    ng-click="addOwner()"
                    ng-disabled="!ownerEmailFormatValid">
                ADD
            </button>
        </div>
</div>

@*ADD Denstist Information Form*@
<div id="dentistInformationFormAdd" class="modal patientInformationForm-modal">
    <div>
        <h5 class="modal-form-title">Add New Dentist</h5>

        @*Email*@
        <div class="row">
            <div class="col s12">
                <p class="custom-label">Email <span class="required-mark">*</span></p>
                <input type="text" class="custom-input"
                       ng-model="dentist_email"
                       maxlength="150"
                       placeholder="juandlc@gmail.com"
                       ng-change="checkAddDentistEmail()"
                       ng-class="{
                       'input-valid': dentistEmailFormatValid && !dentistEmailTaken,
                       'input-invalid': dentist_email && !dentistEmailFormatValid
                   }"
                       required>
                <p class="helper-text" style="margin-top:.4rem;">
                    <span ng-show="dentist_email"
                          ng-style="{'color': dentistEmailFormatValid ? '#2e7d32' : '#d32f2f'}">
                        {{ dentistEmailFormatValid ? 'Email is valid' : 'Enter a valid email address' }}
                    </span>
                    <span ng-show="dentistEmailFormatValid && dentistEmailTaken" style="color:#d32f2f; display:block; margin-top:.2rem;">
                        Email already taken
                    </span>
                </p>
            </div>
        </div>
    </div>

    @*Submit or cancel*@
        <div class="modal-footer" style="margin-top:2.5vh">
            <button class="modal-close cancel-btn left" style="font-weight: 500; margin-right: .5vh">CANCEL</button>
            <button type="submit"
                    class="edit-btn modal-close"
                    ng-click="addDentist()"
                    ng-disabled="!isAddDentistFormValid()">
                ADD
            </button>
        </div>
</div>

@*ADD Staff Information Form*@
<div id="staffInformationFormAdd" class="modal patientInformationForm-modal">
    <div>
        <h5 class="modal-form-title">Add New Staff</h5>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           ng-model="staff_email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           ng-change="checkAddStaffEmail()"
                           ng-class="{
                   'input-valid': staffEmailFormatValid && !staffEmailTaken,
                   'input-invalid': staff_email && !staffEmailFormatValid
               }"
                           required>
                    <p class="helper-text" style="margin-top:.4rem;">
                        <span ng-show="staff_email"
                              ng-style="{'color': staffEmailFormatValid ? '#2e7d32' : '#d32f2f'}">
                            {{ staffEmailFormatValid ? 'Email is valid' : 'Enter a valid email address' }}
                        </span>
                        <span ng-show="staffEmailFormatValid && staffEmailTaken" style="color:#d32f2f; display:block; margin-top:.2rem;">
                            Email already taken
                        </span>
                    </p>
                </div>
            </div>

            
    </div>

    @*Submit or cancel*@
        <div class="modal-footer" style="margin-top:2.5vh">
            <button class="modal-close cancel-btn left" style="font-weight: 500; margin-right: .5vh">CANCEL</button>
            <button type="submit"
                    class="edit-btn modal-close"
                    ng-click="addStaff()"
                    ng-disabled="!isAddStaffFormValid()">
                ADD
            </button>
        </div>
</div>


@*View Owner Information Form*@
<div id="ownerInformationFormEdit" class="modal patientInformationForm-modal">

    <input id="ownerPhotoInput" type="file" accept="image/*" style="display:none"
           onchange="angular.element(this).scope().onPhotoSelected(this.files, 'owner')" />
    <div>
        <h5 class="modal-form-title">View Owner Profile</h5>

        <form>
            <div class="row">
                <div class="col s4">
                    @*Photo upload*@
                    <div class="row s4 center-align" style="margin-top: 2.5vh; margin-left: 2.5vh;">
                        <div class="col s12">
                            <div class="photo-box" style="cursor:pointer;">
                                <img ng-src="{{owner.photoLink}}" alt="Preview" style="width:100%; height:100%; object-fit:cover;" />   
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s8">
                    <div class="row">
                        @*First name*@
                        <div class="col s6">
                            <p class="custom-label">First Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="owner.firstName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Juan"
                                   required
                                   disabled />
                        </div>
                        @*MIddle name*@
                        <div class="col s6">
                            <p class="custom-label">Middle Name</p>
                            <input type="text"
                                   ng-model="owner.middleName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Mercado"
                                   disabled />
                        </div>
                    </div>
                    <div class="row">
                        @*Last name*@
                        <div class="col s12">
                            <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="owner.lastName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Dela Cruz"
                                   required
                                   disabled />
                        </div>
                    </div>
                </div>
            </div>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           ng-model="owner.email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           required
                           disabled />
                </div>
            </div>

            <div class="row">
                @*Gender*@
                <div class="col s3">
                    <p class="custom-label">Gender <span class="required-mark">*</span></p>
                    <select disabled class="browser-default custom-input" ng-model="owner.genderID" ng-options="g.genderID as g.description for g in genderArray" ng-change="/* optional */">
                        <option value="" disabled selected>Select Gender</option>
                    </select>
                </div>
                @*Birthdate*@
                <div class="col s3">
                    <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                    <div class="datepicker-wrapper">
                        <input id="owner_birthDate" ng-model="owner.birthDate" type="text" class="datepicker custom-input" readonly required disabled />
                    </div>
                </div>

                <div class="col s3">
                    @*Civil status*@
                    <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" disabled required ng-model="owner.civilStatus">
                        <option value="" selected>Select Status</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Widowed</option>
                        <option value="4">Legally Separated</option>
                        <option value="5">Annulled/Void</option>
                        <option value="6">Divorced</option>
                    </select>
                </div>
                <div class="col s3">
                    @*Contact number*@
                    <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                    <input id="ownerContactNumber"
                           ng-model="owner.contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="09XXXXXXXXX"
                           maxlength="11"
                           oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                           disabled
                           required />
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    @*Religion*@
                    <p class="custom-label">Religion <span class="required-mark">*</span></p>
                    <input id="religion"
                           type="text"
                           class="custom-input"
                           ng-model="owner.religion"
                           placeholder="Roman-Catholic"
                           maxlength="50"
                           required
                           disabled />
                </div>

                <div class="col s6">
                    @*Nationality*@
                    <p class="custom-label">Nationality <span class="required-mark">*</span></p>
                    <input id="contactNumber"
                           type="text"
                           ng-model="owner.nationality"
                           class="custom-input"
                           placeholder="Filipino"
                           maxlength="50"
                           required
                           disabled />
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    @*Address*@
                    <p class="custom-label">Address <span class="required-mark">*</span></p>
                    <input id="ownerAddress"
                           ng-model="owner.address"
                           type="text"
                           class="custom-input"
                           maxlength="250"
                           required
                           disabled />
                </div>
            </div>

            <div class="row">
                @*Specialization*@
                <div class="col s12">
                    <p class="custom-label">Specialization</p>
                    <input type="text" ng-model="owner.specialization" class="custom-input" maxlength="50" disabled/>
                    
                </div>
            </div>
        </form>
    </div>

    @*Submit or cancel*@
    <div class="modal-footer footer-center" style="margin-top:2.5vh">
        <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh">EXIT</button>
    </div>
</div>

@*View Denstist Information Form*@
<div id="dentistInformationFormEdit" class="modal patientInformationForm-modal">
    <input id="ownerPhotoInputEdit" type="file" accept="image/*" style="display:none"
           onchange="angular.element(this).scope().onPhotoSelected(this.files, 'dentistEdit')" />
    <div>
        <h5 class="modal-form-title">View Dentist Profile</h5>


        <form>
            <div class="row">
                <div class="col s4">
                    @*Photo upload*@
                    <div class="row s4 center-align" style="margin-top: 2.5vh; margin-left: 2.5vh;">
                        <div class="col s12">
                            <div class="photo-box" style="cursor:pointer;">
                                <img  ng-src="{{dentist.photoLink}}" alt="Preview" style="width:100%; height:100%; object-fit:cover;" />
                            </div>
                        </div>
                    </div>
                </div>

                @*NAMES BAAVASLIDATION*@
                <div class="col s8">
                    <div class="row">
                        <div class="col s6">
                            <p class="custom-label">First Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="dentist.firstName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Juan"
                                   required
                                   disabled />
                        </div>
                        <div class="col s6">
                            <p class="custom-label">Middle Name <span class="required-mark">*</span></p>
                            <input type="text" ng-model="dentist.middleName" class="custom-input" maxlength="150" placeholder="Mercado" required disabled/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="dentist.lastName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Dela Cruz"
                                   required
                                  disabled />

                        </div>
                    </div>
                </div>
            </div>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           ng-model="dentist.email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           required 
                           disabled />
                </div>
            </div>

            @*Basta eto validation para sa mga iniinvalidate nyong feelings*@
            <div class="row">
                <div class="col s3">
                    <p class="custom-label">Gender <span class="required-mark">*</span></p>
                    <select disabled class="browser-default custom-input" ng-model="dentist.genderID" ng-options="g.genderID as g.description for g in genderArray">
                        <option value="" disabled selected>Select Gender</option>
                    </select>
                </div>
                <div class="col s3">
                    <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                    <div class="datepicker-wrapper">
                        <input disabled id="dentist_birthDate" type="text" ng-model="dentist.birthDate" class="datepicker custom-input" readonly required />
                    </div>
                </div>
                <div class="col s3">
                    <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                    <select disabled class="browser-default custom-input" required ng-model="dentist.civilStatus">
                        <option value="" selected>Select Status</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Widowed</option>
                        <option value="4">Legally Separated</option>
                        <option value="5">Annulled/Void</option>
                        <option value="6">Divorced</option>
                    </select>
                </div>
                <div class="col s3">
                    <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                    <input id="dentistContactNumber"
                           ng-model="dentist.contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="09XXXXXXXXX"
                           maxlength="11"
                           disabled />
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    @*Religion*@
                    <p class="custom-label">Religion <span class="required-mark">*</span></p>
                    <input id="religion"
                           type="text"
                           class="custom-input"
                           ng-model="dentist.religion"
                           placeholder="Roman-Catholic"
                           maxlength="50"
                           required
                           disabled />
                </div>

                <div class="col s6">
                    @*Nationality*@
                    <p class="custom-label">Nationality <span class="required-mark">*</span></p>
                    <input id="contactNumber"
                           type="text"
                           ng-model="dentist.nationality"
                           class="custom-input"
                           placeholder="Filipino"
                           maxlength="50"
                           required
                           disabled />
                </div>
            </div>
            @*Address*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Address <span class="required-mark">*</span></p>
                    <input id="dentistAddress"
                           ng-model="dentist.address"
                           type="text"
                           class="custom-input"
                           maxlength="250"
                           required
                           disabled />
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Specialization</p>
                    <input type="text" disabled ng-model="dentist.specialization" class="custom-input" maxlength="50" />
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Branch</p>
                    <select disabled class="browser-default custom-input" ng-model="dentist.branchID" ng-options="b.branchID as b.description for b in branchArray">
                        <option value="" selected>Select Branch</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    @*Submit or cancel*@
    <div class="modal-footer footer-center" style="margin-top:2.5vh">
        <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh">EXIT</button>
    </div>
</div>

@*View Staff Information Form*@
<div id="staffInformationFormEdit" class="modal patientInformationForm-modal">
    <input id="ownerPhotoInputEdit" type="file" accept="image/*" style="display:none"
           onchange="angular.element(this).scope().onPhotoSelected(this.files, 'staffEdit')" />
    <div>
        <h5 class="modal-form-title">View Staff Profile</h5>


        <form>
            <div class="row">
                <div class="col s4">
                    @*Photo upload*@
                    <div class="row s4 center-align" style="margin-top: 2.5vh; margin-left: 2.5vh;">
                        <div class="col s12">
                            <div class="photo-box" style="cursor:pointer;">
                                <img ng-src="{{staff.photoLink}}" alt="Preview" style="width:100%; height:100%; object-fit:cover;" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s8">
                    <div class="row">
                        <div class="col s6">
                            <p class="custom-label">First Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="staff.firstName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Juan"
                                   required
                                   disabled />
                        </div>
                        <div class="col s6">
                            <p class="custom-label">Middle Name <span class="required-mark">*</span></p>
                            <input type="text" ng-model="staff.middleName" class="custom-input" maxlength="150" placeholder="Mercado" disabled required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="staff.lastName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Dela Cruz"
                                   required
                                   disabled />
                        </div>
                    </div>
                </div>
            </div>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           ng-model="staff.email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           required
                           disabled />
                </div>
            </div>

            <div class="row">
                <div class="col s3">
                    <p class="custom-label">Gender <span class="required-mark">*</span></p>
                    <select disabled class="browser-default custom-input" ng-model="staff.genderID" ng-options="g.genderID as g.description for g in genderArray">
                        <option value="" disabled selected>Select Gender</option>
                    </select>
                </div>
                <div class="col s3">
                    <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                    <div class="datepicker-wrapper">
                        <input id="staff_birthDate" disabled type="text" ng-model="staff.birthDate" class="datepicker custom-input" readonly required />
                    </div>
                </div>
                <div class="col s3">
                    <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                    <select disabled class="browser-default custom-input" required ng-model="staff.civilStatus">
                        <option value="" disabled selected>Select Status</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Widowed</option>
                        <option value="4">Legally Separated</option>
                        <option value="5">Annulled/Void</option>
                        <option value="6">Divorced</option>
                    </select>
                </div>
                <div class="col s3">
                    <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                    <input id="staffContactNumber"
                           ng-model="staff.contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="09XXXXXXXXX"
                           maxlength="11"
                           disabled
                           required />
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    @*Religion*@
                    <p class="custom-label">Religion <span class="required-mark">*</span></p>
                    <input id="religion"
                           type="text"
                           class="custom-input"
                           ng-model="staff.religion"
                           placeholder="Roman-Catholic"
                           maxlength="50"
                           required
                           disabled />
                </div>

                <div class="col s6">
                    @*Nationality*@
                    <p class="custom-label">Nationality <span class="required-mark">*</span></p>
                    <input id="contactNumber"
                           type="text"
                           ng-model="staff.nationality"
                           class="custom-input"
                           placeholder="Filipino"
                           maxlength="50"
                           required
                           disabled />
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Address <span class="required-mark">*</span></p>
                    <input id="staffAddress"
                           ng-model="staff.address"
                           type="text"
                           class="custom-input"
                           maxlength="250"
                           required
                           disabled />
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Clinic Role</p>
                    <input disabled type="text" ng-model="staff.staffRole" class="custom-input" maxlength="50" />
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Branch</p>
                    <select disabled class="browser-default custom-input" ng-model="staff.branchID" ng-options="b.branchID as b.description for b in branchArray">
                        <option value="" disabled selected>Select Branch</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    @*Submit or cancel*@
    <div class="modal-footer footer-center" style="margin-top:2.5vh">
        <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh">EXIT</button>
    </div>
</div>



@*ARCHIVE owner*@
<div id="modalDeleteOwner" class="modal patientInformationForm-modal" style="width:30% !important; padding:0 !important">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Archive Owner Profile</h5>

        <p class="custom-label">Are you sure you want to archive this owner profile?</p>
        <input type="hidden" id="hiddenOwnerDelete" value="" />
    </div>

    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0" ng-click="archiveOwner()">ARCHIVE</button>
    </div>
</div>

@*ARCHIVE dentist*@
<div id="modalDeleteDentist" class="modal patientInformationForm-modal" style="width:30% !important; padding:0 !important">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Archive Dentist Profile</h5>

        <p class="custom-label">Are you sure you want to archive this dentist profile?</p>
        <input type="hidden" id="hiddenDentistDelete" value="" />
    </div>

    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0" ng-click="archiveDentist()">ARCHIVE</button>
    </div>
</div>

@*ARCHIVE staff*@
<div id="modalDeleteStaff" class="modal patientInformationForm-modal" style="width:30% !important; padding:0 !important">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Archive Staff Profile</h5>

        <p class="custom-label">Are you sure you want to archive this staff profile?</p>
        <input type="hidden" id="hiddenStaffDelete" value="" />
    </div>

    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0" ng-click="archiveStaff()">ARCHIVE</button>
    </div>
</div>