@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="dashContainer">
    @*top part (welcome, refresh, logout)*@
    <div class="row brown-text lighten-1" style="margin-top: 1rem">
        @*user name*@
        <div class="col m8 l8"  ng-init="getClinicStaff()"><h4 class="bold">Clinic Personnel</h4></div>
        @*refresh and logout buttons*@
        <div class="col m4 l4">
            <span class="right">
                <div class="col valign-wrapper"><a href="#adminClinicStaffTab" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Refresh Dashboard"> <i class="material-icons brown-text lighten-1">refresh</i></a></div>
                <div class="col valign-wrapper" ng-click="logOut()"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a></div>
            </span>
        </div>
    </div>

    <div class="card grey lighten-2" style="margin-top:2vh;">
        <nav class="nav-extended grey lighten-2 z-depth-0" ng-init="getBranch()">
            <div class="nav-content p-1">
                <ul class="tabs tabs-transparent center-tabs">
                    <li class="tab px-1"><a class="brown-text p-0" href="#Owner">Owner</a></li>
                    <li class="tab px-1"><a class="brown-text p-0" href="#Dentist">Dentist</a></li>
                    <li class="tab px-1"><a class="brown-text p-0" href="#Staff">Staff</a></li>
                </ul>
            </div>
        </nav>

        <div class="card-content">

            <div id="Owner" class="containerOverflow-2 row m-0" n>
                <div class="row m-0">
                    <p class="bold brown-text lighten-1" style="font-size:1.8rem; margin-bottom:1.7vh">Owner</p>
                    <a class="waves-effect waves-light btn left brown lighten-4 medBtn modal-trigger right" style="margin-top: -4.5vh" data-target="ownerInformationFormAdd"><i class="material-icons left">group_add</i>Add Owner</a>
                </div>
                @*Owner Table*@
                <table id="adminClinicStaffTabTableOwner" class="hover tableClk">
                    <thead>
                        <tr class="brown-text lighten-1">
                            <th>Name</th>
                            <th>Specialization</th>
                            <th></th>
                        </tr>
                    </thead>
                    @*table content*@
                    <tbody>
                        <tr data-href="#" title="View patient record" class="clkPointer" ng-repeat="owner in clinicOwners track by owner.ownerID">
                            <td>{{owner.fullName}}</td>
                            <td>{{owner.specialization}}</td>
                            <td>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modalDeleteOwner" data-position="bottom" data-tooltip="Delete Account"><i class="material-icons brown-text lighten-1" ng-click="selectDeleteOwner(owner.ownerID, owner.accID)">delete</i></a>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="ownerInformationFormEdit" data-position="bottom" data-tooltip="Edit Payment Record" style="margin-right: 0.5rem !important" ng-click="editSelectOwner(owner.ownerID)"><i class="material-icons brown-text lighten-1">edit</i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="brown-text lighten-1">
                            <th>Dentist Name</th>
                            <th>Specialization</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div id="Dentist" class="containerOverflow-2 row m-0">
                <div class="row m-0">
                    <p class="bold brown-text lighten-1" style="font-size:1.8rem; margin-bottom:1.7vh">Dentist</p>
                    <a class="waves-effect waves-light btn left brown lighten-4 medBtn modal-trigger right" style="margin-top: -4.5vh" data-target="dentistInformationFormAdd"><i class="material-icons left">group_add</i>Add Dentist</a>
                </div>
                @*Dentist Table*@
                <table id="adminClinicStaffTabTableDentist" class="hover tableClk">
                    <thead>
                        <tr class="brown-text lighten-1" >
                            <th>Name</th>
                            <th>Specialization</th>
                            <th>Branch</th>
                        </tr>
                    </thead>
                    @*table content*@
                    <tbody>
                        <tr data-href="#" title="View patient record" class="clkPointer" ng-repeat="dentist in clinicDentists track by dentist.dentistID">
                            <td>{{dentist.fullName}}</td>
                            <td>{{dentist.specialization}}</td>
                            <td>{{dentist.description}}</td>
                            <td>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modalDeleteDentist" data-position="bottom" data-tooltip="Delete Account"><i class="material-icons brown-text lighten-1" ng-click="selectDeleteDentist(dentist.dentistID, dentist.accID)">delete</i></a>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="dentistInformationFormEdit" data-position="bottom" data-tooltip="Edit Payment Record" style="margin-right: 0.5rem !important" ><i class="material-icons brown-text lighten-1" ng-click="editSelectDentist(dentist.dentistID)">edit</i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="brown-text lighten-1">
                            <th>Name</th>
                            <th>Specialization</th>
                            <th>Branch</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div id="Staff" class="containerOverflow-2 row m-0">
                <div class="row m-0">
                    <p class="bold brown-text lighten-1" style="font-size:1.8rem; margin-bottom:1.7vh">Staff</p>
                    <a class="waves-effect waves-light btn left brown lighten-4 medBtn modal-trigger right" style="margin-top: -4.5vh" data-target="staffInformationFormAdd"><i class="material-icons left">group_add</i>Add Staff</a>
                </div>
                @*Staff Table*@
                <table id="adminClinicStaffTabTableStaff" class="hover tableClk">
                    <thead>
                        <tr class="brown-text lighten-1">
                            <th>Name</th>
                            <th>Role</th>
                            <th>Branch</th>
                        </tr>
                    </thead>
                    @*table content*@
                    <tbody>
                        <tr data-href="#" title="View patient record" class="clkPointer" ng-repeat="staff in clinicStaff track by staff.staffID">
                            <td>{{staff.fullName}}</td>
                            <td>{{staff.staffRole}}</td>
                            <td>{{staff.description}}</td>
                            <td>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modalDeleteStaff" data-position="bottom" data-tooltip="Delete Account"><i class="material-icons brown-text lighten-1" ng-click="selectDeleteStaff(staff.staffID, staff.accID)">delete</i></a>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="staffInformationFormEdit" data-position="bottom" data-tooltip="Edit Payment Record" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1" ng-click="editSelectStaff(staff.staffID)">edit</i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="brown-text lighten-1">
                            <th>Name</th>
                            <th>Role</th>
                            <th>Branch</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>


@*ADD Owner Information Form*@
<div id="ownerInformationFormAdd" class="modal patientInformationForm-modal">
    <div>
        <h5 class="modal-form-title">Add New Owner</h5>

        <form>
            <div class="row">
                <div class="col s4">
                    @*Photo upload*@
                    <div class="row s4 center-align photo-upload-container">
                        <div class="col s12">
                            <div class="photo-box">
                                <i class="material-icons photo-placeholder-icon">image</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s8">
                    <div class="row">
                        @*First name*@
                        <div class="col s6">
                            <p class="custom-label" >First Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="owner_firstName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Juan"
                                   required>
                        </div>
                        @*MIddle name*@
                        <div class="col s6">
                            <p class="custom-label" >Middle Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="owner_middleName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Mercado"
                                   required>
                        </div>
                    </div>
                    <div class="row">
                        @*Last name*@
                        <div class="col s12">
                            <p class="custom-label" >Last Name <span class="required-mark">*</span></p>
                            <input type="text" class="custom-input"
                                   ng-model="owner_lastName"
                                   maxlength="150"
                                   placeholder="Dela Cruz"
                                   required>
                        </div>
                    </div>
                </div>
            </div>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label" >Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           ng-model="owner_email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           required>
                </div>
            </div>

            <div class="row">
                @*Gender*@
                <div class="col s3" ng-init="getGender()">
                    <p class="custom-label">Gender <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" ng-model="owner_genderID">
                        <option value="" disabled selected>Select Gender</option>
                        <option ng-repeat="gender in genderArray" value="{{gender.genderID}}">{{gender.description}}</option>
                        </select>
                </div>
                @*Birthdate*@
                <div class="col s3">
                    <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                    <div class="datepicker-wrapper">
                        <input id="birthDate"
                               ng-model="owner_birthDate"
                               type="text"
                               class="datepicker custom-input"
                               readonly
                               required>
                        <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                    </div>
                </div>

                <div class="col s3">
                    @*Civil status*@
                    <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" required ng-model="owner_civilStatus"> 
                        <option value="" disabled selected>Select Status</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Widowed</option>
                    </select>
                </div>
                <div class="col s3">
                    @*Contact number*@
                    <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                    <input id="contactNumber"
                           ng-model="owner_contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="09XX-XXX-XXXX"
                           maxlength="13"
                           required>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    @*Address*@
                    <p class="custom-label">Address <span class="required-mark">*</span></p>
                    <input id="address"
                            ng-model="owner_address"
                           type="text"
                           class="custom-input"
                           maxlength="250"
                           required>
                </div>
            </div>

            <div class="row">
                @*Specialization*@
                <div class="col s12">
                    <p class="custom-label">Specialization</p>
                    <input type="text"
                            ng-model="owner_specialization"
                           class="custom-input"
                           maxlength="50">
                </div>

            </div>


        </form>
    </div>

    @*Submit or cancel*@
    <div class="modal-footer footer-center" style="margin-top:2.5vh">
        <button type="submit" class="edit-btn left" style="font-weight:500;">UPLOAD PHOTO</button>
        <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500;" ng-click="addOwner()    ">ADD</button>
    </div>
</div>

@*ADD Denstist Information Form*@
<div id="dentistInformationFormAdd" class="modal patientInformationForm-modal">
    <div>
        <h5 class="modal-form-title">Add New Dentist</h5>

        <form>
            <div class="row">
                <div class="col s4">
                    @*Photo upload*@
                    <div class="row s4 center-align photo-upload-container">
                        <div class="col s12">
                            <div class="photo-box">
                                <i class="material-icons photo-placeholder-icon">image</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s8">
                    <div class="row">
                        @*First name*@
                        <div class="col s6">
                            <p class="custom-label">First Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   class="custom-input"
                                   ng-model="dentist_firstName"
                                   maxlength="150"
                                   placeholder="Juan"
                                   required>
                        </div>
                        @*MIddle name*@
                        <div class="col s6">
                            <p class="custom-label">Middle Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="dentist_middleName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Mercado"
                                   required>
                        </div>
                    </div>
                    <div class="row">
                        @*Last name*@
                        <div class="col s12">
                            <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                            <input type="text" class="custom-input"
                                   maxlength="150"
                                   ng-model="dentist_lastName"
                                   placeholder="Dela Cruz"
                                   required>
                        </div>
                    </div>
                </div>
            </div>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           @*ng-model="signUp_lastName"*@
                           ng-model="dentist_email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           required>
                </div>
            </div>

            <div class="row">
                @*Gender*@
                <div class="col s3" >
                    <p class="custom-label">Gender <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" ng-model="dentist_genderID">
                        <option value="" disabled selected>Select Gender</option>
                        <option ng-repeat="gender in genderArray" value="{{gender.genderID}}">{{gender.description}}</option>
                    </select>
                </div>
                @*Birthdate*@
                <div class="col s3">
                    <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                    <div class="datepicker-wrapper">
                        <input id="birthDate"
                               type="text"
                               ng-model="dentist_birthDate"
                               class="datepicker custom-input"
                               readonly
                               required>
                        <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                    </div>
                </div>

                <div class="col s3">
                    @*Civil status*@
                    <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" required   ng-model="dentist_civilStatus">
                        <option value="" disabled selected>Select Status</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Widowed</option>
                    </select>
                </div>
                <div class="col s3">
                    @*Contact number*@
                    <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                    <input id="contactNumber"
                           ng-model="dentist_contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="09XX-XXX-XXXX"
                           maxlength="11"
                           required>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    @*Address*@
                    <p class="custom-label">Address <span class="required-mark">*</span></p>
                    <input id="address"
                           type="text"
                           ng-model="dentist_address"
                           class="custom-input"
                           maxlength="250"
                           required>
                </div>
            </div>

            <div class="row">
                @*Specialization*@
                <div class="col s12">
                    <p class="custom-label">Specialization</p>
                    <input type="text"
                           ng-model="dentist_specialization"
                           class="custom-input"
                           maxlength="50">
                </div>

            </div>
            <div class="row">
                @*Branch*@
                <div class="col s12">
                    <p class="custom-label">Branch</p>
                    <select class="browser-default custom-input" ng-model="dentist_branchID">
                        <option value="" disabled selected>Select Branch</option>
                        <option ng-repeat="branch in branchArray" value="{{branch.branchID}}">{{branch.description}}</option>
                    </select>
                </div>

            </div>
        </form>
    </div>

    @*Submit or cancel*@
    <div class="modal-footer footer-center" style="margin-top:2.5vh">
        <button type="submit" class="edit-btn left" style="font-weight:500;">UPLOAD PHOTO</button>
        <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500;" ng-click="addDentist()">ADD</button>
    </div>
</div>

@*ADD Staff Information Form*@
<div id="staffInformationFormAdd" class="modal patientInformationForm-modal">
    <div>
        <h5 class="modal-form-title">Add New Staff</h5>

        <form>
            <div class="row">
                <div class="col s4">
                    @*Photo upload*@
                    <div class="row s4 center-align photo-upload-container">
                        <div class="col s12">
                            <div class="photo-box">
                                <i class="material-icons photo-placeholder-icon">image</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s8">
                    <div class="row">
                        @*First name*@
                        <div class="col s6">
                            <p class="custom-label">First Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="staff_firstName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Juan"
                                   required>
                        </div>
                        @*MIddle name*@
                        <div class="col s6">
                            <p class="custom-label">Middle Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="staff_middleName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Mercado"
                                   required>
                        </div>
                    </div>
                    <div class="row">
                        @*Last name*@
                        <div class="col s12">
                            <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                            <input type="text" class="custom-input"
                                   ng-model="staff_lastName"
                                   maxlength="150"
                                   placeholder="Dela Cruz"
                                   required>
                        </div>
                    </div>
                </div>
            </div>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           ng-model="staff_email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           required>
                </div>
            </div>

            <div class="row">
                @*Gender*@
                <div class="col s3">
                    <p class="custom-label">Gender <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" ng-model="staff_genderID">
                        <option value="" disabled selected>Select Gender</option>
                        <option ng-repeat="gender in genderArray" value="{{gender.genderID}}">{{gender.description}}</option>
                    </select>
                </div>
                @*Birthdate*@
                <div class="col s3">
                    <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                    <div class="datepicker-wrapper">
                        <input id="birthDate"
                               ng-model="staff_birthDate"
                               type="text"
                               class="datepicker custom-input"
                               readonly
                               required>
                        <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                    </div>
                </div>

                <div class="col s3">
                    @*Civil status*@
                    <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" required ng-model="staff_civilStatus">
                        <option value="" disabled selected>Select Status</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Widowed</option>
                    </select>
                </div>
                <div class="col s3">
                    @*Contact number*@
                    <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                    <input id="contactNumber"
                           type="text"
                           ng-model="staff_contactNumber"
                           class="custom-input"
                           placeholder="09XX-XXX-XXXX"
                           maxlength="13"
                           required>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    @*Address*@
                    <p class="custom-label">Address <span class="required-mark">*</span></p>
                    <input id="address"
                           type="text"
                           ng-model="staff_address"
                           class="custom-input"
                           maxlength="250"
                           required>
                </div>
            </div>

            <div class="row">
                @*Clinic Role*@
                <div class="col s12">
                    <p class="custom-label">Clinic Role</p>
                    <input type="text"
                           ng-model="staff_staffRole"
                           class="custom-input"
                           maxlength="50">
                </div>

            </div>

            <div class="row">
                @*Branch*@
                <div class="col s12">
                    <p class="custom-label">Branch</p>
                    <select class="browser-default custom-input" ng-model="staff_branchID">
                        <option value="" disabled selected>Select Branch</option>
                        <option ng-repeat="branch in branchArray" value="{{branch.branchID}}">{{branch.description}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    @*Submit or cancel*@
    <div class="modal-footer footer-center" style="margin-top:2.5vh">
        <button type="submit" class="edit-btn left" style="font-weight:500;">UPLOAD PHOTO</button>
        <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500;" ng-click="addStaff()">ADD</button>
    </div>
</div>


@*EDIT Owner Information Form*@
<div id="ownerInformationFormEdit" class="modal patientInformationForm-modal">
    <div>
        <h5 class="modal-form-title">Edit Owner Profile</h5>

        <form>
            <div class="row">
                <div class="col s4">
                    @*Photo upload*@
                    <div class="row s4 center-align photo-upload-container">
                        <div class="col s12">
                            <div class="photo-box">
                                <i class="material-icons photo-placeholder-icon">image</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s8">
                    <div class="row">
                        @*First name*@
                        <div class="col s6">
                            <p class="custom-label">First Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="owner.firstName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Juan"
                                   required>
                        </div>
                        @*MIddle name*@
                        <div class="col s6">
                            <p class="custom-label">Middle Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="owner.middleName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Mercado"
                                   required>
                        </div>
                    </div>
                    <div class="row">
                        @*Last name*@
                        <div class="col s12">
                            <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                            <input type="text" class="custom-input"
                                   ng-model="owner.lastName"
                                   maxlength="150"
                                   placeholder="Dela Cruz"
                                   required>
                        </div>
                    </div>
                </div>
            </div>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           ng-model="owner.email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           required>
                </div>
            </div>

            <div class="row">
                @*Gender*@
                <div class="col s3">
                    <p class="custom-label">Gender <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" ng-model="owner.genderID" ng-options="g.genderID as g.description for g in genderArray">
                        <option value="" disabled selected>Select Gender</option>
                    </select>
                </div>
                @*Birthdate*@
                <div class="col s3">
                    <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                    <div class="datepicker-wrapper">
                        <input id="birthDate"
                               ng-model="owner.birthDate"
                               type="text"
                               class="datepicker custom-input"
                               readonly
                               required>
                        <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                    </div>
                </div>

                <div class="col s3">
                    @*Civil status*@
                    <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" required ng-model="owner.civilStatus">
                        <option value="" disabled selected>Select Status</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Widowed</option>
                    </select>
                </div>
                <div class="col s3">
                    @*Contact number*@
                    <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                    <input id="contactNumber"
                           ng-model="owner.contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="09XX-XXX-XXXX"
                           maxlength="13"
                           required>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    @*Address*@
                    <p class="custom-label">Address <span class="required-mark">*</span></p>
                    <input id="address"
                           ng-model="owner.address"
                           type="text"
                           class="custom-input"
                           maxlength="250"
                           required>
                </div>
            </div>

            <div class="row">
                @*Specialization*@
                <div class="col s12">
                    <p class="custom-label">Specialization</p>
                    <input type="text"
                           ng-model="owner.specialization"
                           class="custom-input"
                           maxlength="50">
                </div>

            </div>


        </form>
    </div>

    @*Submit or cancel*@
    <div class="modal-footer footer-center" style="margin-top:2.5vh">
        <button type="submit" class="edit-btn left" style="font-weight:500;">UPLOAD PHOTO</button>
        <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500;" ng-click="editOwner()">EDIT</button>
    </div>
</div>

@*EDIT Denstist Information Form*@
<div id="dentistInformationFormEdit" class="modal patientInformationForm-modal">
    <div>
        <h5 class="modal-form-title">Edit Dentist Profile</h5>


        <form>
            <div class="row">
                <div class="col s4">
                    @*Photo upload*@
                    <div class="row s4 center-align photo-upload-container">
                        <div class="col s12">
                            <div class="photo-box">
                                <i class="material-icons photo-placeholder-icon">image</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s8">
                    <div class="row">
                        @*First name*@
                        <div class="col s6">
                            <p class="custom-label">First Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   class="custom-input"
                                   ng-model="dentist.firstName"
                                   maxlength="150"
                                   placeholder="Juan"
                                   required>
                        </div>
                        @*MIddle name*@
                        <div class="col s6">
                            <p class="custom-label">Middle Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="dentist.middleName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Mercado"
                                   required>
                        </div>
                    </div>
                    <div class="row">
                        @*Last name*@
                        <div class="col s12">
                            <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                            <input type="text" class="custom-input"
                                   maxlength="150"
                                   ng-model="dentist.lastName"
                                   placeholder="Dela Cruz"
                                   required>
                        </div>
                    </div>
                </div>
            </div>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           @*ng-model="signUp_lastName"*@
                           ng-model="dentist.email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           required>
                </div>
            </div>

            <div class="row">
                @*Gender*@
                <div class="col s3">
                    <p class="custom-label">Gender <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" ng-model="dentist.genderID" ng-options="g.genderID as g.description for g in genderArray"> 
                        <option value="" disabled selected>Select Gender</option>
                    </select>
                </div>
                @*Birthdate*@
                <div class="col s3">
                    <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                    <div class="datepicker-wrapper">
                        <input id="birthDate"
                               type="text"
                               ng-model="dentist.birthDate"
                               class="datepicker custom-input"
                               readonly
                               required>
                        <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                    </div>
                </div>

                <div class="col s3">
                    @*Civil status*@
                    <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" required ng-model="dentist.civilStatus">
                        <option value="" disabled selected>Select Status</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Widowed</option>
                    </select>
                </div>
                <div class="col s3">
                    @*Contact number*@
                    <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                    <input id="contactNumber"
                           ng-model="dentist.contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="09XX-XXX-XXXX"
                           maxlength="11"
                           required>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    @*Address*@
                    <p class="custom-label">Address <span class="required-mark">*</span></p>
                    <input id="address"
                           type="text"
                           ng-model="dentist.address"
                           class="custom-input"
                           maxlength="250"
                           required>
                </div>
            </div>

            <div class="row">
                @*Specialization*@
                <div class="col s12">
                    <p class="custom-label">Specialization</p>
                    <input type="text"
                           ng-model="dentist.specialization"
                           class="custom-input"
                           maxlength="50">
                </div>

            </div>
            <div class="row">
                @*Branch*@
                <div class="col s12">
                    <p class="custom-label">Branch</p>
                    <select class="browser-default custom-input" ng-model="dentist.branchID" ng-options="b.branchID as b.description for b in branchArray">
                        <option value="" disabled selected>Select Branch</option>
                    </select>
                </div>

            </div>
        </form>
    </div>

    @*Submit or cancel*@
    <div class="modal-footer footer-center" style="margin-top:2.5vh">
        <button type="submit" class="edit-btn left" style="font-weight:500;">UPLOAD PHOTO</button>
        <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500;" ng-click="editDentist()">EDIT</button>
    </div>
</div>

@*ADD Staff Information Form*@
<div id="staffInformationFormEdit" class="modal patientInformationForm-modal">
    <div>
        <h5 class="modal-form-title">Edit Staff Profile</h5>


        <form>
            <div class="row">
                <div class="col s4">
                    @*Photo upload*@
                    <div class="row s4 center-align photo-upload-container">
                        <div class="col s12">
                            <div class="photo-box">
                                <i class="material-icons photo-placeholder-icon">image</i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col s8">
                    <div class="row">
                        @*First name*@
                        <div class="col s6">
                            <p class="custom-label">First Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="staff.firstName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Juan"
                                   required>
                        </div>
                        @*MIddle name*@
                        <div class="col s6">
                            <p class="custom-label">Middle Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="staff.middleName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Mercado"
                                   required>
                        </div>
                    </div>
                    <div class="row">
                        @*Last name*@
                        <div class="col s12">
                            <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                            <input type="text" class="custom-input"
                                   ng-model="staff.lastName"
                                   maxlength="150"
                                   placeholder="Dela Cruz"
                                   required>
                        </div>
                    </div>
                </div>
            </div>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           ng-model="staff.email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           required>
                </div>
            </div>

            <div class="row">
                @*Gender*@
                <div class="col s3">
                    <p class="custom-label">Gender <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" ng-model="staff.genderID" ng-options="g.genderID as g.description for g in genderArray">
                        <option value="" disabled selected>Select Gender</option>
                    </select>
                </div>
                @*Birthdate*@
                <div class="col s3">
                    <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                    <div class="datepicker-wrapper">
                        <input id="birthDate"
                               ng-model="staff.birthDate"
                               type="text"
                               class="datepicker custom-input"
                               readonly
                               required>
                        <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                    </div>
                </div>

                <div class="col s3">
                    @*Civil status*@
                    <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" required ng-model="staff.civilStatus">
                        <option value="" disabled selected>Select Status</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Widowed</option>
                    </select>
                </div>
                <div class="col s3">
                    @*Contact number*@
                    <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                    <input id="contactNumber"
                           type="text"
                           ng-model="staff.contactNumber"
                           class="custom-input"
                           placeholder="09XX-XXX-XXXX"
                           maxlength="13"
                           required>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    @*Address*@
                    <p class="custom-label">Address <span class="required-mark">*</span></p>
                    <input id="address"
                           type="text"
                           ng-model="staff.address"
                           class="custom-input"
                           maxlength="250"
                           required>
                </div>
            </div>

            <div class="row">
                @*Clinic Role*@
                <div class="col s12">
                    <p class="custom-label">Clinic Role</p>
                    <input type="text"
                           ng-model="staff.staffRole"
                           class="custom-input"
                           maxlength="50">
                </div>

            </div>

            <div class="row">
                @*Branch*@
                <div class="col s12">
                    <p class="custom-label">Branch</p>
                    <select class="browser-default custom-input" ng-model="staff.branchID" ng-options="b.branchID as b.description for b in branchArray"> 
                        <option value="" disabled selected>Select Branch</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    @*Submit or cancel*@
    <div class="modal-footer footer-center" style="margin-top:2.5vh">
        <button type="submit" class="edit-btn left" style="font-weight:500;">UPLOAD PHOTO</button>
        <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500;" ng-click="editStaff()">EDIT</button>
    </div>
</div>



@*DELETE owner*@
<div id="modalDeleteOwner" class="modal patientInformationForm-modal" style="width:30% !important; padding:0 !important">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Owner Profile</h5>

        <p class="custom-label">Are you sure you want to delete this owner profile?</p>
        <input type="hidden" id="hiddenOwnerDelete" value="" />
    </div>

    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0" ng-click="deleteOwner()">DELETE</button>
    </div>
</div>

@*DELETE dentist*@
<div id="modalDeleteDentist" class="modal patientInformationForm-modal" style="width:30% !important; padding:0 !important">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Dentist Profile</h5>

        <p class="custom-label">Are you sure you want to delete this dentist profile?</p>
        <input type="hidden" id="hiddenDentistDelete" value="" />
    </div>

    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0" ng-click="deleteDentist()">DELETE</button>
    </div>
</div>

@*DELETE staff*@
<div id="modalDeleteStaff" class="modal patientInformationForm-modal" style="width:30% !important; padding:0 !important">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Staff Profile</h5>

        <p class="custom-label">Are you sure you want to delete this staff profile?</p>
        <input type="hidden" id="hiddenStaffDelete" value="" />
    </div>

    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0" ng-click="deleteStaff()">DELETE</button>
    </div>
</div>