@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="dashContainer">
    @*top part (welcome, refresh, logout)*@
    <div class="row brown-text lighten-1" style="margin-top: 1rem">
        @*user name*@
        <div class="col m8 l8"  ng-init="getClinicStaff()"><h4 class="bold">Clinic Staff</h4></div>
        @*refresh and logout buttons*@
        <div class="col m4 l4">
            <span class="right">
                <div class="col valign-wrapper"><a href="#adminClinicStaffTab" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Refresh Dashboard"> <i class="material-icons brown-text lighten-1">refresh</i></a></div>
                <div class="col valign-wrapper" ng-click="logOut()"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a></div>
            </span>
        </div>
    </div>

    <div class="card grey lighten-2" style="margin-top:2vh;">
        <nav class="nav-extended grey lighten-2 z-depth-0">
            <div class="nav-content p-1">
                <ul class="tabs tabs-transparent center-tabs">
                    <li class="tab px-1"><a class="brown-text p-0" href="#Owner">Owner</a></li>
                    <li class="tab px-1"><a class="brown-text p-0" href="#Dentist">Dentist</a></li>
                    <li class="tab px-1"><a class="brown-text p-0" href="#Staff">Staff</a></li>
                </ul>
            </div>
        </nav>

        <div class="card-content">

            <div id="Owner" class="containerOverflow-2 row m-0" n>
                <div class="row m-0">
                    <p class="bold brown-text lighten-1" style="font-size:1.8rem; margin-bottom:1.7vh">Owner</p>
                    <a class="edit-btn modal-trigger right white-text" style="margin-top: -4.5vh" data-target="ownerInformationFormAdd">
                        <i class="material-icons left white-text">group_add</i>Add Owner
                    </a>
                </div>
                @*Owner Table*@
                <table id="adminClinicStaffTabTableOwner" class="hover tableClk">
                    <thead>
                        <tr class="brown-text lighten-1">
                            <th>Name</th>
                            <th colspan="2">Specialization</th>
                        </tr>
                    </thead>
                    @*table content*@
                    <tbody>
                        <tr data-href="#"  ng-repeat="owner in clinicOwners track by owner.ownerID">
                            <td>{{owner.fullName}}</td>
                            <td>{{owner.specialization}}</td>
                            <td>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modalDeleteOwner" title="Archive Account"><i class="material-icons brown-text lighten-1" ng-click="selectDeleteOwner(owner.ownerID, owner.accID)">archive</i></a>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="ownerInformationFormEdit" title="View Account Details" style="margin-right: 0.5rem !important" ng-click="editSelectOwner(owner.ownerID)"><i class="material-icons brown-text lighten-1">visibility</i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="brown-text lighten-1">
                            <th>Dentist Name</th>
                            <th colspan="2">Specialization</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div id="Dentist" class="containerOverflow-2 row m-0">
                <div class="row m-0">
                    <p class="bold brown-text lighten-1" style="font-size:1.8rem; margin-bottom:1.7vh">Dentist</p>
                    <a class="edit-btn modal-trigger right white-text" style="margin-top: -4.5vh" data-target="dentistInformationFormAdd">
                        <i class="material-icons white-text left">group_add</i>Add Dentist
                    </a>
                </div>
                @*Dentist Table*@
                <table id="adminClinicStaffTabTableDentist" class="hover tableClk">
                    <thead>
                        <tr class="brown-text lighten-1" >
                            <th>Name</th>
                            <th>Specialization</th>
                            <th colspan="2">Branch</th>
                        </tr>
                    </thead>
                    @*table content*@
                    <tbody>
                        <tr data-href="#" ng-repeat="dentist in clinicDentists track by dentist.dentistID">
                            <td>{{dentist.fullName}}</td>
                            <td>{{dentist.specialization}}</td>
                            <td>{{dentist.description}}</td>
                            <td>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modalDeleteDentist" title="Archive Account"><i class="material-icons brown-text lighten-1" ng-click="selectDeleteDentist(dentist.dentistID, dentist.accID)">archive</i></a>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="dentistInformationFormEdit" title="View Account Details" style="margin-right: 0.5rem !important" ><i class="material-icons brown-text lighten-1" ng-click="editSelectDentist(dentist.dentistID)">visibility</i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="brown-text lighten-1">
                            <th>Name</th>
                            <th>Specialization</th>
                            <th>Branch</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div id="Staff" class="containerOverflow-2 row m-0">
                <div class="row m-0">
                    <p class="bold brown-text lighten-1" style="font-size:1.8rem; margin-bottom:1.7vh">Staff</p>
                    <a class="edit-btn modal-trigger right white-text" style="margin-top: -4.5vh" data-target="staffInformationFormAdd"><i class="material-icons white-text left">group_add</i>Add Staff</a>
                </div>
                @*Staff Table*@
                <table id="adminClinicStaffTabTableStaff" class="hover tableClk">
                    <thead>
                        <tr class="brown-text lighten-1">
                            <th>Name</th>
                            <th>Role</th>
                            <th colspan="2">Branch</th>
                        </tr>
                    </thead>
                    @*table content*@
                    <tbody>
                        <tr data-href="#" ng-repeat="staff in clinicStaff track by staff.staffID">
                            <td>{{staff.fullName}}</td>
                            <td>{{staff.staffRole}}</td>
                            <td>{{staff.description}}</td>
                            <td>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modalDeleteStaff" title="Archive Account"><i class="material-icons brown-text lighten-1" ng-click="selectDeleteStaff(staff.staffID, staff.accID)">archive</i></a>
                                <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="staffInformationFormEdit" title="View Account Details" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1" ng-click="editSelectStaff(staff.staffID)">visibility</i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="brown-text lighten-1">
                            <th>Name</th>
                            <th>Role</th>
                            <th>Branch</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

</div>


@*ADD Owner Information Form*@
<div id="ownerInformationFormAdd" class="modal patientInformationForm-modal">
    <div>
        <h5 class="modal-form-title">Add New Owner</h5>

        <form>
            <div class="row">
                <div class="col s4">
                    @*Photo upload*@
                    <div class="row s4 center-align" style="margin-top: 2.5vh; margin-left: 2.5vh;">
                        <div class="col s12">
                            <div class="photo-box" ng-click="pickPhoto('owner')" style="cursor:pointer;">
                                <img ng-if="ownerPhotoPreview" ng-src="{{ownerPhotoPreview}}" alt="Preview" style="width:100%; height:100%; object-fit:cover;" />
                                <i class="material-icons photo-placeholder-icon" ng-if="!ownerPhotoPreview">image</i>
                            </div>
                            <input id="ownerPhotoInput" type="file" accept="image/*" style="display:none"
                                   onchange="angular.element(this).scope().onPhotoSelected(this.files, 'owner')" />
                        </div>
                    </div>
                </div>

                <div class="col s8">
                    <div class="row">
                        @*First name*@
                        <div class="col s6">
                            <p class="custom-label">First Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="owner_firstName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Juan"
                                   required>
                        </div>
                        @*MIddle name*@
                        <div class="col s6">
                            <p class="custom-label">Middle Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="owner_middleName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Mercado"
                                   required>
                        </div>
                    </div>
                    <div class="row">
                        @*Last name*@
                        <div class="col s12">
                            <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                            <input type="text" class="custom-input"
                                   ng-model="owner_lastName"
                                   maxlength="150"
                                   placeholder="Dela Cruz"
                                   required>
                        </div>
                    </div>
                </div>
            </div>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           ng-model="owner_email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           ng-change="checkAddOwnerEmail()"
                           ng-focus="showOwnerEmailHint = true"
                           ng-class="{
                       'input-valid': ownerEmailFormatValid && !ownerEmailTaken,
                       'input-invalid': owner_email && !ownerEmailFormatValid
                   }"
                           required>
                    <p class="helper-text" style="margin-top:.4rem;">
                        <span ng-show="owner_email"
                              ng-style="{'color': ownerEmailFormatValid ? '#2e7d32' : '#d32f2f'}">
                            {{ ownerEmailFormatValid ? 'Email is valid' : 'Enter a valid email address' }}
                        </span>
                        <span ng-show="ownerEmailFormatValid && ownerEmailTaken" style="color:#d32f2f; display:block; margin-top:.2rem;">
                            Email already taken
                        </span>
                    </p>
                </div>
            </div>

            <div class="row">
                @*Gender*@
                <div class="col s3">
                    <p class="custom-label">Gender <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" ng-model="owner_genderID">
                        <option value="" disabled selected>Select Gender</option>
                        <option ng-repeat="gender in genderArray" value="{{gender.genderID}}">{{gender.description}}</option>
                    </select>
                </div>
                @*Birthdate*@
                <div class="col s3">
                    <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                    <div class="datepicker-wrapper">
                        <input id="birthDate"
                               ng-model="owner_birthDate"
                               type="text"
                               class="datepicker custom-input"
                               readonly
                               required>
                        <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                    </div>
                </div>

                <div class="col s3">
                    @*Civil status*@
                    <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" required ng-model="owner_civilStatus">
                        <option value="" disabled selected>Select Status</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Widowed</option>
                    </select>
                </div>
                <div class="col s3">
                    <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                    <input id="ownerContactNumber"
                           ng-model="owner_contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="09XX-XXX-XXXX"
                           maxlength="11"
                           oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                           ng-change="checkAddOwnerContact()"
                           ng-class="{'input-valid': ownerContactValid, 'input-invalid': owner_contactNumber && !ownerContactValid}"
                           required>
                </div>
            </div>

            <div class="row">


                <div class="col s6">
                    @*Religion*@
                    <p class="custom-label">Religion <span class="required-mark">*</span></p>
                    <input id="religion"
                           type="text"
                           class="custom-input"
                           placeholder="Roman-Catholic"
                           maxlength="50"
                           required>
                </div>

                <div class="col s6">
                    @*Nationality*@
                    <p class="custom-label">Nationality <span class="required-mark">*</span></p>
                    <input id="contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="Filipino"
                           maxlength="50"
                           required>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Address <span class="required-mark">*</span></p>
                    <input ng-model="owner_address"
                           class="custom-input"
                           maxlength="250"
                           ng-change="checkAddOwnerAddress()"
                           ng-class="{'input-valid': ownerAddressValid, 'input-invalid': owner_address && !ownerAddressValid}"
                           required>
                </div>
            </div>

            <div class="row">
                @*Specialization*@
                <div class="col s12">
                    <p class="custom-label">Specialization</p>
                    <input type="text"
                           ng-model="owner_specialization"
                           class="custom-input"
                           maxlength="50">
                </div>

            </div>


        </form>
    </div>

    @*Submit or cancel*@
        <div class="modal-footer" style="margin-top:2.5vh">
            <button type="button" class="edit-btn left" style="font-weight:500;" ng-click="pickPhoto('owner')">UPLOAD PHOTO</button>
            <button class="modal-close cancel-btn" style="font-weight: 500; margin-right: .5vh">CANCEL</button>
            <button type="submit"
                    class="edit-btn modal-close"
                    ng-click="addOwner()"
                    ng-disabled="!isAddOwnerFormValid()">
                ADD
            </button>
        </div>
</div>

@*ADD Denstist Information Form*@
<div id="dentistInformationFormAdd" class="modal patientInformationForm-modal">
    <div>
        <h5 class="modal-form-title">Add New Dentist</h5>

        <form>
            <div class="row">
                <div class="col s4">
                    @*Photo upload*@
                    <div class="row s4 center-align" style="margin-top: 2.5vh; margin-left: 2.5vh;">
                        <div class="col s12">
                            <div class="photo-box" ng-click="pickPhoto('dentist')" style="cursor:pointer;">
                                <img ng-if="dentistPhotoPreview" ng-src="{{dentistPhotoPreview}}" alt="Preview" style="width:100%; height:100%; object-fit:cover;" />
                                <i class="material-icons photo-placeholder-icon" ng-if="!dentistPhotoPreview">image</i>
                            </div>
                            <input id="dentistPhotoInput" type="file" accept="image/*" style="display:none"
                                   onchange="angular.element(this).scope().onPhotoSelected(this.files, 'dentist')" />
                        </div>
                    </div>
                </div>

                <div class="col s8">
                    <div class="row">
                        @*First name*@
                        <div class="col s6">
                            <p class="custom-label">First Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   class="custom-input"
                                   ng-model="dentist_firstName"
                                   maxlength="150"
                                   placeholder="Juan"
                                   required>
                        </div>
                        @*MIddle name*@
                        <div class="col s6">
                            <p class="custom-label">Middle Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="dentist_middleName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Mercado"
                                   required>
                        </div>
                    </div>
                    <div class="row">
                        @*Last name*@
                        <div class="col s12">
                            <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                            <input type="text" class="custom-input"
                                   maxlength="150"
                                   ng-model="dentist_lastName"
                                   placeholder="Dela Cruz"
                                   required>
                        </div>
                    </div>
                </div>
            </div>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           ng-model="dentist_email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           ng-change="checkAddDentistEmail()"
                           ng-class="{
                       'input-valid': dentistEmailFormatValid && !dentistEmailTaken,
                       'input-invalid': dentist_email && !dentistEmailFormatValid
                   }"
                           required>
                    <p class="helper-text" style="margin-top:.4rem;">
                        <span ng-show="dentist_email"
                              ng-style="{'color': dentistEmailFormatValid ? '#2e7d32' : '#d32f2f'}">
                            {{ dentistEmailFormatValid ? 'Email is valid' : 'Enter a valid email address' }}
                        </span>
                        <span ng-show="dentistEmailFormatValid && dentistEmailTaken" style="color:#d32f2f; display:block; margin-top:.2rem;">
                            Email already taken
                        </span>
                    </p>
                </div>
            </div>

            <div class="row">
                @*Gender*@
                <div class="col s3">
                    <p class="custom-label">Gender <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" ng-model="dentist_genderID">
                        <option value="" disabled selected>Select Gender</option>
                        <option ng-repeat="gender in genderArray" value="{{gender.genderID}}">{{gender.description}}</option>
                    </select>
                </div>
                @*Birthdate*@
                <div class="col s3">
                    <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                    <div class="datepicker-wrapper">
                        <input id="birthDate"
                               type="text"
                               ng-model="dentist_birthDate"
                               class="datepicker custom-input"
                               readonly
                               required>
                        <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                    </div>
                </div>

                <div class="col s3">
                    @*Civil status*@
                    <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" required ng-model="dentist_civilStatus">
                        <option value="" disabled selected>Select Status</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Widowed</option>
                    </select>
                </div>
                <div class="col s3">
                    <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                    <input id="dentistContactNumber"
                           ng-model="dentist_contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="09XX-XXX-XXXX"
                           maxlength="11"
                           oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                           ng-change="checkAddDentistContact()"
                           ng-class="{'input-valid': dentistContactValid, 'input-invalid': dentist_contactNumber && !dentistContactValid}"
                           required>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Address <span class="required-mark">*</span></p>
                    <input ng-model="dentist_address"
                           class="custom-input"
                           maxlength="250"
                           ng-change="checkAddDentistAddress()"
                           ng-class="{'input-valid': dentistAddressValid, 'input-invalid': dentist_address && !dentistAddressValid}"
                           required>
                </div>
            </div>

            <div class="row">


                <div class="col s6">
                    @*Religion*@
                    <p class="custom-label">Religion <span class="required-mark">*</span></p>
                    <input id="religion"
                           type="text"
                           class="custom-input"
                           placeholder="Roman-Catholic"
                           maxlength="50"
                           required>
                </div>

                <div class="col s6">
                    @*Nationality*@
                    <p class="custom-label">Nationality <span class="required-mark">*</span></p>
                    <input id="contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="Filipino"
                           maxlength="50"
                           required>
                </div>
            </div>

            <div class="row">
                @*Specialization*@
                <div class="col s12">
                    <p class="custom-label">Specialization</p>
                    <input type="text"
                           ng-model="dentist_specialization"
                           class="custom-input"
                           maxlength="50">
                </div>

            </div>
            <div class="row">
                @*Branch*@
                <div class="col s12">
                    <p class="custom-label">Branch</p>
                    <select class="browser-default custom-input" ng-model="dentist_branchID">
                        <option value="" disabled selected>Select Branch</option>
                        <option ng-repeat="branch in branchArray" value="{{branch.branchID}}">{{branch.description}}</option>
                    </select>
                </div>

            </div>
        </form>
    </div>

    @*Submit or cancel*@
        <div class="modal-footer" style="margin-top:2.5vh">
            <button type="button" class="edit-btn left" style="font-weight:500;" ng-click="pickPhoto('dentist')">UPLOAD PHOTO</button>
            <button class="modal-close cancel-btn" style="font-weight: 500; margin-right: .5vh">CANCEL</button>
            <button type="submit"
                    class="edit-btn modal-close"
                    ng-click="addDentist()"
                    ng-disabled="!isAddDentistFormValid()">
                ADD
            </button>
        </div>
</div>

@*ADD Staff Information Form*@
<div id="staffInformationFormAdd" class="modal patientInformationForm-modal">
    <div>
        <h5 class="modal-form-title">Add New Staff</h5>

        <form>
            <div class="row">
                <div class="col s4">
                    @*Photo upload*@
                    <div class="row s4 center-align" style="margin-top: 2.5vh; margin-left: 2.5vh;">
                        <div class="col s12">
                            <div class="photo-box" ng-click="pickPhoto('staff')" style="cursor:pointer;">
                                <img ng-if="staffPhotoPreview" ng-src="{{staffPhotoPreview}}" alt="Preview" style="width:100%; height:100%; object-fit:cover;" />
                                <i class="material-icons photo-placeholder-icon" ng-if="!staffPhotoPreview">image</i>
                            </div>
                            <input id="staffPhotoInput" type="file" accept="image/*" style="display:none"
                                   onchange="angular.element(this).scope().onPhotoSelected(this.files, 'staff')" />
                        </div>
                    </div>
                </div>

                <div class="col s8">
                    <div class="row">
                        @*First name*@
                        <div class="col s6">
                            <p class="custom-label">First Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="staff_firstName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Juan"
                                   required>
                        </div>
                        @*MIddle name*@
                        <div class="col s6">
                            <p class="custom-label">Middle Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="staff_middleName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Mercado"
                                   required>
                        </div>
                    </div>
                    <div class="row">
                        @*Last name*@
                        <div class="col s12">
                            <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                            <input type="text" class="custom-input"
                                   ng-model="staff_lastName"
                                   maxlength="150"
                                   placeholder="Dela Cruz"
                                   required>
                        </div>
                    </div>
                </div>
            </div>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           ng-model="staff_email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           ng-change="checkAddStaffEmail()"
                           ng-class="{
                   'input-valid': staffEmailFormatValid && !staffEmailTaken,
                   'input-invalid': staff_email && !staffEmailFormatValid
               }"
                           required>
                    <p class="helper-text" style="margin-top:.4rem;">
                        <span ng-show="staff_email"
                              ng-style="{'color': staffEmailFormatValid ? '#2e7d32' : '#d32f2f'}">
                            {{ staffEmailFormatValid ? 'Email is valid' : 'Enter a valid email address' }}
                        </span>
                        <span ng-show="staffEmailFormatValid && staffEmailTaken" style="color:#d32f2f; display:block; margin-top:.2rem;">
                            Email already taken
                        </span>
                    </p>
                </div>
            </div>

            <div class="row">
                @*Gender*@
                <div class="col s3">
                    <p class="custom-label">Gender <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" ng-model="staff_genderID">
                        <option value="" disabled selected>Select Gender</option>
                        <option ng-repeat="gender in genderArray" value="{{gender.genderID}}">{{gender.description}}</option>
                    </select>
                </div>
                @*Birthdate*@
                <div class="col s3">
                    <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                    <div class="datepicker-wrapper">
                        <input id="birthDate"
                               ng-model="staff_birthDate"
                               type="text"
                               class="datepicker custom-input"
                               readonly
                               required>
                        <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                    </div>
                </div>

                <div class="col s3">
                    @*Civil status*@
                    <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" required ng-model="staff_civilStatus">
                        <option value="" disabled selected>Select Status</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Widowed</option>
                    </select>
                </div>
                <div class="col s3">
                    <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                    <input id="staffContactNumber"
                           ng-model="staff_contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="09XX-XXX-XXXX"
                           maxlength="11"
                           oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                           ng-change="checkAddStaffContact()"
                           ng-class="{'input-valid': staffContactValid, 'input-invalid': staff_contactNumber && !staffContactValid}"
                           required>
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Address <span class="required-mark">*</span></p>
                    <input ng-model="staff_address"
                           class="custom-input"
                           maxlength="250"
                           ng-change="checkAddStaffAddress()"
                           ng-class="{'input-valid': staffAddressValid, 'input-invalid': staff_address && !staffAddressValid}"
                           required>
                </div>
            </div>

            <div class="row">


                <div class="col s6">
                    @*Religion*@
                    <p class="custom-label">Religion <span class="required-mark">*</span></p>
                    <input id="religion"
                           type="text"
                           class="custom-input"
                           placeholder="Roman-Catholic"
                           maxlength="50"
                           required>
                </div>

                <div class="col s6">
                    @*Nationality*@
                    <p class="custom-label">Nationality <span class="required-mark">*</span></p>
                    <input id="contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="Filipino"
                           maxlength="50"
                           required>
                </div>
            </div>

            <div class="row">
                @*Clinic Role*@
                <div class="col s12">
                    <p class="custom-label">Clinic Role</p>
                    <input type="text"
                           ng-model="staff_staffRole"
                           class="custom-input"
                           maxlength="50">
                </div>

            </div>

            <div class="row">
                @*Branch*@
                <div class="col s12">
                    <p class="custom-label">Branch</p>
                    <select class="browser-default custom-input" ng-model="staff_branchID">
                        <option value="" disabled selected>Select Branch</option>
                        <option ng-repeat="branch in branchArray" value="{{branch.branchID}}">{{branch.description}}</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    @*Submit or cancel*@
        <div class="modal-footer" style="margin-top:2.5vh">
            <button type="button" class="edit-btn left" style="font-weight:500;" ng-click="pickPhoto('staff')">UPLOAD PHOTO</button>
            <button class="modal-close cancel-btn" style="font-weight: 500; margin-right: .5vh">CANCEL</button>
            <button type="submit"
                    class="edit-btn modal-close"
                    ng-click="addStaff()"
                    ng-disabled="!isAddStaffFormValid()">
                ADD
            </button>
        </div>
</div>


@*EDIT Owner Information Form*@
<div id="ownerInformationFormEdit" class="modal patientInformationForm-modal">

    <input id="ownerPhotoInput" type="file" accept="image/*" style="display:none"
           onchange="angular.element(this).scope().onPhotoSelected(this.files, 'owner')" />
    <div>
        <h5 class="modal-form-title">Edit Owner Profile</h5>

        <form>
            <div class="row">
                <div class="col s4">
                    @*Photo upload*@
                    <div class="row s4 center-align" style="margin-top: 2.5vh; margin-left: 2.5vh;">
                        <div class="col s12">
                            <div class="photo-box" ng-click="pickPhoto('ownerEdit')" style="cursor:pointer;">
                                <img ng-if="ownerPhotoPreviewEdit" ng-src="{{ownerPhotoPreviewEdit}}" alt="Preview" style="width:100%; height:100%; object-fit:cover;" />
                                <i class="material-icons photo-placeholder-icon" ng-if="!ownerPhotoPreviewEdit">image</i>
                            </div>
                            <input id="ownerPhotoInputEdit" type="file" accept="image/*" style="display:none"
                                   onchange="angular.element(this).scope().onPhotoSelected(this.files, 'ownerEdit')" />
                        </div>
                    </div>
                </div>

                <div class="col s8">
                    <div class="row">
                        @*First name*@
                        <div class="col s6">
                            <p class="custom-label">First Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="owner.firstName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Juan"
                                   required
                                   ng-change="ownerFirstNameTouched = true; ownerFirstNameValid = isNonEmpty(owner.firstName)"
                                   ng-class="{'input-valid': ownerFirstNameTouched && ownerFirstNameValid, 'input-invalid': ownerFirstNameTouched && !ownerFirstNameValid}" />
                        </div>
                        @*MIddle name*@
                        <div class="col s6">
                            <p class="custom-label">Middle Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="owner.middleName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Mercado"
                                   required />
                        </div>
                    </div>
                    <div class="row">
                        @*Last name*@
                        <div class="col s12">
                            <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="owner.lastName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Dela Cruz"
                                   required
                                   ng-change="ownerLastNameTouched = true; ownerLastNameValid = isNonEmpty(owner.lastName)"
                                   ng-class="{'input-valid': ownerLastNameTouched && ownerLastNameValid, 'input-invalid': ownerLastNameTouched && !ownerLastNameValid}" />
                        </div>
                    </div>
                </div>
            </div>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           ng-model="owner.email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           required
                           ng-focus="ownerEmailTouched = true"
                           ng-change="validateOwnerEmailEdit(); ownerEmailTouched = true"
                           ng-class="{'input-valid': ownerEmailTouched && ownerEmailFormatValid && !ownerEmailTaken, 'input-invalid': ownerEmailTouched && (!ownerEmailFormatValid || ownerEmailTaken)}" />

                    <p class="helper-text" style="margin-top:.4rem;">
                        <span ng-show="ownerEmailTouched && owner.email" ng-style="{'color': ownerEmailFormatValid ? '#2e7d32' : '#d32f2f'}">
                            {{ ownerEmailFormatValid ? 'Email is valid' : 'Enter a valid email address' }}
                        </span>
                        <span ng-show="ownerEmailTouched && ownerEmailFormatValid && ownerEmailTaken" style="color:#d32f2f; display:block; margin-top:.2rem;">
                            Email already taken
                        </span>
                    </p>
                </div>
            </div>

            <div class="row">
                @*Gender*@
                <div class="col s3">
                    <p class="custom-label">Gender <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" ng-model="owner.genderID" ng-options="g.genderID as g.description for g in genderArray" ng-change="/* optional */">
                        <option value="" disabled selected>Select Gender</option>
                    </select>
                </div>
                @*Birthdate*@
                <div class="col s3">
                    <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                    <div class="datepicker-wrapper">
                        <input id="owner_birthDate" ng-model="owner.birthDate" type="text" class="datepicker custom-input" readonly required />
                        <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                    </div>
                </div>

                <div class="col s3">
                    @*Civil status*@
                    <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" required ng-model="owner.civilStatus">
                        <option value="" disabled selected>Select Status</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Widowed</option>
                    </select>
                </div>
                <div class="col s3">
                    @*Contact number*@
                    <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                    <input id="ownerContactNumber"
                           ng-model="owner.contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="09XXXXXXXXX"
                           maxlength="11"
                           oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                           ng-change="ownerContactTouched = true; validateOwnerEditFields()"
                           ng-class="{'input-valid': ownerContactTouched && ownerContactValid, 'input-invalid': ownerContactTouched && !ownerContactValid}"
                           required />
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    @*Address*@
                    <p class="custom-label">Address <span class="required-mark">*</span></p>
                    <input id="ownerAddress"
                           ng-model="owner.address"
                           type="text"
                           class="custom-input"
                           maxlength="250"
                           required
                           ng-change="ownerAddressTouched = true; validateOwnerEditFields()"
                           ng-class="{'input-valid': ownerAddressTouched && ownerAddressValid, 'input-invalid': ownerAddressTouched && !ownerAddressValid}" />                </div>
            </div>

            <div class="row">
                @*Specialization*@
                <div class="col s12">
                    <p class="custom-label">Specialization</p>
                    <input type="text" ng-model="owner.specialization" class="custom-input" maxlength="50" />
                </div>
            </div>
        </form>
    </div>

    @*Submit or cancel*@
    <div class="modal-footer footer-center" style="margin-top:2.5vh">
        <button type="button" class="edit-btn left" style="font-weight:500;" ng-click="pickPhoto('ownerEdit')">UPLOAD PHOTO</button>
        <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500;"
                ng-click="editOwner()"
                ng-disabled="
                    !ownerFirstNameValid || !ownerLastNameValid || !ownerAddressValid ||
                    !ownerContactValid || !ownerEmailFormatValid || ownerEmailTaken ||
                    !owner.genderID || !owner.birthDate || !owner.civilStatus
                ">
            EDIT
        </button>
    </div>
</div>

@*EDIT Denstist Information Form*@
<div id="dentistInformationFormEdit" class="modal patientInformationForm-modal">
    <input id="ownerPhotoInputEdit" type="file" accept="image/*" style="display:none"
           onchange="angular.element(this).scope().onPhotoSelected(this.files, 'dentistEdit')" />
    <div>
        <h5 class="modal-form-title">Edit Dentist Profile</h5>


        <form>
            <div class="row">
                <div class="col s4">
                    @*Photo upload*@
                    <div class="row s4 center-align" style="margin-top: 2.5vh; margin-left: 2.5vh;">
                        <div class="col s12">
                            <div class="photo-box" ng-click="pickPhoto('dentistEdit')" style="cursor:pointer;">
                                <img ng-if="dentistPhotoPreviewEdit" ng-src="{{dentistPhotoPreviewEdit}}" alt="Preview" style="width:100%; height:100%; object-fit:cover;" />
                                <i class="material-icons photo-placeholder-icon" ng-if="!dentistPhotoPreviewEdit">image</i>
                            </div>
                            <input id="dentistPhotoInputEdit" type="file" accept="image/*" style="display:none"
                                   onchange="angular.element(this).scope().onPhotoSelected(this.files, 'dentistEdit')" />
                        </div>
                    </div>
                </div>

                @*NAMES BAAVASLIDATION*@
                <div class="col s8">
                    <div class="row">
                        <div class="col s6">
                            <p class="custom-label">First Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="dentist.firstName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Juan"
                                   required
                                   ng-change="dentistFirstNameTouched = true; dentistFirstNameValid = isNonEmpty(dentist.firstName)"
                                   ng-class="{'input-valid': dentistFirstNameTouched && dentistFirstNameValid, 'input-invalid': dentistFirstNameTouched && !dentistFirstNameValid}" />
                        </div>
                        <div class="col s6">
                            <p class="custom-label">Middle Name <span class="required-mark">*</span></p>
                            <input type="text" ng-model="dentist.middleName" class="custom-input" maxlength="150" placeholder="Mercado" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="dentist.lastName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Dela Cruz"
                                   required
                                   ng-change="dentistLastNameTouched = true; dentistLastNameValid = isNonEmpty(dentist.lastName)"
                                   ng-class="{'input-valid': dentistLastNameTouched && dentistLastNameValid, 'input-invalid': dentistLastNameTouched && !dentistLastNameValid}" />

                        </div>
                    </div>
                </div>
            </div>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           ng-model="dentist.email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           required
                           ng-focus="dentistEmailTouched = true"
                           ng-change="validateDentistEmailEdit(); dentistEmailTouched = true"
                           ng-class="{'input-valid': dentistEmailTouched && dentistEmailFormatValid && !dentistEmailTaken, 'input-invalid': dentistEmailTouched && (!dentistEmailFormatValid || dentistEmailTaken)}" />
                    <p class="helper-text" style="margin-top:.4rem;">
                        <span ng-show="dentistEmailTouched && dentist.email" ng-style="{'color': dentistEmailFormatValid ? '#2e7d32' : '#d32f2f'}">
                            {{ dentistEmailFormatValid ? 'Email is valid' : 'Enter a valid email address' }}
                        </span>
                        <span ng-show="dentistEmailTouched && dentistEmailFormatValid && dentistEmailTaken" style="color:#d32f2f; display:block; margin-top:.2rem;">
                            Email already taken
                        </span>
                    </p>
                </div>
            </div>

            @*Basta eto validation para sa mga iniinvalidate nyong feelings*@
            <div class="row">
                <div class="col s3">
                    <p class="custom-label">Gender <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" ng-model="dentist.genderID" ng-options="g.genderID as g.description for g in genderArray">
                        <option value="" disabled selected>Select Gender</option>
                    </select>
                </div>
                <div class="col s3">
                    <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                    <div class="datepicker-wrapper">
                        <input id="dentist_birthDate" type="text" ng-model="dentist.birthDate" class="datepicker custom-input" readonly required />
                        <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                    </div>
                </div>
                <div class="col s3">
                    <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" required ng-model="dentist.civilStatus">
                        <option value="" disabled selected>Select Status</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Widowed</option>
                    </select>
                </div>
                <div class="col s3">
                    <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                    <input id="dentistContactNumber"
                           ng-model="dentist.contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="09XXXXXXXXX"
                           maxlength="11"
                           oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                           ng-change="dentistContactTouched = true; validateDentistEditFields()"
                           ng-class="{'input-valid': dentistContactTouched && dentistContactValid, 'input-invalid': dentistContactTouched && !dentistContactValid}"
                           required />
                </div>
            </div>

            @*Address*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Address <span class="required-mark">*</span></p>
                    <input id="dentistAddress"
                           ng-model="dentist.address"
                           type="text"
                           class="custom-input"
                           maxlength="250"
                           required
                           ng-change="dentistAddressTouched = true; validateDentistEditFields()"
                           ng-class="{'input-valid': dentistAddressTouched && dentistAddressValid, 'input-invalid': dentistAddressTouched && !dentistAddressValid}" />                
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Specialization</p>
                    <input type="text" ng-model="dentist.specialization" class="custom-input" maxlength="50" />
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Branch</p>
                    <select class="browser-default custom-input" ng-model="dentist.branchID" ng-options="b.branchID as b.description for b in branchArray">
                        <option value="" disabled selected>Select Branch</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    @*Submit or cancel*@
    <div class="modal-footer footer-center" style="margin-top:2.5vh">
        <button type="button" class="edit-btn left" style="font-weight:500;" ng-click="pickPhoto('dentistEdit')">UPLOAD PHOTO</button>
        <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500;"
                ng-click="editDentist()"
                ng-disabled="
                    !dentistFirstNameValid || !dentistLastNameValid || !dentistAddressValid ||
                    !dentistContactValid || !dentistEmailFormatValid || dentistEmailTaken ||
                    !dentist.genderID || !dentist.birthDate || !dentist.civilStatus
                ">
            EDIT
        </button>
    </div>
</div>

@*ADD Staff Information Form*@
<div id="staffInformationFormEdit" class="modal patientInformationForm-modal">
    <input id="ownerPhotoInputEdit" type="file" accept="image/*" style="display:none"
           onchange="angular.element(this).scope().onPhotoSelected(this.files, 'staffEdit')" />
    <div>
        <h5 class="modal-form-title">Edit Staff Profile</h5>


        <form>
            <div class="row">
                <div class="col s4">
                    @*Photo upload*@
                    <div class="row s4 center-align" style="margin-top: 2.5vh; margin-left: 2.5vh;">
                        <div class="col s12">
                            <div class="photo-box" ng-click="pickPhoto('staffEdit')" style="cursor:pointer;">
                                <img ng-if="staffPhotoPreviewEdit" ng-src="{{staffPhotoPreviewEdit}}" alt="Preview" style="width:100%; height:100%; object-fit:cover;" />
                                <i class="material-icons photo-placeholder-icon" ng-if="!staffPhotoPreviewEdit">image</i>
                            </div>
                            <input id="staffPhotoInputEdit" type="file" accept="image/*" style="display:none"
                                   onchange="angular.element(this).scope().onPhotoSelected(this.files, 'staffEdit')" />
                        </div>
                    </div>
                </div>

                <div class="col s8">
                    <div class="row">
                        <div class="col s6">
                            <p class="custom-label">First Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="staff.firstName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Juan"
                                   required
                                   ng-change="staffFirstNameTouched = true; staffFirstNameValid = isNonEmpty(staff.firstName)"
                                   ng-class="{'input-valid': staffFirstNameTouched && staffFirstNameValid, 'input-invalid': staffFirstNameTouched && !staffFirstNameValid}" />
                        </div>
                        <div class="col s6">
                            <p class="custom-label">Middle Name <span class="required-mark">*</span></p>
                            <input type="text" ng-model="staff.middleName" class="custom-input" maxlength="150" placeholder="Mercado" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                            <input type="text"
                                   ng-model="staff.lastName"
                                   class="custom-input"
                                   maxlength="150"
                                   placeholder="Dela Cruz"
                                   required
                                   ng-change="staffLastNameTouched = true; staffLastNameValid = isNonEmpty(staff.lastName)"
                                   ng-class="{'input-valid': staffLastNameTouched && staffLastNameValid, 'input-invalid': staffLastNameTouched && !staffLastNameValid}" />
                        </div>
                    </div>
                </div>
            </div>

            @*Email*@
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input type="text" class="custom-input"
                           ng-model="staff.email"
                           maxlength="150"
                           placeholder="juandlc@gmail.com"
                           required
                           ng-focus="staffEmailTouched = true"
                           ng-change="validateStaffEmailEdit(); staffEmailTouched = true"
                           ng-class="{'input-valid': staffEmailTouched && staffEmailFormatValid && !staffEmailTaken, 'input-invalid': staffEmailTouched && (!staffEmailFormatValid || staffEmailTaken)}" />

                    <p class="helper-text" style="margin-top:.4rem;">
                        <span ng-show="staffEmailTouched && staff.email" ng-style="{'color': staffEmailFormatValid ? '#2e7d32' : '#d32f2f'}">
                            {{ staffEmailFormatValid ? 'Email is valid' : 'Enter a valid email address' }}
                        </span>
                        <span ng-show="staffEmailTouched && staffEmailFormatValid && staffEmailTaken" style="color:#d32f2f; display:block; margin-top:.2rem;">
                            Email already taken
                        </span>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col s3">
                    <p class="custom-label">Gender <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" ng-model="staff.genderID" ng-options="g.genderID as g.description for g in genderArray">
                        <option value="" disabled selected>Select Gender</option>
                    </select>
                </div>
                <div class="col s3">
                    <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                    <div class="datepicker-wrapper">
                        <input id="staff_birthDate" type="text" ng-model="staff.birthDate" class="datepicker custom-input" readonly required />
                        <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                    </div>
                </div>
                <div class="col s3">
                    <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                    <select class="browser-default custom-input" required ng-model="staff.civilStatus">
                        <option value="" disabled selected>Select Status</option>
                        <option value="1">Single</option>
                        <option value="2">Married</option>
                        <option value="3">Widowed</option>
                    </select>
                </div>
                <div class="col s3">
                    <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                    <input id="staffContactNumber"
                           ng-model="staff.contactNumber"
                           type="text"
                           class="custom-input"
                           placeholder="09XXXXXXXXX"
                           maxlength="11"
                           oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                           ng-change="staffContactTouched = true; validateStafftEditFields()"
                           ng-class="{'input-valid': staffContactTouched && staffContactValid, 'input-invalid': staffContactTouched && !staffContactValid}"
                           required />
                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Address <span class="required-mark">*</span></p>
                    <input id="staffAddress"
                           ng-model="staff.address"
                           type="text"
                           class="custom-input"
                           maxlength="250"
                           required
                           ng-change="staffAddressTouched = true; validateStafftEditFields()"
                           ng-class="{'input-valid': staffAddressTouched && staffAddressValid, 'input-invalid': staffAddressTouched && !staffAddressValid}" />                </div>
            </div>

            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Clinic Role</p>
                    <input type="text" ng-model="staff.staffRole" class="custom-input" maxlength="50" />
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <p class="custom-label">Branch</p>
                    <select class="browser-default custom-input" ng-model="staff.branchID" ng-options="b.branchID as b.description for b in branchArray">
                        <option value="" disabled selected>Select Branch</option>
                    </select>
                </div>
            </div>
        </form>
    </div>

    @*Submit or cancel*@
    <div class="modal-footer footer-center" style="margin-top:2.5vh">
        <button type="button" class="edit-btn left" style="font-weight:500;" ng-click="pickPhoto('staffEdit')">UPLOAD PHOTO</button>
        <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500;"
                ng-click="editStaff()"
                ng-disabled="
                    !staffFirstNameValid || !staffLastNameValid || !staffAddressValid ||
                    !staffContactValid || !staffEmailFormatValid || staffEmailTaken ||
                    !staff.genderID || !staff.birthDate || !staff.civilStatus
                ">
            EDIT
        </button>
    </div>
</div>



@*DELETE owner*@
<div id="modalDeleteOwner" class="modal patientInformationForm-modal" style="width:30% !important; padding:0 !important">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Owner Profile</h5>

        <p class="custom-label">Are you sure you want to delete this owner profile?</p>
        <input type="hidden" id="hiddenOwnerDelete" value="" />
    </div>

    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0" ng-click="deleteOwner()">DELETE</button>
    </div>
</div>

@*DELETE dentist*@
<div id="modalDeleteDentist" class="modal patientInformationForm-modal" style="width:30% !important; padding:0 !important">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Dentist Profile</h5>

        <p class="custom-label">Are you sure you want to delete this dentist profile?</p>
        <input type="hidden" id="hiddenDentistDelete" value="" />
    </div>

    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0" ng-click="deleteDentist()">DELETE</button>
    </div>
</div>

@*DELETE staff*@
<div id="modalDeleteStaff" class="modal patientInformationForm-modal" style="width:30% !important; padding:0 !important">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Staff Profile</h5>

        <p class="custom-label">Are you sure you want to delete this staff profile?</p>
        <input type="hidden" id="hiddenStaffDelete" value="" />
    </div>

    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0" ng-click="deleteStaff()">DELETE</button>
    </div>
</div>