@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="dashContainer">
    @*top part (welcome, refresh, logout)*@
    <div class="row brown-text lighten-1" style="margin-top: 1rem">
        @*user name*@
        <div class="col m8 l8"><h4 class="bold">Patients</h4></div>
        @*refresh and logout buttons*@
        <div class="col m4 l4">
            <span class="right">
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Refresh Dashboard"> <i class="material-icons brown-text lighten-1">refresh</i></a></div>
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a></div>
            </span>
        </div>
    </div>

    <div class="patient-content">

        <div class="action-bar">
            @*Search bar*@
            <div class="search-wrapper">
                <input type="text" class="search-input" placeholder="Search Patient">
                <i class="material-icons search-icon">search</i>
            </div>

            @*Add patientt button*@
            <button class="btn add-patient-btn">Add New Patient</button>
        </div>

        @*patient list*@
    <div class="patient-list-container">
        <div class="list-header row">

            @*filters*@
            <div class="col">Filter by:</div>
            <div class="col-name">
                Patient Name
                <span class="sort-group">
                    <i class="material-icons sort-arrow">north</i>
                    <i class="material-icons sort-arrow">south</i>
                </span>
            </div>
            <div class="col-visit">
                Last Visit
                <span class="sort-group">
                    <i class="material-icons sort-arrow">north</i>
                    <i class="material-icons sort-arrow">south</i>
                </span>
            </div>
            <div class="col-appts">
                Appointments
                <span class="sort-group">
                    <i class="material-icons sort-arrow">north</i>
                    <i class="material-icons sort-arrow">south</i>
                </span>
            </div>
        </div>

        @*Patient card*@
        <div class="patient-card row valing-wrapper">
            <div class="col center-align">
                <i class="material-icons circle-avatar">account_circle</i>
            </div>
            <div class="col-name">John Christian De Jesus</div>
            <div class="col-visit">January 1, 2026</div>
            <div class="col-appts">2 Appointments Scheduled</div>
            <div class="col-more">
                <i class="material-icons action-dots">more_vert</i>
            </div>
        </div>

        @*Patient card*@
        <div class="patient-card row valing-wrapper">
            <div class="col center-align">
                <i class="material-icons circle-avatar">account_circle</i>
            </div>
            <div class="col-name">Ma. Claudette Miranda Batumbakal</div>
            <div class="col-visit">January 3, 2026</div>
            <div class="col-appts">1 Appointment Scheduled</div>
            <div class="col-more">
                <i class="material-icons action-dots">more_vert</i>
            </div>
        </div>

    </div>

        @*Paginatrr*@
        <div class="pagination-container right-align">
            <i class="material-icons">west</i>
            <span>10 / 150</span>
            <i class="material-icons">east</i>
        </div>

    </div>
</div>

