@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="dashContainer">
    @*top part (title, refresh, logout)*@
    <div class="row brown-text lighten-1" style="margin-top: 1rem">
        @*user name*@
        <div class="col m8 l8"><h4 class="bold">Finance</h4></div>
        @*refresh and logout buttons*@
        <div class="col hide-on-med-and-down l4">
            <span class="right">
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Refresh Dashboard"> <i class="material-icons brown-text lighten-1">refresh</i></a></div>
                <div class="col valign-wrapper" ng-click="logOut()"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a></div>
            </span>
        </div>
    </div>

    @*create new finance record button*@
    <div class="row m-0">
        <a class="waves-effect waves-light btn left brown lighten-4 medBtn modal-trigger" data-target="modalAddPayrec"><i class="material-icons left">add</i>Create New Payment Record</a>
    </div>

    @*admin finance table*@
    <div class="row" style="padding: 2rem">
        <table id="adminFinance" class="hover tableClk" ng-init="getPayments()">
            @*table headers*@
            <thead>
                <tr class="brown-text lighten-1">
                    <th>Patient Name</th>
                    <th>Dentist</th>
                    <th colspan="2">Date</th>
                    @*<th></th>*@
                </tr>
            </thead>
            @*table content*@
            <tbody>
                <tr data-href="#" title="View patient record" class="clkPointer" ng-repeat="payment in paymentsArray">
                    <td class="valign-wrapper"><img src="https://placehold.co/400" class="circle responsive-img" style="max-width:3rem; margin-right:0.5rem" />{{payment.patientName}}</td>
                    <td>{{payment.dentistName}}</td>
                    <td>{{payment.paymentDate | date:'MM/dd/yyyy'}}</td>
                    @*view button*@
                    <td>
                        <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modalDeletePayrec" data-position="bottom" data-tooltip="Delete Payment Record" ng-click="deletePayRec(payment.paymentID)">
                            <i class="material-icons brown-text lighten-1">delete</i>
                        </a>
                        <a ng-click="editPayRec(payment.paymentID)" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="modalEditPayrec" data-position="bottom" data-tooltip="Edit Payment Record" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1">edit</i></a>
                    </td>
                </tr>
            </tbody>
            @*table footer*@
            <tfoot>
                <tr class="brown-text lighten-1">
                    <th>Patient Name</th>
                    <th>Dentist</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

@*ADD Payment Record*@
<div id="modalAddPayrec" class="modal payrec-modal" ng-init="getPatientsNDentist()">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Add New Payment Record</h5>

        <div class="row">
            <div class="col s12">
                @*Patient*@
                <label class="custom-label">
                    Patient
                    <input list="patients" id="patientSelect" class="custom-input" ng-model="selectedPatient" placeholder="Type patient name..." />
                    <datalist id="patients">
                        <option ng-repeat="patient in patientArray" value="{{patient.patientName}} {{patient.patientID}}">{{patient.patientName}}</option>
                    </datalist>
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                @*Dentist*@
                <label class="custom-label">
                    Dentist
                    <input list="dentists" id="dentistSelect" class="custom-input" ng-model="selectedDentist" placeholder="Type dentist name..." />
                    <datalist id="dentists">
                        <option ng-repeat="dentist in dentistArray" value="{{dentist.dentistName}} {{dentist.dentistID}}">{{dentist.dentistName}}</option>
                    </datalist>
                </label>
            </div>

            <div class="col s6">
                @*Date*@
                <label class="custom-label">Date</label>
                <div class="datepicker-wrapper">
                    <input id="date" type="text" class="datepicker custom-input" ng-model="paymentDate" placeholder="MM/DD/YYYY">
                    <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s4">
                @*Mode of Payment*@
                <label class="custom-label">
                    Mode of Payment
                    <input type="text" class="custom-input" ng-model="paymentMethod" placeholder="Mode of payment...">
                </label>
            </div>

            <div class="col s4">
                @*Cost*@
                <label class="custom-label">
                    Cost
                    <input type="text" class="custom-input" ng-model="paymentCost" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" placeholder="Cost...">
                </label>
            </div>

            <div class="col s4">
                @*Discount*@
                <label class="custom-label">
                    Discount
                    <input type="text" class="custom-input" ng-model="paymentDiscount" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" placeholder="Discount...">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                @*Total*@
                <label class="custom-label">
                    Total Amount Due
                    <input type="text" class="custom-input" ng-model="paymentDue" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" placeholder="Total amount due...">
                </label>
            </div>

            <div class="col s6">
                @*Paid*@
                <label class="custom-label">
                    Total Amount Paid
                    <input type="text" class="custom-input" ng-model="paymentPaid" oninput="this.value = this.value.replace(/[^0-9.]/g, '')" placeholder="Total amount paid...">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                @*Description*@
                <label class="custom-label">
                    Description
                    <textarea style="flex: 1; height: 10vh; padding: 1vh;  background-color:white; border:none;" placeholder="Description..." ng-model="paymentDescription"></textarea>
                </label>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0" ng-click="addPayment()">ADD</button>
    </div>
</div>



@*EDIT Payment Record*@
<div id="modalEditPayrec" class="modal payrec-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Add New Payment Record</h5>

        <div class="row">
            <div class="col s12">
                @*Patient*@
                <label class="custom-label">
                    Patient
                    <input list="patients" id="patientSelect" class="custom-input" placeholder="Type patient name..." ng-model="paymentInfo.patientName" value="{{paymentInfo.patientName}}" readonly />

                </label>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                @*Dentist*@
                <label class="custom-label">
                    Dentist
                    <input list="dentists" id="dentistSelect" class="custom-input" placeholder="Type dentist name..." ng-model="paymentInfo.dentistName" readonly />
                </label>
            </div>

            <div class="col s6">
                @*Date*@
                <label class="custom-label">Date</label>
                <div class="datepicker-wrapper">
                    <input id="date" type="text" class="datepicker custom-input" ng-model="paymentInfo.paymentDate" placeholder="MM/DD/YYYY">
                    <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s4">
                @*Mode of Payment*@
                <label class="custom-label">
                    Mode of Payment
                    <input type="text" class="custom-input" placeholder="Mode of payment..." ng-model="paymentInfo.paymentMethod">
                </label>
            </div>

            <div class="col s4">
                @*Cost*@
                <label class="custom-label">
                    Cost
                    <input type="text" class="custom-input" placeholder="Cost..." ng-model="paymentInfo.cost" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
                </label>
            </div>

            <div class="col s4">
                @*Discount*@
                <label class="custom-label">
                    Discount
                    <input type="text" class="custom-input" placeholder="Discount..." ng-model="paymentInfo.discount" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                @*Total*@
                <label class="custom-label">
                    Total Amount Due
                    <input type="text" class="custom-input" placeholder="Total amount due..." ng-model="paymentInfo.amountDue" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
                </label>
            </div>

            <div class="col s6">
                @*Paid*@
                <label class="custom-label">
                    Total Amount Paid
                    <input type="text" class="custom-input" placeholder="Total amount paid..." ng-model="paymentInfo.amountPaid" oninput="this.value = this.value.replace(/[^0-9.]/g, '')">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                @*Description*@
                <label class="custom-label">
                    Description
                    <textarea style="flex: 1; height: 10vh; padding: 1vh;  background-color:white; border:none;" placeholder="Description..." ng-model="paymentInfo.description"></textarea>
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0" ng-click="editPayment()">EDIT</button>
    </div>
</div>

@*DELETE Peyment Record*@
<div id="modalDeletePayrec" class="modal payrec-modal" style="width:30% !important">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Payment Record</h5>

        <p class="custom-label">Are you sure you want to delete this payment record?</p>
    </div>

    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0" ng-click="deletePaymentThis()">DELETE</button>
    </div>
</div>
