@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="dashContainer">
    @*top part (welcome, refresh, logout)*@
    <div class="row brown-text lighten-1" style="margin-top: 1rem">
        @*user name*@
        <div class="col m8 l8" ng-show="currentUserName"><h4>Welcome, {{currentUserName}}! {{currentUserAuthorization}}</h4></div>
        @*refresh and logout buttons*@
        <div class="col m4 l4">
            <span class="right">
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Refresh Dashboard"> <i class="material-icons brown-text lighten-1">refresh</i></a></div>
                <div class="col valign-wrapper" ng-show="isUserAdmin"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Print Report"> <i class="material-icons brown-text lighten-1">print</i></a></div>
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a></div>
            </span>
        </div>
    </div>

    @*overview*@
    <div class="row" style="padding: 0 1rem 0 1rem" ng-show="isUserAdmin">
        <p class="bold brown-text lighten-1" style="margin-bottom: 0">OVERVIEW</p>

        @*overview cards*@
        <div class="row">
            @*total no. of patients*@
            <div class="col m3 l3 ">
                <div class="card grey lighten-2">
                    <div class="card-content brown-text lighten-1">
                        <div class="row valign-wrapper" style="margin-bottom:0">
                            <div class="col m6 l6"><p class="center">TOTAL NUMBER OF PATIENTS</p></div>
                            <div class="col m6 l6"><h4 class="bold center">0</h4></div>
                        </div>
                    </div>
                </div>
            </div>
            @*new patients this month*@
            <div class="col m3 l3 ">
                <div class="card grey lighten-2">
                    <div class="card-content brown-text lighten-1">
                        <div class="row valign-wrapper" style="margin-bottom:0">
                            <div class="col m6 l6"><p class="center">NEW PATIENTS THIS MONTH</p></div>
                            <div class="col m6 l6"><h4 class="bold center">0</h4></div>
                        </div>
                    </div>
                </div>
            </div>
            @*patients done this week*@
            <div class="col m3 l3 ">
                <div class="card grey lighten-2 overviewCard">
                    <div class="card-content brown-text lighten-1">
                        <div class="row valign-wrapper" style="margin-bottom:0">
                            <div class="col m6 l6"><p class="center">PATIENTS DONE THIS WEEK</p></div>
                            <div class="col m6 l6"><h4 class="bold center">0</h4></div>
                        </div>
                    </div>
                </div>
            </div>
            @*unpaid patients*@
            <div class="col m3 l3 ">
                <div class="card grey lighten-2 overviewCard">
                    <div class="card-content brown-text lighten-1">
                        <div class="row valign-wrapper" style="margin-bottom:0">
                            <div class="col m6 l6"><p class="center">UNPAID PATIENTS</p></div>
                            <div class="col m6 l6"><h4 class="bold center">0</h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*appointments*@
    <div class="row" style="padding: 0 1rem 0 1rem">

        @*appointment req*@
        <div class="col m6 l6" style="padding-left:0">
            <span class="bold brown-text lighten-1" style="margin-bottom: 0">APPOINTMENT REQUESTS <span class="new badge left" style="margin:0 0.25rem 0 0">(N)</span></span>
            <div class="card grey lighten-2">
                <div class="card-content containerOverflow">
                    @*individual appointment req*@
                    <div class="card white z-depth-0">
                        <div class="card-content brown-text lighten-1" style="padding: 1rem">
                            <div class="row valign-wrapper m-0">
                                @*user pfp*@
                                <div class="col m2 l2"><img src="https://placehold.co/400" alt="" class="circle responsive-img" style="max-width: 3rem" /></div>
                                @*user name and preferred dentist*@
                                <div class="col m3 l3">
                                    <p class="bold">Name<i class="material-icons tiny green-text" style="padding-left:0.25rem" title="New User/Patient">person_add</i></p>
                                    <p>Dentist</p>
                                </div>
                                @*procedure*@
                                <div class="col m3 l3"><p>Prodecure</p></div>
                                @*date and time*@
                                <div class="col m3 l3"><p>MM/DD/YY 00:00AM</p></div>
                                @*yes or no btn*@
                                <div class="col m1 l1">
                                    <a href="#" class="btn-floating btn-small waves-effect waves-light brown lighten-1 tooltipped" id="checkBtn" data-position="right" data-tooltip="Confirm" style="margin-bottom: 0.25rem">
                                        <i class="material-icons tiny">check</i>
                                    </a>
                                    <a href="#" class="btn-floating btn-small waves-effect waves-light brown lighten-1 tooltipped" id="denyBtn" data-position="right" data-tooltip="Deny">
                                        <i class="material-icons tiny">close</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*appointment sched*@
        <div class="col m6 l6" style="padding-right: 0">
            <span class="bold brown-text lighten-1" style="margin-bottom: 0">APPOINTMENT SCHEDULED <span class="badge left p-0" style="margin:0">(N)</span></span>
            <div class="card grey lighten-2">
                <div class="card-content containerOverflow">
                    @*individual appointment req*@
                    <div class="card white z-depth-0">
                        <div class="card-content brown-text lighten-1" style="padding: 1rem">
                            <div class="row valign-wrapper m-0">
                                @*user pfp*@
                                <div class="col m2 l2"><img src="https://placehold.co/400" alt="" class="circle responsive-img" style="max-width: 3rem" /></div>
                                @*user name and preferred dentist*@
                                <div class="col m3 l3">
                                    <p class="bold">Name<i class="material-icons tiny green-text" style="padding-left:0.25rem" title="New User/Patient">person_add</i></p>
                                    <p>Dentist</p>
                                </div>
                                @*procedure*@
                                <div class="col m3 l3"><p>Prodecure</p></div>
                                @*date and time*@
                                <div class="col m3 l3"><p>MM/DD/YY 00:00AM</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*analytics*@
    <div class="row" style="padding: 0 1rem 0 1rem" ng-show="isUserAdmin">
        <p class="bold brown-text lighten-1" style="margin-bottom: 0">ANALYTICS</p>

        @*analytics cards*@
        <div class="row">
            @*patients*@
            <div class="col m3 l3 ">
                <div class="card grey lighten-2 p-1">
                    <div class="card-title brown-text lighten-1">Patients</div>
                    <div class="card-content brown-text lighten-1">
                        @*insert chart*@
                    </div>
                </div>
            </div>
            @*procedures this week*@
            <div class="col m3 l3 ">
                <div class="card grey lighten-2 p-1">
                    <div class="card-title brown-text lighten-1">Procedures this week</div>
                    <div class="card-content brown-text lighten-1">
                        <div class="row valign-wrapper" style="margin-bottom:0">
                            @*insert chart*@
                        </div>
                    </div>
                </div>
            </div>
            @*procedures by revenue*@
            <div class="col m3 l3 ">
                <div class="card grey lighten-2 p-1">
                    <div class="card-title brown-text lighten-1">Procedures by revenue</div>
                    <div class="card-content brown-text lighten-1">
                        <div class="row valign-wrapper" style="margin-bottom:0">
                            @*insert chart*@
                        </div>
                    </div>
                </div>
            </div>
            @*paid/unpaid*@
            <div class="col m3 l3">
                <div class="card grey lighten-2 p-1">
                    <div class="card-title brown-text lighten-1">Paid/Unpaid</div>
                    <div class="card-content brown-text lighten-1">
                        <div class="row valign-wrapper" style="margin-bottom:0">
                            @*insert chart*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

