@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="dashContainer">
    @*top part (welcome, refresh, logout)*@
    <div class="row brown-text lighten-1" style="margin-top: 1rem">
        @*user name*@
        <div class="col l8 bold" ng-show="currentUserName"><h4>Welcome, {{currentUserName}}!</h4></div>
        @*refresh and logout buttons*@
        <div class="col hide-on-med-and-down l4">
            <span class="right">
                <div class="col valign-wrapper" ng-show="isUserAdmin"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Print Report"> <i class="material-icons brown-text lighten-1">print</i></a></div>
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" ng-click="logOut()" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a></div>
            </span>
        </div>
    </div>

    @*overview*@
    <div class="row" style="padding: 0 1rem 0 1rem" ng-show="!isUserPatient">
        <p class="bold brown-text lighten-1" style="margin-bottom: 0">OVERVIEW</p>

        @*overview cards*@
        <div class="row" ng-init="getOverviewData()">

            @*total no. of patients*@
            <div class="col s12 m3 l3">
                <div class="card grey lighten-2">
                    <div class="card-content brown-text lighten-1">
                        <div class="row valign-wrapper" style="margin-bottom:0">
                            <div class="col m6 l6"><p class="center">TOTAL NUMBER OF PATIENTS</p></div>
                            <div class="col m6 l6"><h4 class="bold center">{{ overview.totalPatients }}</h4></div>
                        </div>
                    </div>
                </div>
            </div>

            @*new patients this month*@
            <div class="col s12 m3 l3">
                <div class="card grey lighten-2">
                    <div class="card-content brown-text lighten-1">
                        <div class="row valign-wrapper" style="margin-bottom:0">
                            <div class="col m6 l6"><p class="center">NEW PATIENTS THIS MONTH</p></div>
                            <div class="col m6 l6"><h4 class="bold center">{{ overview.newPatientsThisMonth }}</h4></div>
                        </div>
                    </div>
                </div>
            </div>

            @*patients done this week*@
            <div class="col s12 m3 l3">
                <div class="card grey lighten-2 overviewCard">
                    <div class="card-content brown-text lighten-1">
                        <div class="row valign-wrapper" style="margin-bottom:0">
                            <div class="col m6 l6"><p class="center">PATIENTS DONE THIS WEEK</p></div>
                            <div class="col m6 l6"><h4 class="bold center">{{ overview.patientsDoneThisWeek }}</h4></div>
                        </div>
                    </div>
                </div>
            </div>

            @*unpaid patients*@
            <div class="col s12 m3 l3">
                <div class="card grey lighten-2 overviewCard">
                    <div class="card-content brown-text lighten-1">
                        <div class="row valign-wrapper" style="margin-bottom:0">
                            <div class="col m6 l6"><p class="center">UNPAID PATIENTS</p></div>
                            <div class="col m6 l6"><h4 class="bold center">{{ overview.unpaidPatients }}</h4></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*appointments*@
    <div class="row appointments-row">

        @*appointment req*@
        <div class="col s12 m6 l6 appointment-container">
            <span class="bold brown-text lighten-1" style="margin-bottom: 0">
                APPOINTMENT REQUESTS
                <span class="new badge left" style="margin:0 0.25rem 0 0" aria-live="polite">
                    {{ (dashboardRequested && dashboardRequested.length) || 0 }}
                </span>
            </span>
            <div class="card grey lighten-2">
                <div class="card-content containerOverflow">
                    <div ng-if="(!dashboardRequested || dashboardRequested.length === 0)" class="center-align brown-text">No appointment requests.</div>
                    <div class="card white z-depth-0" ng-repeat="r in dashboardRequested track by r.apptID" style="margin-bottom:0.5rem">
                        <div class="card-content brown-text lighten-1" style="padding: 0.75rem 1rem">
                            <div class="row valign-wrapper m-0">
                                <div class="col s3 m2 l2"><img ng-src="https://placehold.co/400" alt="" class="circle responsive-img" style="max-width: 3rem" /></div>
                                <div class="col s9 m3 l3">
                                    <p class="bold">{{r.patientName}} <i class="material-icons tiny green-text" ng-if="r.isNew" style="padding-left:0.25rem" title="New User/Patient">person_add</i></p>
                                    <p>{{r.dentistName}}</p>
                                </div>

                                <div class="col hide-on-med-and-down l4">
                                    <p class="bold">New date/time</p>
                                    <p>{{r.date}} {{r.time}}</p>
                                    <p class="bold" style="margin-top:6px">Reason</p>
                                    <p>{{r.purpose}}</p>
                                </div>

                                <div class="col hide-on-med-and-down l3">
                                    <p class="bold">Contact</p>
                                    <p style="white-space: pre-line;">{{r.notes || r.remarks}}</p>
                                </div>

                                @*procedure and dateTime (mobile)*@
                                <div class="col s6 m6 hide-on-large-only">
                                    <p>{{r.purpose}}</p>YYY
                                    <p>{{r.date}}</p>
                                    <p style="white-space: pre-line;">{{r.notes || r.remarks}}</p>
                                </div>

                                @*yes or no btn*@
                                <div class="col s6 m6 l1" ng-show="isUserStaff">
                                    <a href="#" class="btn-floating btn-small waves-effect waves-light brown lighten-1 tooltipped" ng-click="acceptRequestedAppointment(r.apptID)" data-position="right" data-tooltip="Confirm" style="margin-bottom: 0.25rem">
                                        <i class="material-icons tiny">check</i>
                                    </a>
                                    <a href="#" class="btn-floating btn-small waves-effect waves-light brown lighten-1 tooltipped" ng-click="denyRequestedAppointment(r.apptID)" data-position="right" data-tooltip="Deny">
                                        <i class="material-icons tiny">close</i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*appointment sched*@
        <div class="col s12 m6 l6 appointment-container">
            <span class="bold brown-text lighten-1" style="margin-bottom: 0">
                APPOINTMENT SCHEDULED
                <span class="badge left p-0" style="margin:0" aria-live="polite">
                    {{ (dashboardScheduled && dashboardScheduled.length) || 0 }}
                </span>
            </span>
            <div class="card grey lighten-2">
                <div class="card-content containerOverflow">
                    <div ng-if="(!dashboardScheduled || dashboardScheduled.length === 0)" class="center-align brown-text">No scheduled appointments.</div>
                    <div class="card white z-depth-0" ng-repeat="s in dashboardScheduled track by s.apptID" style="margin-bottom:0.5rem">
                        <div class="card-content brown-text lighten-1" style="padding: 0.75rem 1rem">
                            <div class="row valign-wrapper m-0">
                                <div class="col s3 m2 l2"><img ng-src="https://placehold.co/400" alt="" class="circle responsive-img" style="max-width: 3rem" /></div>
                                <div class="col s9 m3 l3">
                                    <p class="bold">{{s.patientName}}</p>
                                    <p>{{s.dentistName}}</p>
                                </div>
                                <div class="col hide-on-med-and-down l3"><p>{{s.purpose}}</p></div>
                                <div class="col hide-on-med-and-down l3"><p>{{s.date}} {{s.time}}</p></div>

                                @*procedure and dateTime (mobile)*@
                                <div class="col s4 m4 hide-on-large-only">
                                    <p>{{s.purpose}}</p>
                                    <p>{{s.date}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*analytics*@
    <div class="row" style="padding: 0 1rem 0 1rem" ng-show="!isUserPatient" ng-init="getAnalyticsData()">
        <p class="bold brown-text lighten-1" style="margin-bottom: 0">ANALYTICS</p>
        <div class="row">

            @*patients over time*@
            <div class="col s12 m3 l3">
                <div class="card grey lighten-2 p-1">
                    <div class="card-title brown-text lighten-1">Patients/Month</div>
                    <div class="card-content brown-text lighten-1">
                        <canvas id="patientsChart"></canvas>
                    </div>
                </div>
            </div>

            @*procedures this week*@
            <div class="col s12 m3 l3">
                <div class="card grey lighten-2 p-1">
                    <div class="card-title brown-text lighten-1">Procedures this week</div>
                    <div class="card-content brown-text lighten-1">
                        <canvas id="proceduresWeekChart"></canvas>
                    </div>
                </div>
            </div>

            @*procedures by revenue*@
            <div class="col s12 m3 l3">
                <div class="card grey lighten-2 p-1">
                    <div class="card-title brown-text lighten-1">Procedures</div>
                    <div class="card-content brown-text lighten-1">
                        <canvas id="proceduresRevenueChart"></canvas>
                    </div>
                </div>
            </div>

            @*paid/unpaid*@
            <div class="col s12 m3 l3">
                <div class="card grey lighten-2 p-1">
                    <div class="card-title brown-text lighten-1">Paid/Unpaid</div>
                    <div class="card-content brown-text lighten-1">
                        <canvas id="paidUnpaidChart"></canvas>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

