@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="dashContainer">
    @*top part (title, refresh, logout)*@
    <div class="row brown-text lighten-1" style="margin-top: 1rem">
        @*user name*@
        <div class="col m8 l8"><h4 class="bold">Finance</h4></div>
        @*refresh and logout buttons*@
        <div class="col hide-on-med-and-down l4">
            <span class="right">
                <div class="col valign-wrapper" ng-click="logOut()"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a></div>
            </span>
        </div>
    </div>

    @*create new finance record button*@
    <div class="row m-0" ng-show="!isUserPatient">
        <a class="btn brown lighten-1 modal-trigger left white-text" data-target="modalAddPayrec" style="margin: 0 1rem 1rem 0 !important;"><i class="material-icons left">add</i>Create New Payment Record</a>

        <a class="btn brown lighten-1 waves-light waves-effect white-text" ng-show="!showFinanceArchived && !isUserPatient" ng-click="toggleFinanceArchive()"><i class="material-icons left">archive</i>Show Archived</a>
        <a class="btn brown lighten-1 waves-light waves-effect white-text" ng-show="showFinanceArchived && !isUserPatient" ng-click="toggleFinanceArchiveF()"><i class="material-icons left">archive</i>Show Unarchived</a>
        @*admin finance table*@
        <div class="row finance-table-responsive" style="padding: 2rem" ng-show="!showFinanceArchived">
            <table id="adminFinance" class="hover tableClk" ng-init="getPayments()">
                @*table headers*@
                <thead>
                    <tr class="brown-text lighten-1">
                        <th>Date</th>
                        <th>Patient</th>
                        <th>Dentist</th>
                        <th>Procedures</th>
                        <th>Tooth #</th>
                        <th>Amount</th>
                        <th>Paid</th>
                        <th colspan="2">Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="payment in paymentsArray track by payment.paymentID" on-finish-render table-id="adminFinance">
                        <td>{{payment.paymentDate}}</td>
                        <td>{{payment.patientName}}</td>
                        <td>{{payment.dentistName}}</td>
                        <td>{{payment.procedures}}</td>
                        <td>{{payment.toothNumber}}</td>
                        <td>{{payment.cost}}</td>
                        <td>{{payment.paid}}</td>
                        <td>{{payment.balance}}</td>
                        <td>
                            <a ng-show="isUserPatient" ng-click="viewPayRec(payment.paymentID)" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="modalViewPayrec" data-position="bottom" data-tooltip="View Payment Record" style="margin-right: 0.5rem !important">
                                <i class="material-icons brown-text lighten-1">visibility</i>
                            </a>
                            <a ng-show="!isUserPatient" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modalDeletePayrec" data-position="bottom" data-tooltip="Archive Payment Record" ng-click="deletePayRec(payment.paymentID)" style="margin-right: 0.5rem !important">
                                <i class="material-icons brown-text lighten-1">archive</i>
                            </a>
                            <a ng-show="!isUserPatient" ng-click="editPayRec(payment.paymentID)" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="modalEditPayrec" data-position="bottom" data-tooltip="Edit Payment Record" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1">edit</i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="brown-text lighten-1">
                        <th>Date</th>
                        <th>Patient</th>
                        <th>Dentist</th>
                        <th>Procedures</th>
                        <th>Tooth #</th>
                        <th>Amount</th>
                        <th>Paid</th>
                        <th colspan="2">Balance</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div class="row finance-table-responsive" style="padding: 2rem" ng-show="showFinanceArchived">
        <table id="adminFinanceArchive" class="hover tableClk">
            @*table headers*@
            <thead>
                <tr class="brown-text lighten-1">
                    <th>Date</th>
                    <th>Patient</th>
                    <th>Dentist</th>
                    <th>Procedures</th>
                    <th>Tooth #</th>
                    <th>Amount</th>
                    <th>Paid</th>
                    <th colspan="2">Balance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="payment in archivedPayments track by payment.paymentID" on-finish-render table-id="adminFinanceArchive">
                    <td>{{payment.paymentDate}}</td>
                    <td>{{payment.patientName}}</td>
                    <td>{{payment.dentistName}}</td>
                    <td>{{payment.procedures}}</td>
                    <td>{{payment.toothNumber}}</td>
                    <td>{{payment.cost}}</td>
                    <td>{{payment.paid}}</td>
                    <td>{{payment.balance}}</td>
                    <td>
                        <a ng-show="isUserPatient" ng-click="viewPayRec(payment.paymentID)" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="modalViewPayrec" data-position="bottom" data-tooltip="View Payment Record" style="margin-right: 0.5rem !important">
                            <i class="material-icons brown-text lighten-1">visibility</i>
                        </a>
                        <a ng-show="!isUserPatient" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modalDeletePayrecNo" data-position="bottom" data-tooltip="Unarchive Payment Record" ng-click="undeletePayRec(payment.paymentID)" style="margin-right: 0.5rem !important">
                            <i class="material-icons brown-text lighten-1">archive</i>
                        </a>
                        <a ng-show="!isUserPatient" ng-click="editPayRec(payment.paymentID)" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="modalEditPayrec" data-position="bottom" data-tooltip="Edit Payment Record" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1">edit</i></a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="brown-text lighten-1">
                    <th>Date</th>
                    <th>Patient</th>
                    <th>Dentist</th>
                    <th>Procedures</th>
                    <th>Tooth #</th>
                    <th>Amount</th>
                    <th>Paid</th>
                    <th colspan="2">Balance</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
@*ADD Payment Record*@
<div id="modalAddPayrec" class="modal payrec-modal" ng-init="getPatientsNDentist()">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:1.5vh;">Add New Payment Record</h5>

        <div class="row">
            <div class="col s6">
                @*Patient*@
                <label class="custom-label">Patient <span class="required-mark">*</span></label>
                <select class="custom-input browser-default" ng-model="selectedPatient"
                        ng-class="{'invalid-input': addSubmitted && !selectedPatient}">
                    <option value="" disabled selected>Select patient...</option>
                    <option ng-repeat="patient in patientArray" value="{{patient.patientID}}">{{patient.patientName}}</option>
                </select>
                <span class="validation-msg" ng-show="addSubmitted && !selectedPatient">Patient is required.</span>
            </div>

            <div class="col s6">
                @*Date*@
                <label class="custom-label">Date <span class="required-mark">*</span></label>
                <div class="datepicker-wrapper">
                    <input id="date" type="text" class="datepicker custom-input" ng-model="paymentDate" placeholder="MM/DD/YYYY"
                           ng-class="{'invalid-input': addSubmitted && !paymentDate}">
                    <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                </div>
                <span class="validation-msg" ng-show="addSubmitted && !paymentDate">Date is required.</span>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                @*Dentist*@
                <label class="custom-label">Dentist <span class="required-mark">*</span></label>
                <select class="custom-input browser-default" ng-model="selectedDentist"
                        ng-class="{'invalid-input': addSubmitted && !selectedDentist}">
                    <option value="" disabled selected>Select dentist...</option>
                    <option ng-repeat="dentist in dentistArray" value="{{dentist.dentistID}}">{{dentist.dentistName}}</option>
                </select>
                <span class="validation-msg" ng-show="addSubmitted && !selectedDentist">Dentist is required.</span>
            </div>

            <div class="col s6">
                @*Tooth Number*@
                <label class="custom-label">Tooth Number/s <span class="required-mark">*</span></label>
                <input type="text" class="custom-input browser-default" ng-model="paymentToothNumber"
                       ng-class="" />
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                @*Procedure*@
                <label class="custom-label">Procedures Done <span class="required-mark">*</span></label>
                <input type="text" class="custom-input browser-default" ng-model="paymentProcedures"
                       ng-class="" />
            </div>
        </div>


        <h5 class="modal-form-title" style="margin: 4vh 0 1.5vh 0;">Payment</h5>

        <div class="row">
            <div class="col s6">
                @*Mode of Payment*@
                <label class="custom-label">
                    Mode of Payment
                    <span class="required-mark">*</span>
                    <select class="custom-input"
                            ng-model="paymentMethod"
                            ng-class="{'invalid-input': addSubmitted && !paymentMethod}">
                        <option value="" disabled selected>Select mode of payment...</option>
                        <option value="GCash">GCash</option>
                        <option value="Card">Card</option>
                        <option value="Cash">Cash</option>
                        <option value="Others">Others</option>
                    </select>
                </label>
                <span class="validation-msg" ng-show="addSubmitted && !paymentMethod">Mode of payment is required.</span>
            </div>
            <div class="col s6">
                @*Reference*@
                <label class="custom-label">
                    Reference No.
                    <input type="text" class="custom-input" ng-model="paymentReference" placeholder="Reference Number..." max="50" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                @*Cost*@
                <label class="custom-label">
                    Cost
                    <span class="required-mark">*</span>
                    <input type="text" class="custom-input" ng-model="paymentCost" placeholder="Cost..."
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '')"
                           ng-class="{'invalid-input': addSubmitted && !paymentCost}">
                </label>
                <span class="validation-msg" ng-show="addSubmitted && !paymentCost">Cost is required.</span>
            </div>
            <div class="col s6">
                @*Paid*@
                <label class="custom-label">
                    Paid
                    <span class="required-mark">*</span>
                    <input type="text" class="custom-input" ng-model="paymentPaid" placeholder="Total amount paid..."
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '')"
                           ng-class="{'invalid-input': addSubmitted && !paymentPaid}">
                </label>
                <span class="validation-msg" ng-show="addSubmitted && !paymentPaid">Total amount paid is required.</span>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                @*Balance*@
                <label class="custom-label">
                    Balance
                    <input type="text" class="custom-input"
                           ng-value="(paymentCost || 0) - (paymentDiscount || 0) - (paymentPaid || 0)"
                           placeholder="Balance..."
                           ng-class="{'invalid-input': addSubmitted && ((paymentCost - paymentDiscount - paymentPaid) < 0)}"
                           disabled>
                </label>
                <span class="validation-msg" ng-show="addSubmitted && paymentDue === null">Balance is required.</span>
            </div>

        </div>

        <div class="row">
            <div class="col s12">
                @*Description*@
                <label class="custom-label">
                    Description
                    <textarea style="flex: 1; height: 10vh; padding: 1vh; background-color:white; border:none;"
                              placeholder="Description..." ng-model="paymentDescription"></textarea>
                </label>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh"
                ng-click="addSubmitted = false">
            CANCEL
        </button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0"
                ng-click="addPayment()">
            ADD
        </button>
    </div>
</div>


@*EDIT Payment Record*@
<div id="modalEditPayrec" class="modal payrec-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Edit Payment Record</h5>

        <div class="row">
            <div class="col s6">
                @*Patient*@
                <label class="custom-label">Patient <span class="required-mark">*</span></label>
                <select class="custom-input browser-default" ng-model="paymentInfo.patientID"
                        ng-options="patient.patientID as patient.patientName for patient in patientArray"
                        ng-class="{'invalid-input': editSubmitted && paymentInfo.patientID  === null}" disabled>
                    <option value="" disabled>Select patient...</option>
                </select>
                <span class="validation-msg" ng-show="editSubmitted && paymentInfo.patientID === null">Patient is required.</span>
            </div>

            <div class="col s6">
                @*Date*@
                <label class="custom-label">Date <span class="required-mark">*</span></label>
                <div class="datepicker-wrapper">
                    <input id="date" type="text" class="datepicker custom-input" ng-model="paymentInfo.paymentDate" placeholder="MM/DD/YYYY"
                           ng-class="{'invalid-input': editSubmitted && paymentInfo.paymentDate  === null}">
                    <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                </div>
                <span class="validation-msg" ng-show="editSubmitted && paymentInfo.paymentDate  === null">Date is required.</span>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                @*Dentist*@
                <label class="custom-label">Dentist <span class="required-mark">*</span></label>
                <select class="custom-input browser-default" ng-model="paymentInfo.dentistID"
                        ng-options="dentist.dentistID as dentist.dentistName for dentist in dentistArray"
                        ng-class="{'invalid-input': editSubmitted && paymentInfo.dentistID  === null}" disabled>
                    <option value="" disabled>Select dentist...</option>
                </select>
                <span class="validation-msg" ng-show="editSubmitted && paymentInfo.dentistID  === null">Dentist is required.</span>
            </div>

            <div class="col s6">
                @*Tooth Number*@
                <label class="custom-label">Tooth Number</label>
                <input type="text" class="custom-input browser-default" ng-model="paymentInfo.toothNumber"
                       ng-class="" />
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                @*Procedure*@
                <label class="custom-label">Procedure <span class="required-mark">*</span></label>
                <input type="text" class="custom-input browser-default" ng-model="paymentInfo.procedures"
                       ng-class="" />
            </div>
        </div>

        <h5 class="modal-form-title" style="margin: 4vh 0 1.5vh 0;">Payment</h5>

        <div class="row">
            <div class="col s6">
                @*Mode of Payment*@
                <label class="custom-label">
                    Mode of Payment
                    <span class="required-mark">*</span>
                    <select class="custom-input"
                            ng-model="paymentInfo.paymentMethod"
                            ng-class="{'invalid-input': addSubmitted && !paymentMethod}">
                        <option value="" disabled selected>Select mode of payment...</option>
                        <option value="GCash">GCash</option>
                        <option value="Card">Card</option>
                        <option value="Cash">Cash</option>
                        <option value="Others">Others</option>
                    </select>
                </label>
                <span class="validation-msg" ng-show="editSubmitted && !paymentInfo.paymentMethod">Mode of payment is required.</span>
            </div>
            <div class="col s6">
                @*Reference*@
                <label class="custom-label">
                    Reference No.
                    <span class="required-mark">*</span>
                    <input type="text" class="custom-input" placeholder="Cost..." ng-model="paymentInfo.reference"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '')"
                           ng-class="{'invalid-input': editSubmitted && !paymentInfo.cost}">
                </label>
                <span class="validation-msg" ng-show="editSubmitted && !paymentInfo.cost">Cost is required.</span>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                @*Cost*@
                <label class="custom-label">
                    Cost
                    <span class="required-mark">*</span>
                    <input type="text" class="custom-input" placeholder="Cost..." ng-model="paymentInfo.cost"
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '')"
                           ng-class="{'invalid-input': editSubmitted && !paymentInfo.cost}">
                </label>
                <span class="validation-msg" ng-show="editSubmitted && !paymentInfo.cost">Cost is required.</span>
            </div>
            <div class="col s6">
                @*Paid*@
                <label class="custom-label">
                    Paid
                    <span class="required-mark">*</span>
                    <input type="text" class="custom-input" ng-model="paymentInfo.paid" placeholder="Total amount paid..."
                           oninput="this.value = this.value.replace(/[^0-9.]/g, '')"
                           ng-class="{'invalid-input': addSubmitted && !paymentInfo.paid}">
                </label>
                <span class="validation-msg" ng-show="addSubmitted && !paymentInfo.paid">Total amount paid is required.</span>
            </div>
        </div>

        <div class="row">
            <div class="col s6">
                @*Total*@
                <label class="custom-label">
                    Balance
                    <span class="required-mark">*</span>
                    <input type="text" class="custom-input"
                           ng-value="(paymentInfo.cost || 0) - (paymentInfo.discount || 0) - (paymentInfo.paid || 0)"
                           placeholder="Balance..."
                           ng-class="{'invalid-input': addSubmitted && ((paymentCost - paymentDiscount - paymentPaid) < 0)}"
                           disabled>
                </label>
                <span class="validation-msg" ng-show="editSubmitted && paymentInfo.balance === null">Balance is required.</span>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                @*Description*@
                <label class="custom-label">
                    Description
                    <textarea style="flex: 1; height: 10vh; padding: 1vh; background-color:white; border:none;"
                              placeholder="Description..." ng-model="paymentInfo.description"></textarea>
                </label>
            </div>
        </div>
    </div>



    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh"
                ng-click="editSubmitted = false">
            CANCEL
        </button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0"
                ng-click="editPayment()">
            EDIT
        </button>
    </div>
</div>

@*VIEW Payment Record*@
<div id="modalViewPayrec" class="modal payrec-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Payment Record</h5>
        <div class="row">
            <div class="col s6">
                @*Patient*@
                <label class="custom-label">Patient</label>
                <p class="custom-input">{{paymentInfo.patientName}}</p>
            </div>

            <div class="col s6">
                @*Date*@
                <label class="custom-label">Date</label>
                <p class="custom-input">{{paymentInfo.paymentDate}}</p>
            </div>
        </div>


        <div class="row">
            <div class="col s6">
                @*Dentist*@
                <label class="custom-label">Dentist</label>
                <p class="custom-input">{{paymentInfo.dentistName}}</p>
            </div>

            <div class="col s6">
                @*Tooth Number*@
                <label class="custom-label">Tooth Number</label>
                <p class="custom-input">{{paymentInfo.toothNumber}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                @*Procedure*@
                <label class="custom-label">Procedure</label>
                <p class="custom-input">{{paymentInfo.procedures}}</p>
            </div>
        </div>

        <h5 class="modal-form-title" style="margin: 4vh 0 1.5vh 0;">Payment</h5>

        <div class="row">
            <div class="col s4">
                @*Mode of Payment*@
                <label class="custom-label">Mode of Payment</label>
                <p class="custom-input">{{paymentInfo.paymentMethod}}</p>
            </div>
            <div class="col s4">
                @*Cost*@
                <label class="custom-label">Cost</label>
                <p class="custom-input">{{paymentInfo.cost}}</p>
            </div>
            <div class="col s4">
                @*Discount*@
                <label class="custom-label">Discount</label>
                <p class="custom-input">{{paymentInfo.discount}}</p>
            </div>
        </div>


        <div class="row">
            <div class="col s6">
                @*Paid*@
                <label class="custom-label">Total Amount Paid</label>
                <p class="custom-input">{{paymentInfo.amountPaid}}</p>
            </div>

            <div class="col s6">
                @*Total*@
                <label class="custom-label">Balance Payment</label>
                <p class="custom-input">{{paymentInfo.amountDue}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                @*Description*@
                <label class="custom-label">Description</label>
                <p style="flex: 1; min-height: 10vh; padding: 1vh; background-color: white;">{{paymentInfo.description}}</p>
            </div>
        </div>
    </div>


    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">
            CLOSE
        </button>

    </div>
</div>

@*Archive Peyment Record*@
<div id="modalDeletePayrec" class="modal payrec-modal" style="width:30% !important">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Arhive Payment Record</h5>

        <p class="custom-label">Are you sure you want to archive this payment record?</p>
    </div>

    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0" ng-click="deletePaymentThis()">ARCHIVE</button>
    </div>
</div>

@*Unrchive Peyment Record*@
<div id="modalDeletePayrecNo" class="modal payrec-modal" style="width:30% !important">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Arhive Payment Record</h5>

        <p class="custom-label">Are you sure you want to unarchive this payment record?</p>
    </div>

    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0" ng-click="undeletePaymentThis()">UNARCHIVE</button>
    </div>
</div>
