@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="dashContainer">
    @*top part)*@
    <div class="row brown-text lighten-1" style="margin-top: 1rem">
        @*user name*@
        <div class="col m8 l8"><h4>Frequently Asked Questions</h4></div>
        @*refresh and logout buttons*@
        <div class="col hide-on-small-only m4 l4">
            <span class="right">
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" ng-click="logOut()" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a></div>
            </span>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m9 l10">
            <div id="genInfo" class="section scrollspy">
                <h5 class="brown-text lighten-1">General Information</h5>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">Where are your clinic branches located?</div>
                        <div class="collapsible-body">
                            <span>
                                The clinic operates three branches located in Cabanatuan, Nueva Ecija; Talavera, Nueva Ecija; and San Pablo, Nueva Ecija.
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Where are your clinic branches located?</div>
                        <div class="collapsible-body">
                            <span>
                                The clinic operates three branches located in Cabanatuan, Nueva Ecija; Talavera, Nueva Ecija; and San Pablo, Nueva Ecija.
                            </span>
                        </div>
                    </li>
                </ul>
            </div>
            <div id="patientAcc" class="section scrollspy">
                <h5 class="brown-text lighten-1">Patient Accounts</h5>
                <ul class="collapsible">
                    <li>
                        <div class="collapsible-header">Where are your clinic branches located?</div>
                        <div class="collapsible-body">
                            <span>
                                The clinic operates three branches located in Cabanatuan, Nueva Ecija; Talavera, Nueva Ecija; and San Pablo, Nueva Ecija.
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">Where are your clinic branches located?</div>
                        <div class="collapsible-body">
                            <span>
                                The clinic operates three branches located in Cabanatuan, Nueva Ecija; Talavera, Nueva Ecija; and San Pablo, Nueva Ecija.
                            </span>
                        </div>
                    </li>
                </ul>
            </div>

        </div>

        <div class="col hide-on-small-only m3 l2">
            <ul class="section table-of-contents">
                <li><a href="#genInfo">General Information</a></li>
                <li><a href="#patientAcc">Patient Accounts</a></li>
                <li><a href="#">G</a></li>
                <li><a href="#">G</a></li>
                <li><a href="#">G</a></li>
                <li><a href="#">G</a></li>
                <li><a href="#">G</a></li>
            </ul>
        </div>
    </div>


</div>


