@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<body>
    <script>if (window.opener) {
            window.opener.postMessage({ type: 'google-auth-success' }, window.location.origin);
        }
        window.close();</script>
</body>
</html>