@{
    Layout = "~/Views/Shared/_logInSignInLayout.cshtml";
}

<div class="split-container">

    <div class="left-side hide-on-med-and-down">

    </div>

    <div class="right-side" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

        <img src="@Url.Content("~/Content/images/dentalAppLogo.png")" alt="Logo" style="width: 350px; height: auto; margin-bottom: 30px;" />

        <div style="width: 80%; max-width: 500px;">
            <form>
                @*Email*@
                <div class="input-field">
                    <p class="custom-label">Email <span class="required-mark">*</span></p>
                    <input id="email"
                           ng-model="login_email"
                           type="email"
                           placeholder="juandelacruz@gmail.com"
                           maxlength="150"
                           oninput="this.value = this.value.replace(/^A-Za-z0-9 ._-/g, '')"
                           required>
                </div>

                @*Password*@
            <div class="input-field password-field">
                <p class="custom-label">Password <span class="required-mark">*</span></p>
                <input id="password"
                       ng-model="login_password"
                       ng-attr-type="{{ showLoginPassword ? 'text' : 'password' }}"
                       placeholder="Password"
                       maxlength="150"
                       oninput="this.value = this.value.replace(/^A-Za-z0-9 ._-/g, '')"
                       required>
                <i class="material-icons password-toggle" ng-click="toggleLoginPassword()" title="Show/Hide password">
                    {{ showLoginPassword ? 'visibility_off' : 'visibility' }}
                </i>
            </div>

                @*Forgot password?*@
                <div class="forgot-password-container">
                    <a href="#" class="forgot-link modal-trigger" data-target="modal-password">Forgot password?</a>
                </div>

                @*Log in BTN*@
                <button class="logSignBtn" type="submit" ng-click="login()">
                    Log In
                </button>

                @*Dont have an account?*@
                <div class="signup-footer">
                    <span>Don't have an Account yet? </span>
                    <a href="~/RGDC/signUp" class="signup-link">Sign Up</a>
                </div>

                <div class="login-divider">
                    <span>or sign in with</span>
                </div>

                @*Google log in*@
                <div class="social-login-container">
                    <a href="@Url.Action("ExternalLogin", "RGDC", new { provider = "Google" })" class="google-btn">
                        <img src="~/Content/images/google.png" alt="Google" />
                    </a>
                </div>
            </form>
        </div>

    </div>

</div>

@*Forgot Password*@
<div id="modal-password" class="modal password-modal">
    <div class="modal-content" style="width:80vh !important">
        <h5 class="modal-form-title">Reset Your Password</h5>

        <div class="input-field">
            <p class="custom-label">Gmail <span class="required-mark">*</span></p>
            <input type="email"
                   ng-model="forgot_email"
                   placeholder="juandelacruz@gmail.com"
                   required>
        </div>

        <button type="submit" class="edit-btn right" style="font-weight: 500; align-items:center" ng-click="sendOTP()">SEND OTP</button>

        <hr style="margin-top:6vh">

        <div class="input-field">
            <p class="custom-label">OTP Code <span class="required-mark">*</span></p>
            <input type="text"
                   ng-model="forgot_otp"
                   placeholder="Enter OTP">
        </div>

        <div class="input-field">
            <p class="custom-label">New Password <span class="required-mark">*</span></p>
            <input type="password"
                   ng-model="forgot_newPassword"
                   placeholder="New password">
        </div>

        <div class="input-field">
            <p class="custom-label">Confirm Password <span class="required-mark">*</span></p>
            <input type="password"
                   ng-model="forgot_confirmPassword"
                   placeholder="Confirm password">
        </div>
    </div>

    <div class="modal-footer">
        <button class="modal-close cancel-btn" style="font-weight: 500; margin: -.8vh 0 -1.2vh 2.3vh">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight: 500; margin: -.8vh 2.3vh -1.2vh 0" ng-click="resetPassword()">RESET</button>
    </div>
</div>



