@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="dashContainer">
    @*top buttons*@
    <div class="row brown-text lighten-1" style="margin-top: 1rem">
        @*back button*@
        <div class="col m8 l8 valign-wrapper" style="margin-top: 7px;">
            <a href="/RGDC/adminPatientsTab" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Back to Patients Tab"><i class="material-icons brown-text lighten-1 left">arrow_back</i></a>
        </div>

        @*refresh and logout buttons*@
        <div class="col m4 l4">
            <span class="right" style="margin-top:7px;">
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Refresh Tab"> <i class="material-icons brown-text lighten-1">refresh</i></a></div>
                <div ng-click="logOut()" class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a></div>
            </span>
        </div>
    </div>

    @*content*@
    <div class="row" style="padding: 0 1rem 0 1rem;" ng-init="getSelectedPatientDetails(); getGender()">

        @*left column*@
        <div class="col m4 l4" style="padding-left:0">
            @*user name, img, visit*@
            <div class="card grey lighten-2">
                <div class="card-content">
                    @*user pfp and name*@
                    <div class="row center">
                        @*lagyan nalang ng src for image source*@
                        <img src="https://placehold.co/400" class="circle responsive-img" style="max-width:9rem" />
                    </div>

                    @*user name and role*@
                    <div class="row center"> 
                        <h5 class="bold brown-text lighten-1">{{selectedPatient.patientName}}</h5>
                        <h6 class="bold brown-text lighten-1">ID: {{selectedPatient.patientID}}</h6>

                        @*last and next visit*@
                        <p class="brown-text lighten-1">Last Visit: {{selectedPatient.lastVisit}}</p>
                        <p class="brown-text lighten-1">Next Visit: {{selectedPatient.nextVisit || "---"}}</p>

                        <button class="edit-btn right modal-trigger" data-target="modal-patient-info">EDIT</button>
                    </div>
                </div>
            </div>
            @*user info*@
            <div class="card grey lighten-2">
                <div class="card-content">
                    <div class="row m-0">
                        <div class="col m6 l6">
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">AGE</p>
                                <p class="brown-text lighten-1">{{selectedPatient.age}}</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">GENDER</p>
                                <p class="brown-text lighten-1">{{selectedPatient.gender}}</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">EMAIL ADDRESS</p>
                                <p class="brown-text lighten-1">{{selectedPatient.email}}</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">ADDRESS</p>
                                <p class="brown-text lighten-1">{{selectedPatient.address}}</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">RELIGION</p>
                                <p class="brown-text lighten-1">{{selectedPatient.religion}}</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">REFERRAL</p>
                                <p class="brown-text lighten-1">{{selectedPatient.referral}}</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">INSURANCE</p>
                                <p class="brown-text lighten-1">{{selectedPatient.insurance}}</p>
                            </div>
                        </div>
                        <div class="col m6 l6">
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">BIRTHDAY</p>
                                <p class="brown-text lighten-1">{{selectedPatient.birthDate}}</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">CONTACT NUMBER</p>
                                <p class="brown-text lighten-1">{{selectedPatient.contactNumber}}</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">CIVIL STATUS</p>
                                <p class="brown-text lighten-1">{{selectedPatient.civilStatus}}</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">OCCUPATION</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">NATIONALITY</p>
                                <p class="brown-text lighten-1">{{selectedPatient.nationality}}</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">GUARDIAN</p>
                                <p class="brown-text lighten-1">{{selectedPatient.guar}}</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">ACCOUNT CREATION</p>
                                <p class="brown-text lighten-1">{{selectedPatient.accCreated}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*right column*@
        <div class="col m8 l8" style="padding-right: 0">
            <div class="card grey lighten-2">
                <nav class="nav-extended grey lighten-2 z-depth-0">
                    <div class="nav-content p-1">
                        <ul class="tabs tabs-transparent center-tabs">
                            <li class="tab px-1"><a class="active brown-text p-0" href="#med">Medical History</a></li>
                            <li class="tab px-1"><a class="brown-text p-0" href="#prog">Progress Notes</a></li>
                            <li class="tab px-1"><a class="brown-text p-0" href="#dent">Dental Chart</a></li>
                            <li class="tab px-1"><a class="brown-text p-0" href="#forms">Forms</a></li>
                            <li class="tab px-1"><a class="brown-text p-0" href="#postOp">Post Op</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="card-content">

                    @*medical history*@
                    <div id="med" class="containerOverflow-2 row m-0">
                        <div class="medical-history-container">
                            <div class="form-header">
                                @*previous physician info*@
                                <div class="physician-info">
                                    <p class="medInfo">
                                        Name of previous physician:
                                        <span style="font-weight:bold"> {{selectedPatient.prevPhy || '---'}}</span>
                                    </p>
                                    <p>
                                        Physician's Office:
                                        <span style="font-weight:bold"> {{selectedPatient.prevPhyOffice || '---'}}</span>
                                    </p>
                                    <p>
                                        Physician's Contacts:
                                        <span style="font-weight:bold"> {{selectedPatient.prevPhyContact || '---'}}</span>
                                    </p>
                                </div>
                                @*update button and last updated*@
                                <div class="col">
                                    <div class="row">
                                        <button class="update-btn right modal-trigger" data-target="medical-history-modal">UPDATE</button>
                                    </div>
                                    <div class="row" style="margin-top:-15px">
                                        <p class="last-update">Last Update: {{selectedPatient.medHistUpdate || '...'}}</p>
                                    </div>
                                </div>

                            </div>
                            <hr class="form-divider" style="margin-bottom:10px;">

                            @*medical history*@
                            <ol class="medical-questions">
                                <li>
                                    Are you in good health?
                                    <span class="placeholder-text">{{medical.history.goodHealth }}</span>
                                </li>
                                <li>
                                    Are you under medical treatment now?
                                    <span class="placeholder-text">{{medical.history.underTreatment }}</span>
                                </li>
                                <li>
                                    Have you ever had a serious illness or surgical operation?
                                    <span class="placeholder-text">{{medical.history.seriousIllness }}</span>
                                </li>
                                <li>
                                    Have you ever been hospitalized?
                                    <span class="placeholder-text">{{medical.history.hospitalized }}</span>
                                </li>
                                <li>
                                    Are you taking prescription/non-prescription medication?
                                    <span class="placeholder-text">{{medical.history.prescription }}</span>
                                </li>
                                <li>
                                    Are you taking tobacco products?
                                    <span class="placeholder-text">{{medical.history.tobacco }}</span>
                                </li>
                                <li>
                                    Do you use alcohol, cocaine, or other dangerous drugs?
                                    <span class="placeholder-text">{{medical.history.drugs }}</span>
                                </li>
                                <li>
                                    Allergies:
                                    <span class="placeholder-text">{{medical.history.allergies || '---'}}</span>
                                </li>
                                <li>
                                    Bleeding Time:
                                    <span class="placeholder-text">{{medical.history.bleedingTime || '---'}}</span>
                                </li>

                                <li>
                                    For women only:
                                    <div class="women-only-options view-only">
                                        <label><input type="checkbox" ng-model="medical.history.pregnant" class="filled-in" /><span>Are you pregnant?</span></label>
                                        <label><input type="checkbox" ng-model="medical.history.nursing" class="filled-in" /><span>Are you nursing?</span></label>
                                        <label><input type="checkbox" ng-model="medical.history.pills" class="filled-in" /><span>Are you taking birth control pills?</span></label>
                                    </div>
                                </li>

                                <li>
                                    Blood type:
                                    <span class="placeholder-text">{{medical.history.bloodType || '---'}}</span>
                                </li>
                                <li>
                                    Blood pressure:
                                    <span class="placeholder-text">{{medical.history.bloodPressure || '---'}}</span>
                                </li>
                                <li>Do you have or have had any of the following?</li>
                            </ol>

                            <div class="checkbox-grid view-only">
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.highBloodPressure" /><span>High Blood Pressure</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.lowBloodPressure" /><span>Low Blood Pressure</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.epilepsy" /><span>Epilepsy / Convulsions</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.hiv" /><span>AIDS or HIV Infection</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.std" /><span>Sexually Transmitted Disease</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.stomachUlcer" /><span>Stomach Troubles / Ulcer</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.faintingSeizure" /><span>Fainting Seizure</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.rapidWeightLoss" /><span>Rapid Weight Loss</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.radiationTherapy" /><span>Radiation Therapy</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.jointReplacement" /><span>Joint Replacement / Implant</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.heartSurgery" /><span>Heart Surgery</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.heartAttack" /><span>Heart Attack</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.thyroidProblem" /><span>Thyroid Problem</span></label>

                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.heartDisease" /><span>Heart Disease</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.heartMurmur" /><span>Heart Murmur</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.liverDisease" /><span>Hepatitis / Liver Disease</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.rheumaticFever" /><span>Rheumatic Fever</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.allergies" /><span>Hay Fever / Allergies</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.respiratoryProblems" /><span>Respiratory Problems</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.hepatitisJaundice" /><span>Hepatitis / Jaundice</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.tuberculosis" /><span>Tuberculosis</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.swollenAnkles" /><span>Swollen Ankles</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.kidneyDisease" /><span>Kidney Disease</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.diabetes" /><span>Diabetes</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.chestPain" /><span>Chest Pain</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.stroke" /><span>Stroke</span></label>

                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.cancer" /><span>Cancer / Tumors</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.anemia" /><span>Anemia</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.angina" /><span>Angina</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.asthma" /><span>Asthma</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.emphysema" /><span>Emphysema</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.bleedingProblems" /><span>Bleeding Problems</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.bloodDiseases" /><span>Blood Diseases</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.headInjuries" /><span>Head Injuries</span></label>
                                <label><input type="checkbox" class="filled-in" ng-model="medical.conditions.arthritis" /><span>Arthritis / Rheumatism</span></label>

                                <div class="other-section">
                                    <label>
                                        <input type="checkbox" class="filled-in" ng-model="medical.history.checkedd" />
                                        <span>Other/s:</span>
                                    </label>
                                    <input type="text" class="other-input" ng-model="medical.history.text" ng-disabled="!medical.history.checkedd">
                                </div>
                            </div>

                            @*signature*@
                            <div class="signature-container">
                                <div class="signature-pad" style="margin-top: 20px; width:250px; height:100px; display:flex; align-items:center; justify-content:center; background:white; border:1px solid #ddd;">
                                    <img ng-if="selectedPatient.signatureLink || signaturePreview" ng-src="{{ signaturePreview || selectedPatient.signatureLink }}" alt="Signature" style="max-width:250px; max-height:100px; object-fit:contain;" />
                                    <i ng-if="!(selectedPatient.signatureLink || signaturePreview)" class="material-icons">image</i>
                                </div>
                                <div class="signature-line"></div>
                                <span class="signature-label">Signature</span>
                            </div>
                        </div>
                    </div>

                    @*Progress Notes*@
                    <div id="prog" class="row m-0">

                        <div class="row">
                            <a ng-show="isUserAdmin" class="edit-btn right modal-trigger" data-target="modal-progress-notes">ADD NOTE</a>
                        </div>

                        <table id="progressNotes" class="hover">
                            @*table headers*@
                            <thead>
                                <tr class="brown-text lighten-1">
                                    <th>Date</th>
                                    <th>Procedures</th>
                                    <th>Tooth #</th>
                                    <th>Dentist</th>
                                    <th>Amount</th>
                                    <th>Paid</th>
                                    <th colspan="2">Balance</th>
                                </tr>
                            </thead>
                            @*table content*@
                            <tbody>
                                <tr ng-repeat="patientTreatment in patientTreatments">
                                    <td>{{patientTreatment.date}}</td>
                                    <td>{{patientTreatment.procedureID}}</td>
                                    <td>{{patientTreatment.toothNumber}}</td>
                                    <td>{{patientTreatment.dentist}}</td>
                                    <td>{{patientTreatment.amount}}</td>
                                    <td>{{patientTreatment.paid}}</td>
                                    <td>{{patientTreatment.amount - patientTreatment.paid}}</td>
                                    <td>
                                        <a ng-click="editPatient(patientTreatment.trtPlanID)" ng-show="isUserAdmin" class="btn-floating btn-small waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modal-delete-progress-note" data-position="bottom" data-tooltip="Delete Progress Note">
                                            <i class="material-icons brown-text lighten-1">delete</i>
                                        </a>
                                        <a ng-show="isUserAdmin" class="btn-floating btn-small waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="modal-edit-progress-note" data-position="bottom" data-tooltip="Edit Progress Note" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1">edit</i></a>
                                    </td>
                                </tr>
                            </tbody>
                            @*table footer*@
                            <tfoot>
                                <tr class="brown-text lighten-1">
                                    <th>Date</th>
                                    <th>Procedures</th>
                                    <th>Tooth #</th>
                                    <th>Dentist</th>
                                    <th>Amount</th>
                                    <th>Paid</th>
                                    <th>Balance</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    @*Dental Chart*@
                    <div id="dent" class="row m-0 containerOverflow-2" style="padding:5px 20px 0 0;">

                        <div class="row">
                            <a ng-show="isUserAdmin" class="edit-btn right modal-trigger" data-target="modal-dental-chart">EDIT CHART</a>
                        </div>

                        <div class="row m-0 center">
                            <img id="dentalChartMain"
                                 ng-src="{{selectedPatient.dentalChartLink || 'https://placehold.co/2550x3300'}}"
                                 alt="Dental Chart"
                                 style="max-height: 47rem" />
                        </div>

                    </div>

                    @*Forms*@
                    <div id="forms" class="row m-0">
                        <div class="row">
                            <a ng-show="isUserAdmin" class="edit-btn right modal-trigger" data-target="modal-add-form">ADD FORM</a>
                        </div>

                        <table id="patientForms" class="hover tableClk">
                            @*table headers*@
                            <thead>
                                <tr class="brown-text lighten-1">
                                    <th>Date</th>
                                    <th>Form</th>
                                    <th colspan="2">Dentist</th>
                                </tr>
                            </thead>
                            @*table content*@
                            <tbody>
                                <tr data-href="#" title="View Form" class="clkPointer">
                                    <td>MM/DD/YYYY</td>
                                    <td>Form</td>
                                    <td>Name</td>
                                    @*edit and delete button*@
                                    <td>
                                        <a ng-show="isUserAdmin" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped m-0 redBtn modal-trigger" data-target="modal-delete-form" data-position="bottom" data-tooltip="Delete Form">
                                            <i class="material-icons brown-text lighten-1">delete</i>
                                        </a>
                                        <a ng-show="isUserAdmin" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped m-0 modal-trigger" data-target="modal-edit-form" data-position="bottom" data-tooltip="Edit Form" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1">edit</i></a>
                                    </td>
                                </tr>
                            </tbody>
                            @*table footer*@
                            <tfoot>
                                <tr class="brown-text lighten-1">
                                    <th>Date</th>
                                    <th>Form</th>
                                    <th>Dentist</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    @*post op*@
                    <div id="postOp" class="row m-0">

                        <div class="row">
                            <div class="card white z-depth-0" style="max-height: 47rem; overflow-y: auto">
                                <div class="card-content brown-text lighten-1">
                                    @*post op title*@
                                    <span class="card-title bold">Post OP</span>
                                    <div class="divider"></div>
                                    @*post op content*@
                                    <p>Nothing here.</p>
                                </div>
                            </div>
                        </div>
                        @*edit and delete buttons*@
                        <div class="row m-0 left">
                            <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped modal-trigger" data-target="modal-edit-postOp" data-position="bottom" data-tooltip="Edit Post Op" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1">edit</i></a>
                            <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped redBtn modal-trigger" data-target="modal-delete-postOp" data-position="bottom" data-tooltip="Delete Post Op">
                                <i class="material-icons brown-text lighten-1">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*Patient info*@
<div id="modal-patient-info" class="modal modal-fixed-footer patient-info-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Edit Patient Information</h5>

        <div class="row">
            @*Firstname*@
            <div class="col s4">
                <label class="custom-label">
                    First Name
                    <input type="text" class="custom-input" placeholder="First Name" ng-model="selectedPatient.firstName">
                </label>
            </div>

            @*Middlename*@
            <div class="col s4">
                <label class="custom-label">
                    Middle Name
                    <input type="text" class="custom-input" placeholder="Middle Name" ng-model="selectedPatient.middleName">
                </label>
            </div>

            @*Lastname*@
            <div class="col s4">
                <label class="custom-label">
                    Last Name
                    <input type="text" class="custom-input" placeholder="Last Name" ng-model="selectedPatient.lastName">
                </label>
            </div>
        </div>


        <div class="row">
            <div class="col s6">
                @*Gender*@
                <label class="custom-label">
                    Gender
                    <select class="browser-default custom-input"
                            ng-model="selectedPatient.genderID"
                            ng-options="g.genderID as g.description for g in genderArray"
                            style="margin-bottom:15px;">
                        <option value="" disabled>Select Gender</option>
                    </select>
                </label>

                @*Birthday*@
                <label class="custom-label">
                    Birthday
                    <div style="position: relative;">
                        <input id="birthDate"
                               ng-model="selectedPatient.birthDateRaw"
                               type="date"
                               class="custom-input"
                               placeholder="Select Birthday"
                               max="@DateTime.Now.ToString("yyyy-MM-dd")" />
                    </div>
                </label>

                @*Address*@
                <label class="custom-label">
                    Address
                    <input type="text" class="custom-input" placeholder="Address" ng-model="selectedPatient.address">
                </label>

                @*Nationality*@
                <label class="custom-label">
                    Nationality
                    <input type="text" class="custom-input" placeholder="Nationality" ng-model="selectedPatient.nationality">
                </label>

                @*Guardian*@
                <label class="custom-label">
                    Guardian
                    <input type="text" class="custom-input" placeholder="Guardian" ng-model="selectedPatient.guar">
                </label>

                @*Email*@
                <label class="custom-label">
                    Email Address
                    <input type="text" class="custom-input" placeholder="Email Address" ng-model="selectedPatient.email">
                </label>
            </div>

            <div class="col s6">
                @*Civil status*@
                <label class="custom-label">
                    Civil Status
                    <select class="browser-default custom-input" style="margin-bottom:15px;" ng-model="selectedPatient.civilStatus" required>
                        <option value="" disabled selected>Select Status</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Widowed">Widowed</option>
                    </select>
                </label>

                @*Occupation*@
                <label class="custom-label">
                    Occupation
                    <input type="text" class="custom-input" placeholder="Occupation">
                </label>

                @*Religion*@
                <label class="custom-label">
                    Religion
                    <input type="text" class="custom-input" placeholder="Religion" ng-model="selectedPatient.religion">
                </label>

                @*Medical Insurance*@
                <label class="custom-label">
                    Medical Insurance
                    <input type="text" class="custom-input" placeholder="Medical Insurance" ng-model="selectedPatient.insurance">
                </label>

                @*Guardian Contact #*@
                <label class="custom-label">
                    Guardian's Contact Number
                    <input type="text" class="custom-input" placeholder="Guardian's Contact Number" ng-model="selectedPatient.guarNum">
                </label>

                @*Contact #*@
                <label class="custom-label">
                    Contact Number
                    <input type="text" class="custom-input" placeholder="Contact Number" ng-model="selectedPatient.contactNumber">
                </label>
            </div>
        </div>
    </div>

    <div class="modal-footer footer-center">
        <button type="submit" class="edit-btn left" style="font-weight:500; margin-left:20px">UPLOAD NEW ACCOUNT PICTURE</button>
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px" ng-click="updatePatientProfile()">SAVE</button>
    </div>
</div>


@*medical history modal*@
<div id="medical-history-modal" class="modal modal-fixed-footer med-his-modal">
    <div class="medical-history-container">
        <h5 class="modal-form-title">Edit Medical History</h5>

        <div class="form-header">
            @*previous physician info*@
            <div class="row" style="padding: 0 10px; flex:1">
                <p style="display: flex; align-items: center; white-space: nowrap; gap: 10px; margin:0 0 -15px 0;">
                    <span>Name of previous physician:</span>
                    <input type="text" class="custom-input" style="flex: 1;" placeholder="Name of previous physician" ng-model="prevPhy">
                </p>

                <p style="display: flex; align-items: center; white-space: nowrap; gap: 10px; margin: -15px 0 -15px 0;">
                    <span>Physician's office:</span>
                    <input type="text" class="custom-input" style="flex: 1;" placeholder="Physician's office" ng-model="prevPhyOffice">
                </p>

                <p style="display: flex; align-items: center; white-space: nowrap; gap: 10px; margin: -15px 0 5px 0;">
                    <span>Physician's contact:</span>
                    <input type="text" class="custom-input" style="flex: 1;" placeholder="Physician's contact" ng-model="prevPhyContact">
                </p>
            </div>

        </div>
        <hr class="form-divider" style="margin-bottom:10px;">

        @*medical history*@
        <ol class="medical-questions">
            <li>
                @*Are you in good health? *@
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <span>Are you in good health?</span>

                    <div style="display: flex; gap: 15px; margin-right:-25px;">
                        <label style="display: flex; align-items: center;">
                            <input name="1" value="Yes" type="radio" class="with-gap" ng-model="medical.history.goodHealth" />
                            <span>Yes</span>
                        </label>
                        <label style="display: flex; align-items: center;">
                            <input name="1" type="radio" value="No" class="with-gap" ng-model="medical.history.goodHealth" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                @*Are you under medical treatment now? *@
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <span>Are you under medical treatment now?</span>

                    <div style="display: flex; gap: 15px; margin-right: -25px;">
                        <label style="display: flex; align-items: center;">
                            <input name="2" type="radio" value="Yes" class="with-gap" ng-model="medical.history.underTreatment" />
                            <span>Yes</span>
                        </label>
                        <label style="display: flex; align-items: center;">
                            <input name="2" type="radio" value="No" class="with-gap" ng-model="medical.history.underTreatment" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                @*Have you ever had a serious illness or surgical operation? *@
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <span>Have you ever had a serious illness or surgical operation?</span>

                    <div style="display: flex; gap: 15px; margin-right: -25px;">
                        <label style="display: flex; align-items: center;">
                            <input name="3" type="radio" value="Yes" class="with-gap" ng-model="medical.history.seriousIllness" />
                            <span>Yes</span>
                        </label>
                        <label style="display: flex; align-items: center;">
                            <input name="3" type="radio" value="No" class="with-gap" ng-model="medical.history.seriousIllness" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                @*Have you ever been hospitalized? *@
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <span>Have you ever been hospitalized?</span>

                    <div style="display: flex; gap: 15px; margin-right: -25px;">
                        <label style="display: flex; align-items: center;">
                            <input name="4" type="radio" value="Yes" class="with-gap" ng-model="medical.history.hospitalized" />
                            <span>Yes</span>
                        </label>
                        <label style="display: flex; align-items: center;">
                            <input name="4" type="radio" value="No" class="with-gap" ng-model="medical.history.hospitalized" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                @*Are you taking prescription/non-prescription medication? *@
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <span>Are you taking prescription/non-prescription medication?</span>

                    <div style="display: flex; gap: 15px; margin-right: -25px;">
                        <label style="display: flex; align-items: center;">
                            <input name="5" type="radio" value="Yes" class="with-gap" ng-model="medical.history.prescription" />
                            <span>Yes</span>
                        </label>
                        <label style="display: flex; align-items: center;">
                            <input name="5" type="radio" value="No" class="with-gap" ng-model="medical.history.prescription" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                @*Are you taking tobacco products? *@
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <span>Are you taking tobacco products?</span>

                    <div style="display: flex; gap: 15px; margin-right: -25px;">
                        <label style="display: flex; align-items: center;">
                            <input name="6" type="radio" value="Yes" class="with-gap" ng-model="medical.history.tobacco" />
                            <span>Yes</span>
                        </label>
                        <label style="display: flex; align-items: center;">
                            <input name="6" type="radio" value="No" class="with-gap" ng-model="medical.history.tobacco" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                @*Do you use alcohol, cocaine, or other dangerous drugs? *@
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <span>Do you use alcohol, cocaine, or other dangerous drugs?</span>

                    <div style="display: flex; gap: 15px; margin-right: -25px;">
                        <label style="display: flex; align-items: center;">
                            <input name="7" type="radio" value="Yes" class="with-gap" ng-model="medical.history.drugs" />
                            <span>Yes</span>
                        </label>
                        <label style="display: flex; align-items: center;">
                            <input name="7" type="radio" value="No" class="with-gap" ng-model="medical.history.drugs" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </li>
            <li style="margin: -10px 0 10px 0;">
                @*Allergies*@
                <div style="display: flex; align-items: center; white-space: nowrap; gap: 10px;">
                    <span>Allergies:</span>
                    <input type="text" class="custom-input" style="flex: 1; margin-right: -30px;" placeholder="Allergies..." ng-model="medical.history.allergies">
                </div>
            </li>
            <li style="margin: -25px 0 0 0;">
                @*Bleeding time:*@
                <div style="display: flex; align-items: center; white-space: nowrap; gap: 10px;">
                    <span>Bleeding time:</span>
                    <input type="text" class="custom-input" style="flex: 1; margin-right: -30px;" placeholder="Bleeding time..." ng-model="medical.history.bleedingTime">>
                </div>
            </li>

            <li>
                For women only:
                <div class="women-only-options">
                    <label><input type="checkbox" ng-model="medical.history.pregnant" class="filled-in" /><span>Are you pregnant?</span></label>
                    <label><input type="checkbox" ng-model="medical.history.nursing" class="filled-in" /><span>Are you nursing?</span></label>
                    <label><input type="checkbox" ng-model="medical.history.pills" class="filled-in" /><span>Are you taking birth control pills?</span></label>
                </div>
            </li>

            <li style="margin: -10px 0 10px 0;">
                @*Blood ppressure*@
                <div style="display: flex; align-items: center; white-space: nowrap; gap: 10px;">
                    <span>Blood pressure:</span>
                    <input type="text" class="custom-input" ng-model="medical.history.bloodPressure" style="flex: 1; margin-right: -30px;" placeholder="Blood pressure...">
                </div>
            </li>
            <li style="margin: -25px 0 0 0;">
                @*Blood type:*@
                <div style="display: flex; align-items: center; white-space: nowrap; gap: 10px;">
                    <span>Blood type:</span>
                    <input type="text" class="custom-input" ng-model="medical.history.bloodType" style="flex: 1; margin-right: -30px;" placeholder="Blood Type...">
                </div>
            </li>
            <li>Do you have or have had any of the following?</li>
        </ol>

        <div class="checkbox-grid">

            <label>
                <input type="checkbox" ng-model="medical.conditions.highBloodPressure" class="filled-in" />
                <span>High Blood Pressure</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.lowBloodPressure" class="filled-in" />
                <span>Low Blood Pressure</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.epilepsy" class="filled-in" />
                <span>Epilepsy / Convulsions</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.hiv" class="filled-in" />
                <span>AIDS or HIV Infection</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.std" class="filled-in" />
                <span>Sexually Transmitted Disease</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.stomachUlcer" class="filled-in" />
                <span>Stomach Troubles / Ulcer</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.faintingSeizure" class="filled-in" />
                <span>Fainting Seizure</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.rapidWeightLoss" class="filled-in" />
                <span>Rapid Weight Loss</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.radiationTherapy" class="filled-in" />
                <span>Radiation Therapy</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.jointReplacement" class="filled-in" />
                <span>Joint Replacement / Implant</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.heartSurgery" class="filled-in" />
                <span>Heart Surgery</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.heartAttack" class="filled-in" />
                <span>Heart Attack</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.thyroidProblem" class="filled-in" />
                <span>Thyroid Problem</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.heartDisease" class="filled-in" />
                <span>Heart Disease</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.heartMurmur" class="filled-in" />
                <span>Heart Murmur</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.liverDisease" class="filled-in" />
                <span>Hepatitis / Liver Disease</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.rheumaticFever" class="filled-in" />
                <span>Rheumatic Fever</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.allergies" class="filled-in" />
                <span>Hay Fever / Allergies</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.respiratoryProblems" class="filled-in" />
                <span>Respiratory Problems</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.hepatitisJaundice" class="filled-in" />
                <span>Hepatitis / Jaundice</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.tuberculosis" class="filled-in" />
                <span>Tuberculosis</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.swollenAnkles" class="filled-in" />
                <span>Swollen Ankles</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.kidneyDisease" class="filled-in" />
                <span>Kidney Disease</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.diabetes" class="filled-in" />
                <span>Diabetes</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.chestPain" class="filled-in" />
                <span>Chest Pain</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.stroke" class="filled-in" />
                <span>Stroke</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.cancer" class="filled-in" />
                <span>Cancer / Tumors</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.anemia" class="filled-in" />
                <span>Anemia</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.angina" class="filled-in" />
                <span>Angina</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.asthma" class="filled-in" />
                <span>Asthma</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.emphysema" class="filled-in" />
                <span>Emphysema</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.bleedingProblems" class="filled-in" />
                <span>Bleeding Problems</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.bloodDiseases" class="filled-in" />
                <span>Blood Diseases</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.headInjuries" class="filled-in" />
                <span>Head Injuries</span>
            </label>

            <label>
                <input type="checkbox" ng-model="medical.conditions.arthritis" class="filled-in" />
                <span>Arthritis / Rheumatism</span>
            </label>

            <div class="other-section">
                <label><input type="checkbox" class="filled-in" ng-model="medical.history.checkedd"> <span>Other/s:</span></label>
                <input type="text" class="other-input" style="margin-right:25px" ng-disabled="!medical.history.checkedd" ng-model="medical.history.text">
            </div>
        </div>

        @*signature*@
        <div class="signature-container" style="margin-left:320px">
            <div class="signature-pad" style="margin-top: 20px; width:250px; height:100px; display:flex; align-items:center; justify-content:center; background:white; border:1px solid #ddd;">
                <img ng-if="signaturePreview || selectedPatient.signatureLink" ng-src="{{ signaturePreview || selectedPatient.signatureLink }}" alt="Signature Preview" style="max-width:250px; max-height:100px; object-fit:contain;" />
                <i ng-if="!(signaturePreview || selectedPatient.signatureLink)" class="material-icons">image</i>
            </div>
            <div class="signature-line"></div>
            <span class="signature-label">Signature</span>

        </div>
    </div>

    <div class="footer-center2">
        <button type="submit" class="edit-btn left" style="font-weight:500; margin-left:20px" ng-click="pickSignatureFile()">UPLOAD SIGNATURE</button>
        <button class="modal-close cancel-btn right" style="font-weight: 500; margin-right: 110px;">CANCEL</button>
        <button type="submit" class="edit-btn right" style="font-weight:500; margin-right:20px" ng-click="saveSignature()">SAVE</button>
    </div>
</div>


@*Add Progress botes*@
<div id="modal-progress-notes" class="modal modal-fixed-footer prog-notes-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Add Progress Note</h5>

        <div class="row">
            <div class="col s6">
                @*Date*@
                <label class="custom-label">
                    Date
                    <input type="text" class="custom-input" placeholder="Date">
                </label>

                @*Dentist*@
                <label class="custom-label">
                    Dentist
                    <input type="text" class="custom-input" placeholder="Dentist">
                </label>

                @*Amount*@
                <label class="custom-label">
                    Amount
                    <input type="text" class="custom-input" placeholder="Amount">
                </label>
            </div>

            <div class="col s6">
                @*Procedures*@
                <label class="custom-label">
                    Procedures
                    <input type="text" class="custom-input" placeholder="Procedures">
                </label>

                @*Tooth Number*@
                <label class="custom-label">
                    Tooth Number
                    <input type="text" class="custom-input" placeholder="Tooth Number">
                </label>

                @*Paid*@
                <label class="custom-label">
                    Paid
                    <input type="text" class="custom-input" placeholder="Paid">
                </label>
            </div>
        </div>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">ADD</button>
    </div>
</div>

@*Edit Progress botes*@
<div id="modal-edit-progress-note" class="modal modal-fixed-footer prog-notes-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Edit Progress Note</h5>

        <div class="row">
            <div class="col s6">
                @*Date*@
                <label class="custom-label">
                    Date
                    <input type="text" class="custom-input" placeholder="Date">
                </label>

                @*Dentist*@
                <label class="custom-label">
                    Dentist
                    <input type="text" class="custom-input" placeholder="Dentist">
                </label>

                @*Amount*@
                <label class="custom-label">
                    Amount
                    <input type="text" class="custom-input" placeholder="Amount">
                </label>
            </div>

            <div class="col s6">
                @*Procedures*@
                <label class="custom-label">
                    Procedures
                    <input type="text" class="custom-input" placeholder="Procedures">
                </label>

                @*Tooth Number*@
                <label class="custom-label">
                    Tooth Number
                    <input type="text" class="custom-input" placeholder="Tooth Number">
                </label>

                @*Paid*@
                <label class="custom-label">
                    Paid
                    <input type="text" class="custom-input" placeholder="Paid">
                </label>
            </div>
        </div>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">SAVE</button>
    </div>
</div>

@*DELETE Progress botes*@
<div id="modal-delete-progress-note" class="modal modal-fixed-footer delete-prog-note-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Progress Note</h5>

        <p class="custom-label">Are you sure you want to delete this progress note? </p>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">DELETE</button>
    </div>
</div>

@*Dental Chart modal*@
<div id="modal-dental-chart" class="modal modal-fixed-footer dental-chart-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Edit Dental Chart</h5>

        <div class="row">
            <div class="row m-0 center">
                <img id="dentalChartModalImg"
                     ng-src="{{selectedPatient.dentalChartLink || 'https://placehold.co/2550x3300'}}"
                     alt="Dental Chart"
                     style="max-height: 33rem" />
            </div>
        </div>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="button" class="edit-btn" style="font-weight:500; margin-right:20px" ng-click="uploadFile()">UPLOAD & SAVE</button>
    </div>
</div>

@*Add form*@
<div id="modal-add-form" class="modal modal-fixed-footer add-form-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Add Form</h5>

        @*Date*@
        <label class="custom-label">
            Date
            <input type="text" class="custom-input" placeholder="Date">
        </label>

        @*Dentist*@
        <label class="custom-label">
            Dentist
            <input type="text" class="custom-input" placeholder="Dentist">
        </label>

        <div class="row">
            <div class="row m-0 center">
                <img src="https://placehold.co/2550x3300" style="max-height: 25rem; margin-top:15px;" />
            </div>
        </div>
    </div>

    <div class="modal-footer footer-center">
        <button type="submit" class="edit-btn left" style="font-weight:500; margin-left:20px">UPLOAD FORM</button>
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">ADD</button>
    </div>
</div>

@*Edit form*@
<div id="modal-edit-form" class="modal modal-fixed-footer edit-form-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Edit Form</h5>

        @*Date*@
        <label class="custom-label">
            Date
            <input type="text" class="custom-input" placeholder="Date">
        </label>

        @*Dentist*@
        <label class="custom-label">
            Dentist
            <input type="text" class="custom-input" placeholder="Dentist">
        </label>

        <div class="row">
            <div class="row m-0 center">
                <img src="https://placehold.co/2550x3300" style="max-height: 25rem; margin-top:15px;" />
            </div>
        </div>
    </div>

    <div class="modal-footer footer-center">
        <button type="submit" class="edit-btn left" style="font-weight:500; margin-left:20px">UPLOAD FORM</button>
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">SAVE</button>
    </div>
</div>

@*DELETE Form*@
<div id="modal-delete-form" class="modal modal-fixed-footer delete-form-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Form</h5>

        <p class="custom-label">Are you sure you want to delete this form? </p>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">DELETE</button>
    </div>
</div>

@*Edit Post Op*@
<div id="modal-edit-postOp" class="modal modal-fixed-footer edit-postOp-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Edit Post Operation Instructions</h5>

        @*Dentist*@
        <label class="custom-label">
            Post Operation Instructions
            <textarea style="flex: 1; height: 550px; padding-top: 10px; background-color:white"></textarea>
        </label>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">SAVE</button>
    </div>
</div>

@*DELETE postOp*@
<div id="modal-delete-postOp" class="modal modal-fixed-footer delete-postOp-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Form</h5>

        <p class="custom-label">Are you sure you want to delete this post operation instruction? </p>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">DELETE</button>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (typeof M === 'undefined' || !M.Datepicker) return;

        var dateElems = document.querySelectorAll('.datepicker');
        var dateOptions = {
            format: 'mmmm dd, yyyy',
            yearRange: 100,
            showClearBtn: true,
            container: document.body
        };

        var instances = M.Datepicker.init(dateElems, dateOptions);
        document.querySelectorAll('.datepicker-icon, .datepicker-trigger').forEach(function (icon) {
            icon.addEventListener('click', function (e) {
                var input = icon.closest('.datepicker-wrapper') ? icon.closest('.datepicker-wrapper').querySelector('.datepicker') : null;
                if (!input) {
                    var sib = icon.previousElementSibling || icon.nextElementSibling;
                    if (sib && sib.classList && sib.classList.contains('datepicker')) input = sib;
                }
                if (input) {
                    var inst = M.Datepicker.getInstance(input);
                    if (inst) inst.open();
                    else input.focus();
                }
            });
        });

        var modalElems = document.querySelectorAll('.modal');
        modalElems.forEach(function (modal) {
            modal.addEventListener('modalOpen', function () {
            });

            try {
                var mi = M.Modal.getInstance(modal);
                if (mi) {
                    var origOpen = mi.open;
                    mi.open = function () {
                        M.Datepicker.init(dateElems, dateOptions);
                        origOpen.apply(mi, arguments);
                    };
                }
            } catch (_) { /* ignore if modal instance unavailable */ }
        });
    });
</script>