@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="dashContainer">
    @*top buttons*@
    <div class="row brown-text lighten-1" style="margin-top: 1rem">
        @*back button*@
        <div class="col m8 l8 valign-wrapper" style="margin-top: 7px;">
            <a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Back to Patients Tab"><i class="material-icons brown-text lighten-1 left">arrow_back</i></a>
        </div>

        @*refresh and logout buttons*@
        <div class="col m4 l4">
            <span class="right" style="margin-top:7px;">
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Refresh Tab"> <i class="material-icons brown-text lighten-1">refresh</i></a></div>
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a></div>
            </span>
        </div>
    </div>

    @*content*@
    <div class="row" style="padding: 0 1rem 0 1rem;">

        @*left column*@
        <div class="col m4 l4" style="padding-left:0">
            @*user name, img, visit*@
            <div class="card grey lighten-2">
                <div class="card-content">
                    @*user pfp and name*@
                    <div class="row center">
                        @*lagyan nalang ng src for image source*@
                        <img src="https://placehold.co/400" class="circle responsive-img" style="max-width:9rem" />
                    </div>

                    @*user name and role*@
                    <div class="row center">
                        <h5 class="bold brown-text lighten-1">Name</h5>
                        <h6 class="bold brown-text lighten-1">ID: 000000</h6>

                        @*last and next visit*@
                        <p class="brown-text lighten-1">Last Visit: MM/DD/YYYY</p>
                        <p class="brown-text lighten-1">Next Visit: MM/DD/YYYY</p>

                        <button class="edit-btn right modal-trigger" data-target="modal-patient-info">EDIT</button>
                    </div>
                </div>
            </div>
            @*user info*@
            <div class="card grey lighten-2">
                <div class="card-content">
                    <div class="row m-0">
                        <div class="col m6 l6">
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">AGE</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">GENDER</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">EMAIL ADDRESS</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">ADDRESS</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">RELIGION</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">REFERRAL</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">INSURANCE</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                        </div>
                        <div class="col m6 l6">
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">BIRTHDAY</p>
                                <p class="brown-text lighten-1">Month D, YYYY</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">CONTACT NUMBER</p>
                                <p class="brown-text lighten-1">+00 0000000000</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">CIVIL STATUS</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">OCCUPATION</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">NATIONALITY</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">GUARDIAN</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">ACCOUNT CREATION</p>
                                <p class="brown-text lighten-1">Month D, YYYY</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*right column*@
        <div class="col m8 l8" style="padding-right: 0">
            <div class="card grey lighten-2">
                <nav class="nav-extended grey lighten-2 z-depth-0">
                    <div class="nav-content p-1">
                        <ul class="tabs tabs-transparent center-tabs">
                            <li class="tab px-1"><a class="active brown-text p-0" href="#med">Medical History</a></li>
                            <li class="tab px-1"><a class="brown-text p-0" href="#prog">Progress Notes</a></li>
                            <li class="tab px-1"><a class="brown-text p-0" href="#dent">Dental Chart</a></li>
                            <li class="tab px-1"><a class="brown-text p-0" href="#forms">Forms</a></li>
                            <li class="tab px-1"><a class="brown-text p-0" href="#postOp">Post Op</a></li>
                            <li class="tab px-1"><a class="brown-text p-0" href="#appts">Appointments</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="card-content">

                    @*medical history*@
                    <div id="med" class="containerOverflow-2 row m-0">
                        <div class="medical-history-container">
                            <div class="form-header">
                                @*previous physician info*@
                                <div class="physician-info">
                                    <p class="medInfo">
                                        Name of previous physician:
                                        <span style="font-weight:bold">---</span>
                                    </p>
                                    <p>
                                        Physician's Office:
                                        <span style="font-weight:bold">---</span>
                                    </p>
                                    <p>
                                        Physician's Contacts:
                                        <span style="font-weight:bold">---</span>
                                    </p>
                                </div>
                                @*update button and last updated*@
                                <div class="col">
                                    <div class="row">
                                        <button class="update-btn right modal-trigger" data-target="medical-history-modal">UPDATE</button>
                                    </div>
                                    <div class="row" style="margin-top:-15px">
                                        <p class="last-update">Last Update: Day Month, Year | Time</p>
                                    </div>
                                </div>

                            </div>
                            <hr class="form-divider" style="margin-bottom:10px;">

                            @*medical history*@
                            <ol class="medical-questions">
                                <li>
                                    Are you in good health?
                                    <span class="placeholder-text">YES/NO</span>
                                </li>
                                <li>
                                    Are you under medical treatment now?
                                    <span class="placeholder-text">YES/NO</span>
                                </li>
                                <li>
                                    Have you ever had a serious illness or surgical operation?
                                    <span class="placeholder-text">YES/NO</span>
                                </li>
                                <li>
                                    Have you ever been hospitalized?
                                    <span class="placeholder-text">YES/NO</span>
                                </li>
                                <li>
                                    Are you taking prescription/non-prescription medication?
                                    <span class="placeholder-text">YES/NO</span>
                                </li>
                                <li>
                                    Are you taking tobacco products?
                                    <span class="placeholder-text">YES/NO</span>
                                </li>
                                <li>
                                    Do you use alcohol, cocaine, or other dangerous drugs?
                                    <span class="placeholder-text">YES/NO</span>
                                </li>
                                <li>
                                    Allergies:
                                    <span class="placeholder-text">---</span>
                                </li>
                                <li>
                                    Bleeding Time:
                                    <span class="placeholder-text">---</span>
                                </li>

                                <li>
                                    For women only:
                                    <div class="women-only-options view-only">
                                        <label><input type="checkbox" class="filled-in" /><span>Are you pregnant?</span></label>
                                        <label><input type="checkbox" class="filled-in" /><span>Are you nursing?</span></label>
                                        <label><input type="checkbox" class="filled-in" /><span>Are you taking birth control pills?</span></label>
                                    </div>
                                </li>

                                <li>
                                    Blood type:
                                    <span class="placeholder-text">---</span>
                                </li>
                                <li>
                                    Blood pressure:
                                    <span class="placeholder-text">---</span>
                                </li>
                                <li>Do you have or have had any of the following?</li>
                            </ol>

                            <div class="checkbox-grid view-only">
                                <label><input type="checkbox" class="filled-in" /><span>High Blood Pressure</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Low Blood Pressure</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Epilepsy / Convulsions</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>AIDS or HIV Infection</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Sexually Transmitted Disease</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Stomach Troubles / Ulcer</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Fainting Seizure</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Rapid Weight Loss</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Radiation Therapy</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Joint Replacement / Implant</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Heart Surgery</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Heart Attack</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Thyroid Problem</span></label>

                                <label><input type="checkbox" class="filled-in" /><span>Heart Disease</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Heart Murmur</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Hepatitis / Liver Disease</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Rheumatic Fever</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Hay Fever / Allergies</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Respiratory Problems</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Hepatitis / Jaundice</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Tuberculosis</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Swollen Ankles</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Kidney Disease</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Diabetes</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Chest Pain</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Stroke</span></label>

                                <label><input type="checkbox" class="filled-in" /><span>Cancer / Tumors</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Anemia</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Angina</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Asthma</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Emphysema</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Bleeding Problems</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Blood Diseases</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Head Injuries</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Arthritis / Rheumatism</span></label>

                                <div class="other-section">
                                    <label><input type="checkbox" class="filled-in" /><span>Other/s:</span></label>
                                    <input type="text" class="other-input">
                                </div>
                            </div>

                            @*signature*@
                            <div class="signature-container">
                                <div class="signature-pad" style="margin-top: 20px;">
                                    <i class="material-icons">image</i>
                                </div>
                                <div class="signature-line"></div>
                                <span class="signature-label">Signature</span>
                            </div>
                        </div>
                    </div>

                    @*Progress Notes*@
                    <div id="prog" class="row m-0">

                        <div class="row">
                            <a class="edit-btn right modal-trigger" data-target="modal-progress-notes">ADD NOTE</a>
                        </div>

                        <table id="progressNotes" class="hover">
                            @*table headers*@
                            <thead>
                                <tr class="brown-text lighten-1">
                                    <th>Date</th>
                                    <th>Procedures</th>
                                    <th>Tooth #</th>
                                    <th>Dentist</th>
                                    <th>Amount</th>
                                    <th>Paid</th>
                                    <th colspan="2">Balance</th>
                                </tr>
                            </thead>
                            @*table content*@
                            <tbody>
                                <tr>
                                    <td>MM/DD/YYYY</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>Name</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>
                                        <a class="btn-floating btn-small waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn modal-trigger" data-target="modal-delete-progress-note" data-position="bottom" data-tooltip="Delete Progress Note">
                                            <i class="material-icons brown-text lighten-1">delete</i>
                                        </a>
                                        <a class="btn-floating btn-small waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 modal-trigger" data-target="modal-edit-progress-note" data-position="bottom" data-tooltip="Edit Progress Note" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1">edit</i></a>
                                    </td>
                                </tr>
                            </tbody>
                            @*table footer*@
                            <tfoot>
                                <tr class="brown-text lighten-1">
                                    <th>Date</th>
                                    <th>Procedures</th>
                                    <th>Tooth #</th>
                                    <th>Dentist</th>
                                    <th>Amount</th>
                                    <th>Paid</th>
                                    <th>Balance</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    @*Dental Chart*@
                    <div id="dent" class="row m-0 containerOverflow-2" style="padding:5px 20px 0 0;">

                        <div class="row">
                            <a class="edit-btn right modal-trigger" data-target="modal-dental-chart">EDIT CHART</a>
                        </div>

                        <div class="row m-0 center">
                            <img src="https://placehold.co/2550x3300" style="max-height: 47rem" />
                        </div>

                    </div>

                    @*Forms*@
                    <div id="forms" class="row m-0">
                        <div class="row">
                            <a class="edit-btn right modal-trigger" data-target="modal-add-form">ADD FORM</a>
                        </div>

                        <table id="patientForms" class="hover tableClk">
                            @*table headers*@
                            <thead>
                                <tr class="brown-text lighten-1">
                                    <th>Date</th>
                                    <th>Form</th>
                                    <th colspan="2">Dentist</th>
                                </tr>
                            </thead>
                            @*table content*@
                            <tbody>
                                <tr data-href="#" title="View Form" class="clkPointer">
                                    <td>MM/DD/YYYY</td>
                                    <td>Form</td>
                                    <td>Name</td>
                                    @*edit and delete button*@
                                    <td>
                                        <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped m-0 redBtn modal-trigger" data-target="modal-delete-form" data-position="bottom" data-tooltip="Delete Form">
                                            <i class="material-icons brown-text lighten-1">delete</i>
                                        </a>
                                        <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped m-0 modal-trigger" data-target="modal-edit-form" data-position="bottom" data-tooltip="Edit Form" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1">edit</i></a>
                                    </td>
                                </tr>
                            </tbody>
                            @*table footer*@
                            <tfoot>
                                <tr class="brown-text lighten-1">
                                    <th>Date</th>
                                    <th>Form</th>
                                    <th>Dentist</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    @*post op*@
                    <div id="postOp" class="row m-0">

                        <div class="row">
                            <div class="card white z-depth-0" style="max-height: 47rem; overflow-y: auto">
                                <div class="card-content brown-text lighten-1">
                                    @*post op title*@
                                    <span class="card-title bold">Post OP</span>
                                    <div class="divider"></div>
                                    @*post op content*@
                                    <p>Nothing here.</p>
                                </div>
                            </div>
                        </div>
                        @*edit and delete buttons*@
                        <div class="row m-0 left">
                            <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped modal-trigger" data-target="modal-edit-postOp" data-position="bottom" data-tooltip="Edit Post Op" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1">edit</i></a>
                            <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped redBtn modal-trigger" data-target="modal-delete-postOp" data-position="bottom" data-tooltip="Delete Post Op">
                                <i class="material-icons brown-text lighten-1">delete</i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*Patient info*@
<div id="modal-patient-info" class="modal modal-fixed-footer patient-info-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Edit Patient Information</h5>

        <div class="row">
            @*Firstname*@
            <div class="col s4">
                <label class="custom-label">
                    First Name
                    <input type="text" class="custom-input" placeholder="First Name">
                </label>
            </div>

            @*Middlename*@
            <div class="col s4">
                <label class="custom-label">
                    Middle Name
                    <input type="text" class="custom-input" placeholder="Middle Name">
                </label>
            </div>

            @*Lastname*@
            <div class="col s4">
                <label class="custom-label">
                    Last Name
                    <input type="text" class="custom-input" placeholder="Last Name">
                </label>
            </div>
        </div>


        <div class="row">
            <div class="col s6">
                @*Gender*@
                <label class="custom-label">
                    Gender
                    <select class="browser-default custom-input" style="margin-bottom:15px;" required>
                        <option value="" disabled selected>Select Gender</option>
                        <option value="1">Male</option>
                        <option value="2">Female</option>
                        <option value="3">Others</option>
                    </select>
                </label>

                @*Birthday*@
                <label class="custom-label">
                    Birthday
                    <input type="text" class="custom-input" placeholder="Birthday">
                </label>

                @*Address*@
                <label class="custom-label">
                    Address
                    <input type="text" class="custom-input" placeholder="Address">
                </label>

                @*Nationality*@
                <label class="custom-label">
                    Nationality
                    <input type="text" class="custom-input" placeholder="Nationality">
                </label>

                @*Guardian*@
                <label class="custom-label">
                    Guardian
                    <input type="text" class="custom-input" placeholder="Guardian">
                </label>

                @*Email*@
                <label class="custom-label">
                    Email Address
                    <input type="text" class="custom-input" placeholder="Email Address">
                </label>
            </div>

            <div class="col s6">
                @*Civil status*@
                <label class="custom-label">
                    Civil Status
                    <select class="browser-default custom-input" style="margin-bottom:15px;" required>
                        <option value="" disabled selected>Select Status</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Widowed">Widowed</option>
                    </select>
                </label>

                @*Occupation*@
                <label class="custom-label">
                    Occupation
                    <input type="text" class="custom-input" placeholder="Occupation">
                </label>

                @*Religion*@
                <label class="custom-label">
                    Religion
                    <input type="text" class="custom-input" placeholder="Religion">
                </label>

                @*Medical Insurance*@
                <label class="custom-label">
                    Medical Insurance
                    <input type="text" class="custom-input" placeholder="Medical Insurance">
                </label>

                @*Guardian Contact #*@
                <label class="custom-label">
                    Guardian's Contact Number
                    <input type="text" class="custom-input" placeholder="Guardian's Contact Number ">
                </label>

                @*Contact #*@
                <label class="custom-label">
                    Contact Number
                    <input type="text" class="custom-input" placeholder="Contact Number">
                </label>
            </div>
        </div>
    </div>

    <div class="modal-footer footer-center">
        <button type="submit" class="edit-btn left" style="font-weight:500; margin-left:20px">UPLOAD NEW ACCOUNT PICTURE</button>
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">SAVE</button>
    </div>
</div>


@*medical history modal*@
<div id="medical-history-modal" class="modal modal modal-fixed-footer med-his-modal">
    <div class="medical-history-container">
        <h5 class="modal-form-title">Edit Medical History</h5>

        <div class="form-header">
            @*previous physician info*@
            <div class="row" style="padding: 0 10px; flex:1">
                <p style="display: flex; align-items: center; white-space: nowrap; gap: 10px; margin:0 0 -15px 0;">
                    <span>Name of previous physician:</span>
                    <input type="text" class="custom-input" style="flex: 1;" placeholder="Name of previous physician">
                </p>

                <p style="display: flex; align-items: center; white-space: nowrap; gap: 10px; margin: -15px 0 -15px 0;">
                    <span>Physician's office:</span>
                    <input type="text" class="custom-input" style="flex: 1;" placeholder="Physician's office">
                </p>

                <p style="display: flex; align-items: center; white-space: nowrap; gap: 10px; margin: -15px 0 5px 0;">
                    <span>Physician's contact:</span>
                    <input type="text" class="custom-input" style="flex: 1;" placeholder="Physician's contact">
                </p>
            </div>

        </div>
        <hr class="form-divider" style="margin-bottom:10px;">

        @*medical history*@
        <ol class="medical-questions">
            <li>
                @*Are you in good health?*@
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <span>Are you in good health?</span>

                    <div style="display: flex; gap: 15px; margin-right:-25px;">
                        <label style="display: flex; align-items: center;">
                            <input name="1" type="radio" class="with-gap" />
                            <span>Yes</span>
                        </label>
                        <label style="display: flex; align-items: center;">
                            <input name="1" type="radio" class="with-gap" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                @*Are you under medical treatment now?*@
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <span>Are you under medical treatment now?</span>

                    <div style="display: flex; gap: 15px; margin-right: -25px;">
                        <label style="display: flex; align-items: center;">
                            <input name="2" type="radio" class="with-gap" />
                            <span>Yes</span>
                        </label>
                        <label style="display: flex; align-items: center;">
                            <input name="2" type="radio" class="with-gap" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                @*Have you ever had a serious illness or surgical operation?*@
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <span>Have you ever had a serious illness or surgical operation?</span>

                    <div style="display: flex; gap: 15px; margin-right: -25px;">
                        <label style="display: flex; align-items: center;">
                            <input name="3" type="radio" class="with-gap" />
                            <span>Yes</span>
                        </label>
                        <label style="display: flex; align-items: center;">
                            <input name="3" type="radio" class="with-gap" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                @*Have you ever been hospitalized?*@
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <span>Have you ever been hospitalized?</span>

                    <div style="display: flex; gap: 15px; margin-right: -25px;">
                        <label style="display: flex; align-items: center;">
                            <input name="4" type="radio" class="with-gap" />
                            <span>Yes</span>
                        </label>
                        <label style="display: flex; align-items: center;">
                            <input name="4" type="radio" class="with-gap" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                @*Are you taking prescription/non-prescription medication?*@
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <span>Are you taking prescription/non-prescription medication?</span>

                    <div style="display: flex; gap: 15px; margin-right: -25px;">
                        <label style="display: flex; align-items: center;">
                            <input name="5" type="radio" class="with-gap" />
                            <span>Yes</span>
                        </label>
                        <label style="display: flex; align-items: center;">
                            <input name="5" type="radio" class="with-gap" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                @*Are you taking tobacco products?*@
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <span>Are you taking tobacco products?</span>

                    <div style="display: flex; gap: 15px; margin-right: -25px;">
                        <label style="display: flex; align-items: center;">
                            <input name="6" type="radio" class="with-gap" />
                            <span>Yes</span>
                        </label>
                        <label style="display: flex; align-items: center;">
                            <input name="6" type="radio" class="with-gap" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </li>
            <li>
                @*Do you use alcohol, cocaine, or other dangerous drugs?*@
                <div style="display: flex; align-items: center; justify-content: space-between; width: 100%;">
                    <span>Do you use alcohol, cocaine, or other dangerous drugs?</span>

                    <div style="display: flex; gap: 15px; margin-right: -25px;">
                        <label style="display: flex; align-items: center;">
                            <input name="7" type="radio" class="with-gap" />
                            <span>Yes</span>
                        </label>
                        <label style="display: flex; align-items: center;">
                            <input name="7" type="radio" class="with-gap" />
                            <span>No</span>
                        </label>
                    </div>
                </div>
            </li>
            <li style="margin: -10px 0 10px 0;">
                @*Allergies*@
                <div style="display: flex; align-items: center; white-space: nowrap; gap: 10px;">
                    <span>Allergies:</span>
                    <input type="text" class="custom-input" style="flex: 1; margin-right: -30px;" placeholder="Allergies...">
                </div>
            </li>
            <li style="margin: -25px 0 0 0;">
                @*Bleeding time:*@
                <div style="display: flex; align-items: center; white-space: nowrap; gap: 10px;">
                    <span>Bleeding time:</span>
                    <input type="text" class="custom-input" style="flex: 1; margin-right: -30px;" placeholder="Bleeding time...">
                </div>
            </li>

            <li>
                For women only:
                <div class="women-only-options">
                    <label><input type="checkbox" class="filled-in" /><span>Are you pregnant?</span></label>
                    <label><input type="checkbox" class="filled-in" /><span>Are you nursing?</span></label>
                    <label><input type="checkbox" class="filled-in" /><span>Are you taking birth control pills?</span></label>
                </div>
            </li>

            <li style="margin: -10px 0 10px 0;">
                @*Blood ppressure*@
                <div style="display: flex; align-items: center; white-space: nowrap; gap: 10px;">
                    <span>Blood pressure:</span>
                    <input type="text" class="custom-input" style="flex: 1; margin-right: -30px;" placeholder="Blood pressure...">
                </div>
            </li>
            <li style="margin: -25px 0 0 0;">
                @*Blood type:*@
                <div style="display: flex; align-items: center; white-space: nowrap; gap: 10px;">
                    <span>Blood type:</span>
                    <input type="text" class="custom-input" style="flex: 1; margin-right: -30px;" placeholder="Bleeding time...">
                </div>
            </li>
            <li>Do you have or have had any of the following?</li>
        </ol>

        <div class="checkbox-grid">
            <label><input type="checkbox" class="filled-in" /><span>High Blood Pressure</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Low Blood Pressure</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Epilepsy / Convulsions</span></label>
            <label><input type="checkbox" class="filled-in" /><span>AIDS or HIV Infection</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Sexually Transmitted Disease</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Stomach Troubles / Ulcer</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Fainting Seizure</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Rapid Weight Loss</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Radiation Therapy</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Joint Replacement / Implant</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Heart Surgery</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Heart Attack</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Thyroid Problem</span></label>

            <label><input type="checkbox" class="filled-in" /><span>Heart Disease</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Heart Murmur</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Hepatitis / Liver Disease</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Rheumatic Fever</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Hay Fever / Allergies</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Respiratory Problems</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Hepatitis / Jaundice</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Tuberculosis</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Swollen Ankles</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Kidney Disease</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Diabetes</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Chest Pain</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Stroke</span></label>

            <label><input type="checkbox" class="filled-in" /><span>Cancer / Tumors</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Anemia</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Angina</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Asthma</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Emphysema</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Bleeding Problems</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Blood Diseases</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Head Injuries</span></label>
            <label><input type="checkbox" class="filled-in" /><span>Arthritis / Rheumatism</span></label>

            <div class="other-section">
                <label><input type="checkbox" class="filled-in" /><span>Other/s:</span></label>
                <input type="text" class="other-input" style="margin-right:25px">
            </div>
        </div>

        @*signature*@
        <div class="signature-container" style="margin-left:320px">
            <div class="signature-pad" style="margin-top: 20px;">
                <i class="material-icons">image</i>
            </div>
            <div class="signature-line"></div>
            <span class="signature-label">Signature</span>
        </div>
    </div>

    <div class="footer-center2">
        <button type="submit" class="edit-btn left" style="font-weight:500; margin-left:20px">UPLOAD SIGNATURE</button>
        <button class="modal-close cancel-btn right" style="font-weight: 500; margin-right: 110px;">CANCEL</button>
        <button type="submit" class="edit-btn right" style="font-weight:500; margin-right:20px">SAVE</button>
    </div>
</div>


@*Add Progress botes*@
<div id="modal-progress-notes" class="modal modal-fixed-footer prog-notes-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Add Progress Note</h5>

        <div class="row">
            <div class="col s6">
                @*Date*@
                <label class="custom-label">
                    Date
                    <input type="text" class="custom-input" placeholder="Date">
                </label>

                @*Dentist*@
                <label class="custom-label">
                    Dentist
                    <input type="text" class="custom-input" placeholder="Dentist">
                </label>

                @*Amount*@
                <label class="custom-label">
                    Amount
                    <input type="text" class="custom-input" placeholder="Amount">
                </label>
            </div>

            <div class="col s6">
                @*Procedures*@
                <label class="custom-label">
                    Procedures
                    <input type="text" class="custom-input" placeholder="Procedures">
                </label>

                @*Tooth Number*@
                <label class="custom-label">
                    Tooth Number
                    <input type="text" class="custom-input" placeholder="Tooth Number">
                </label>

                @*Paid*@
                <label class="custom-label">
                    Paid
                    <input type="text" class="custom-input" placeholder="Paid">
                </label>
            </div>
        </div>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">ADD</button>
    </div>
</div>

@*Edit Progress botes*@
<div id="modal-edit-progress-note" class="modal modal-fixed-footer prog-notes-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Edit Progress Note</h5>

        <div class="row">
            <div class="col s6">
                @*Date*@
                <label class="custom-label">
                    Date
                    <input type="text" class="custom-input" placeholder="Date">
                </label>

                @*Dentist*@
                <label class="custom-label">
                    Dentist
                    <input type="text" class="custom-input" placeholder="Dentist">
                </label>

                @*Amount*@
                <label class="custom-label">
                    Amount
                    <input type="text" class="custom-input" placeholder="Amount">
                </label>
            </div>

            <div class="col s6">
                @*Procedures*@
                <label class="custom-label">
                    Procedures
                    <input type="text" class="custom-input" placeholder="Procedures">
                </label>

                @*Tooth Number*@
                <label class="custom-label">
                    Tooth Number
                    <input type="text" class="custom-input" placeholder="Tooth Number">
                </label>

                @*Paid*@
                <label class="custom-label">
                    Paid
                    <input type="text" class="custom-input" placeholder="Paid">
                </label>
            </div>
        </div>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">SAVE</button>
    </div>
</div>

@*DELETE Progress botes*@
<div id="modal-delete-progress-note" class="modal modal-fixed-footer delete-prog-note-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Progress Note</h5>

        <p class="custom-label">Are you sure you want to delete this progress note? </p>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">DELETE</button>
    </div>
</div>

@*Dental Chart*@
<div id="modal-dental-chart" class="modal modal-fixed-footer dental-chart-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Edit Dental Chart</h5>

        <div class="row">
            <div class="row m-0 center">
                <img src="https://placehold.co/2550x3300" style="max-height: 33rem" />
            </div>
        </div>
    </div>

    <div class="modal-footer footer-center">
        <button type="submit" class="edit-btn left" style="font-weight:500; margin-left:20px">UPLOAD DENTAL CHART</button>
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">SAVE</button>
    </div>
</div>

@*Add form*@
<div id="modal-add-form" class="modal modal-fixed-footer add-form-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Add Form</h5>

        @*Date*@
        <label class="custom-label">
            Date
            <input type="text" class="custom-input" placeholder="Date">
        </label>

        @*Dentist*@
        <label class="custom-label">
            Dentist
            <input type="text" class="custom-input" placeholder="Dentist">
        </label>

        <div class="row">
            <div class="row m-0 center">
                <img src="https://placehold.co/2550x3300" style="max-height: 25rem; margin-top:15px;" />
            </div>
        </div>
    </div>

    <div class="modal-footer footer-center">
        <button type="submit" class="edit-btn left" style="font-weight:500; margin-left:20px">UPLOAD FORM</button>
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">ADD</button>
    </div>
</div>

@*Edit form*@
<div id="modal-edit-form" class="modal modal-fixed-footer edit-form-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Edit Form</h5>

        @*Date*@
        <label class="custom-label">
            Date
            <input type="text" class="custom-input" placeholder="Date">
        </label>

        @*Dentist*@
        <label class="custom-label">
            Dentist
            <input type="text" class="custom-input" placeholder="Dentist">
        </label>

        <div class="row">
            <div class="row m-0 center">
                <img src="https://placehold.co/2550x3300" style="max-height: 25rem; margin-top:15px;" />
            </div>
        </div>
    </div>

    <div class="modal-footer footer-center">
        <button type="submit" class="edit-btn left" style="font-weight:500; margin-left:20px">UPLOAD FORM</button>
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">SAVE</button>
    </div>
</div>

@*DELETE Form*@
<div id="modal-delete-form" class="modal modal-fixed-footer delete-form-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Form</h5>

        <p class="custom-label">Are you sure you want to delete this form? </p>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">DELETE</button>
    </div>
</div>

@*Edit Post Op*@
<div id="modal-edit-postOp" class="modal modal-fixed-footer edit-postOp-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Edit Post Operation Instructions</h5>

        @*Dentist*@
        <label class="custom-label">
            Post Operation Instructions
            <textarea style="flex: 1; height: 550px; padding-top: 10px; background-color:white"></textarea>
        </label>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">SAVE</button>
    </div>
</div>

@*DELETE postOp*@
<div id="modal-delete-postOp" class="modal modal-fixed-footer delete-postOp-modal">
    <div class="modal-content">
        <h5 class="modal-form-title" style="margin-bottom:15px;">Delete Form</h5>

        <p class="custom-label">Are you sure you want to delete this post operation instruction? </p>
    </div>

    <div class="modal-footer footer-center">
        <button class="modal-close cancel-btn" style="font-weight:500;">CANCEL</button>
        <button type="submit" class="edit-btn" style="font-weight:500; margin-right:20px">DELETE</button>
    </div>
</div>