@{
    Layout = "~/Views/Shared/_patientLayout.cshtml";
}

<div class="dashContainer">
    @*top buttons*@
    <div class="row brown-text lighten-1" style="margin-top: 1rem">
        @*refresh and logout buttons*@
        <div class="col m4 l4 offset-md-8 offset-l8">
            <span class="right m-0">
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Refresh Tab"> <i class="material-icons brown-text lighten-1">refresh</i></a></div>
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a></div>
            </span>
        </div>
    </div>

    @*finance table*@
<div class="row p-2">
    <table id="patientFinance" class="hover">
        @*table headers*@
        <thead>
            <tr class="brown-text lighten-1">
                <th>Patient Name</th>
                <th>Dentist</th>
                <th colspan="2">Date</th>
                @*<th></th>*@
            </tr>
        </thead>
        @*table content*@
        <tbody>
            <tr>
                <td><img src="https://placehold.co/400" class="circle responsive-img" style="max-width:3rem" />Name</td>
                <td>Name</td>
                <td>MM/DD/YYYY</td>
                @*view button*@
                <td><a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0" data-position="left" data-tooltip="View Payment Record"><i class="material-icons brown-text lighten-1">remove_red_eye</i></td>
            </tr>
        </tbody>
        @*table footer*@
        <tfoot>
            <tr class="brown-text lighten-1">
                <th>Date</th>
                <th>Form</th>
                <th>Dentist</th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>

</div>
