@{
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="dashContainer">
    @*top buttons*@
    <div class="row brown-text lighten-1" style="margin-top: 1rem">
        @*back button*@
        <div class="col m8 l8 valign-wrapper" style="margin-top: 7px;">
            <a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Back"><i class="material-icons brown-text lighten-1 left">arrow_back</i></a>
        </div>

        @*refresh and logout buttons*@
        <div class="col m4 l4">
            <span class="right" style="margin-top:7px;">
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Refresh Tab"> <i class="material-icons brown-text lighten-1">refresh</i></a></div>
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a></div>
            </span>
        </div>
    </div>

    @*content*@
    <div class="row" style="padding: 0 1rem 0 1rem;">

        @*left column*@
        <div class="col m4 l4" style="padding-left:0">
            @*user name, img, visit*@
            <div class="card grey lighten-2">
                <div class="card-content">
                    @*user pfp and name*@
                    <div class="row center">
                        @*lagyan nalang ng src for image source*@
                        <img src="https://placehold.co/400" class="circle responsive-img" style="max-width:9rem" />
                    </div>

                    @*user name and role*@
                    <div class="row center">
                        <h5 class="bold brown-text lighten-1">Name</h5>
                        <h6 class="bold brown-text lighten-1">ID: 000000</h6>

                        @*last and next visit*@
                        <p class="brown-text lighten-1">Last Visit: MM/DD/YYYY</p>
                        <p class="brown-text lighten-1">Next Visit: MM/DD/YYYY</p>
                    </div>
                </div>
            </div>
            @*user info*@
            <div class="card grey lighten-2">
                <div class="card-content">
                    <div class="row m-0">
                        <div class="col m6 l6">
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">AGE</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">GENDER</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">EMAIL ADDRESS</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">ADDRESS</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">RELIGION</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">REFERRAL</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">INSURANCE</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                        </div>
                        <div class="col m6 l6">
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">BIRTHDAY</p>
                                <p class="brown-text lighten-1">Month D, YYYY</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">CONTACT NUMBER</p>
                                <p class="brown-text lighten-1">+00 0000000000</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">CIVIL STATUS</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">OCCUPATION</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">NATIONALITY</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">GUARDIAN</p>
                                <p class="brown-text lighten-1">n</p>
                            </div>
                            <div class="mb-1">
                                <p class="bold brown-text lighten-1">ACCOUNT CREATION</p>
                                <p class="brown-text lighten-1">Month D, YYYY</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*right column*@
        <div class="col m8 l8" style="padding-right: 0">
            <div class="card grey lighten-2">
                <nav class="nav-extended grey lighten-2 z-depth-0">
                    <div class="nav-content p-1">
                        <ul class="tabs tabs-transparent center-tabs">
                            <li class="tab px-1"><a class="active brown-text p-0" href="#med">Medical History</a></li>
                            <li class="tab px-1"><a class="brown-text p-0" href="#prog">Progress Notes</a></li>
                            <li class="tab px-1"><a class="brown-text p-0" href="#dent">Dental Chart</a></li>
                            <li class="tab px-1"><a class="brown-text p-0" href="#forms">Forms</a></li>
                            <li class="tab px-1"><a class="brown-text p-0" href="#postOp">Post Op</a></li>
                            <li class="tab px-1"><a class="brown-text p-0" href="#appts">Appointments</a></li>
                        </ul>
                    </div>
                </nav>
                <div class="card-content">

                    @*medical history*@
                    <div id="med" class="containerOverflow-2 row m-0">
                        <div class="medical-history-container view-only-mode">
                            <div class="form-header">
                                @*previous physician info*@
                                <div class="physician-info">
                                    <p class="medInfo">Name of previous physician: 
                                        <span style="font-weight:bold">---</span>
                                    </p>
                                    <p>Physician's Office:
                                        <span style="font-weight:bold">---</span>
                                    </p>
                                    <p>Physician's Contacts:
                                        <span style="font-weight:bold">---</span>
                                    </p>
                                </div>
                                @*update button and last updated*@
                                <div class="col">
                                    <div class="row">
                                        <button class="update-btn right modal-trigger" data-target="modal-medical-history">UPDATE</button>
                                    </div>
                                    <div class="row" style="margin-top:-15px">
                                        <p class="last-update">Last Update: Day Month, Year | Time</p>
                                    </div>
                                </div>

                            </div>
                            <hr class="form-divider" style="margin-bottom:10px;">

                            @*medical history*@
                            <ol class="medical-questions">
                                <li>Are you in good health? 
                                    <span class="placeholder-text">YES/NO</span>
                                </li>
                                <li>Are you under medical treatment now?
                                    <span class="placeholder-text">YES/NO</span>
                                </li>
                                <li>Have you ever had a serious illness or surgical operation?
                                    <span class="placeholder-text">YES/NO</span>
                                </li>
                                <li>Have you ever been hospitalized?
                                    <span class="placeholder-text">YES/NO</span>
                                </li>
                                <li>Are you taking prescription/non-prescription medication?
                                    <span class="placeholder-text">YES/NO</span>
                                </li>
                                <li>Are you taking tobacco products?
                                    <span class="placeholder-text">YES/NO</span>
                                </li>
                                <li>Do you use alcohol, cocaine, or other dangerous drugs?
                                    <span class="placeholder-text">YES/NO</span>
                                </li>
                                <li>Allergies:
                                    <span class="placeholder-text">---</span>
                                </li>
                                <li>Bleeding Time:
                                    <span class="placeholder-text">---</span>
                                </li>

                                <li>
                                    For women only:
                                    <div class="women-only-options">
                                        <label><input name="preg" type="radio" class="with-gap" /><span>Are you pregnant?</span></label>
                                        <label><input name="nurs" type="radio" class="with-gap" /><span>Are you nursing?</span></label>
                                        <label><input name="pill" type="radio" class="with-gap" /><span>Are you taking birth control pills?</span></label>
                                    </div>
                                </li>

                                <li>Blood type:
                                    <span class="placeholder-text">---</span>
                                </li>
                                <li>Blood pressure:
                                    <span class="placeholder-text">---</span>
                                </li>
                                <li>Do you have or have had any of the following?</li>
                            </ol>

                            <div class="checkbox-grid">
                                <label><input type="checkbox" class="filled-in" /><span>High Blood Pressure</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Low Blood Pressure</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Epilepsy / Convulsions</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>AIDS or HIV Infection</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Sexually Transmitted Disease</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Stomach Troubles / Ulcer</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Fainting Seizure</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Rapid Weight Loss</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Radiation Therapy</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Joint Replacement / Implant</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Heart Surgery</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Heart Attack</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Thyroid Problem</span></label>

                                <label><input type="checkbox" class="filled-in" /><span>Heart Disease</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Heart Murmur</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Hepatitis / Liver Disease</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Rheumatic Fever</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Hay Fever / Allergies</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Respiratory Problems</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Hepatitis / Jaundice</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Tuberculosis</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Swollen Ankles</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Kidney Disease</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Diabetes</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Chest Pain</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Stroke</span></label>

                                <label><input type="checkbox" class="filled-in" /><span>Cancer / Tumors</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Anemia</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Angina</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Asthma</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Emphysema</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Bleeding Problems</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Blood Diseases</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Head Injuries</span></label>
                                <label><input type="checkbox" class="filled-in" /><span>Arthritis / Rheumatism</span></label>

                                <div class="other-section">
                                    <label><input type="checkbox" class="filled-in" /><span>Other/s:</span></label>
                                    <input type="text" class="other-input">
                                </div>
                            </div>

                            @*signature*@
                            <div class="signature-container">
                                <div class="signature-pad" style="margin-top: 20px;">
                                    <i class="material-icons">image</i>
                                </div>
                                <div class="signature-line"></div>
                                <span class="signature-label">Signature</span>
                            </div>
                        </div>
                    </div>

                    @*Progress Notes*@
                    <div id="prog" class="row m-0">
                        <table id="progressNotes" class="hover">
                            @*table headers*@
                            <thead>
                                <tr class="brown-text lighten-1">
                                    <th>Date</th>
                                    <th>Procedures</th>
                                    <th>Tooth #</th>
                                    <th>Dentist</th>
                                    <th>Amount</th>
                                    <th>Paid</th>
                                    <th colspan="2">Balance</th>
                                </tr>
                            </thead>
                            @*table content*@
                            <tbody>
                                <tr>
                                    <td>MM/DD/YYYY</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>Name</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>-</td>
                                    <td>
                                        <a class="btn-floating btn-small waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn" data-position="bottom" data-tooltip="Delete Progress Note">
                                            <i class="material-icons brown-text lighten-1">delete</i>
                                        </a>
                                        <a class="btn-floating btn-small waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0" data-position="bottom" data-tooltip="Edit Progress Note" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1">edit</i></a>
                                    </td>
                                </tr>
                            </tbody>
                            @*table footer*@
                            <tfoot>
                                <tr class="brown-text lighten-1">
                                    <th>Date</th>
                                    <th>Procedures</th>
                                    <th>Tooth #</th>
                                    <th>Dentist</th>
                                    <th>Amount</th>
                                    <th>Paid</th>
                                    <th>Balance</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    @*Dental Chart*@
                    <div id="dent" class="row m-0 containerOverflow-2">
                        <div class="row m-0 center">
                            <img src="https://placehold.co/2550x3300" style="max-height: 47rem" />
                        </div>
                    </div>

                    @*Forms*@
                    <div id="forms" class="row m-0">
                        <table id="patientForms" class="hover tableClk">
                            @*table headers*@
                            <thead>
                                <tr class="brown-text lighten-1">
                                    <th>Date</th>
                                    <th>Form</th>
                                    <th colspan="2">Dentist</th>
                                </tr>
                            </thead>
                            @*table content*@
                            <tbody>
                                <tr data-href="#" title="View Form" class="clkPointer">
                                    <td>MM/DD/YYYY</td>
                                    <td>Form</td>
                                    <td>Name</td>
                                    @*edit and delete button*@
                                    <td>
                                        <a class="btn-floating btn-small waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn" data-position="bottom" data-tooltip="Delete Form">
                                            <i class="material-icons brown-text lighten-1">delete</i>
                                        </a>
                                        <a class="btn-floating btn-small waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0" data-position="bottom" data-tooltip="Edit Form" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1">edit</i></a>
                                    </td>
                                </tr>
                            </tbody>
                            @*table footer*@
                            <tfoot>
                                <tr class="brown-text lighten-1">
                                    <th>Date</th>
                                    <th>Form</th>
                                    <th>Dentist</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                    @*post op*@
                    <div id="postOp" class="row m-0">
                        <div class="row">
                            <div class="card white z-depth-0" style="max-height: 47rem; overflow-y: auto">
                                <div class="card-content brown-text lighten-1">
                                    @*post op title*@
                                    <span class="card-title bold">Post OP</span>
                                    <div class="divider"></div>
                                    @*post op content*@
                                    <p>Lorem Ipsum.</p>

                                </div>
                            </div>
                        </div>
                    </div>

                    @*appointments*@
                    <div id="appts" class="row m-0">
                        <div class="row">
                            appointments
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>