@{
    Layout = "~/Views/Shared/_staffLayout.cshtml";
}

<div class="dashContainer">
    @*top buttons*@
    <div class="row brown-text lighten-1" style="margin-top: 1rem">
        @*refresh and logout buttons*@
        <div class="col m4 l4 offset-md-8 offset-l8">
            <span class="right m-0">
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Refresh Tab"> <i class="material-icons brown-text lighten-1">refresh</i></a></div>
                <div class="col valign-wrapper"><a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a></div>
            </span>
        </div>
    </div>

    @*create new finance record button*@
    <div class="row m-0">
        <a class="waves-effect waves-light btn left brown lighten-4 medBtn"><i class="material-icons left">add</i>Create New Payment Record</a>
    </div>

    @*dentist finance table*@
    <div class="row" style="padding: 2rem">
        <table id="staffFinance" class="hover">
            @*table headers*@
            <thead>
                <tr class="brown-text lighten-1">
                    <th>Patient Name</th>
                    <th>Dentist</th>
                    <th colspan="2">Date</th>
                    @*<th></th>*@
                </tr>
            </thead>
            @*table content*@
            <tbody>
                <tr>
                    <td class="valign-wrapper"><img src="https://placehold.co/400" class="circle responsive-img" style="max-width:3rem; margin-right:0.5rem" />Name</td>
                    <td>Name</td>
                    <td>MM/DD/YYYY</td>
                    @*view button*@
                    <td>
                        <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0 redBtn" data-position="bottom" data-tooltip="Delete Payment Record">
                            <i class="material-icons brown-text lighten-1">delete</i>
                        </a>
                        <a class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped right m-0" data-position="bottom" data-tooltip="Edit Payment Record" style="margin-right: 0.5rem !important"><i class="material-icons brown-text lighten-1">edit</i></a>
                    </td>
                </tr>
            </tbody>
            @*table footer*@
            <tfoot>
                <tr class="brown-text lighten-1">
                    <th>Patient Name</th>
                    <th>Dentist</th>
                    <th>Date</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
    </div>

</div>
