<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="~/Content/style.css">

    @*datatable*@
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.6/css/dataTables.dataTables.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.6/js/dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
@*<body id="body" ng-app="RGDCWebApplication" ng-controller="RGDCWebApplicationController">*@
<body id="body" class="containerOverflow-2" ng-app="RGDCWebApplication" ng-controller="RGDCWebApplicationController">
    <div class="row" style="margin: 0;">
        @*sidebar nav*@
        <div class="col hide-on-small-only m3 l3 brown lighten-1 z-depth-3 white-text containerOverflow-2" style="min-height: 100vh; position: fixed;">
            <h5 style="font-weight:bold;">RGDC</h5>

            @*user pfp and name*@
            <div class="row center sidebar-profile" style="margin-top: 2rem;" ng-show="isUserStaff">
                <img ng-src="{{ staff.photoLink || 'https://placehold.co/400' }}" alt="Profile" class="sidebar-profile-img modal-trigger" data-target="modalEditProfileStaff" />
            </div>
            <div class="row center sidebar-profile" style="margin-top: 2rem;" ng-show="isUserAdmin && !isUserOwner && !isUserStaff">
                <img ng-src="{{ dentist.photoLink || 'https://placehold.co/400' }}" alt="Profile" class="sidebar-profile-img modal-trigger" data-target="modalEditProfileDentist" />
            </div>
            <div class="row center sidebar-profile" style="margin-top: 2rem;" ng-show="isUserOwner">
                <img ng-src="{{ owner.photoLink  || 'https://placehold.co/400' }}" alt="Profile" class="sidebar-profile-img modal-trigger" data-target="modalEditProfileOwner" />
            </div>

            <div class="row center sidebar-profile" style="margin-top: 2rem;" ng-show="isUserPatient">
                <img ng-src="{{ currentUserPhoto || 'https://placehold.co/400' }}" alt="Profile" class="sidebar-profile-img modal-trigger" />
            </div>

            @*user name and role*@
            <div class="row center">
                <h5 style="font-weight:bold;">{{currentUserFullName}}</h5>
                <h6>{{userRole}}</h6>
            </div>

            @*Calendaryo CODESSS*@
            <div class="row center" style="margin-top: 0.5rem;">
                <div class="google-sync" style="display: inline-flex; align-items: center; justify-content: center; flex-wrap: wrap; margin-left: 0;">
                    <label style="vertical-align: middle;">
                        <input type="checkbox" ng-model="googleCalendarEnabled" ng-change="toggleGoogleCalendar(googleCalendarEnabled)" />
                        <span style="vertical-align: middle; margin-left: 0.5rem; font-size: .95rem; color: lightgray">Save appointments to Google Calendar</span>
                    </label>

                </div>
            </div>
            <div class="row center">
                <button class="btn-small brown lighten-4 brown-text" ng-click="connectGoogle()" ng-if="!googleConnected" style="margin-left:0.5rem">Connect Google</button>
            </div>


            @*nav tabs*@
            <div style="margin-top: 2rem; padding-left: 3rem; padding-right: 3rem;">
                <ul>
                    <li><a href="~/RGDC/adminDashboard" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">home</i>Home</a></li>
                    <li><a href="~/RGDC/adminClinicStaffTab" ng-show="isUserOwner" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">assignment_ind</i>Clinic Staff</a></li>
                    <li><a href="~/RGDC/patientProfile" ng-show="isUserPatient" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">group</i>Profile</a></li>
                    <li><a href="~/RGDC/adminPatientsTab" ng-show="isUserAdmin" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">group</i>Patients</a></li>
                    <li><a href="~/RGDC/adminAppointment" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">calendar_today</i>Appointments</a></li>
                    <li><a href="~/RGDC/adminFinance" ng-show="!isUserPatient" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">bar_chart</i>Finance</a></li>
                    <li><a href="~/RGDC/faqPage" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">question_answer</i>FAQs</a></li>
                    <li><a href="~/RGDC/contactUsPage" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">call</i>Contact</a></li>
                    <ul id="contactDropdown" class="dropdown-content brown lighten-1">
                        <li>
                            <a href="#!" class="white-text">one</a>
                        </li>
                        <li>
                            <a href="#!" class="white-text">two</a>
                        </li>
                    </ul>
                </ul>
            </div>


            @*date and time at the bottom of the screen*@
            <div class="row center" style="margin-top: 4rem; padding-bottom: 2rem;">
                <span id="currentDate">Loading date...</span>
                <span id="currentTime">Loading time...</span>
            </div>



        </div>

        @*sidebar nav (mobile)*@
        <div class=" show-on-medium-and-down hide-on-large-only s12 m12 brown lighten-1 z-depth-3 white-text p-0 m-0" style="width: 100% !important">
            <nav>
                <div class="nav-wrapper px-1">
                    <h5 class="bold brand-logo center">RGDC</h5>
                    <ul class="left">
                        <li>
                            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        </li>
                    </ul>
                    <ul class="right m-0">
                        <li>
                            <a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn"> <i class="material-icons brown-text lighten-1">refresh</i></a>
                        </li>
                        <li ng-show="isUserAdmin">
                        <li>
                            <a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn"> <i class="material-icons brown-text lighten-1">print</i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul class="sidenav brown lighten-1 z-depth-3 white-text p-1" id="mobile-nav">

            @*logout*@
            <div class="row mt-1 mb-2">
                <a href="#" class="waves-effect waves-light btn brown lighten-4 right" ng-click="logOut()"> <span class="brown-text lighten-1 bold"><i class="material-icons brown-text lighten-1 left">logout</i>Logout</span></a>
            </div>

            @*user pfp and name*@
            <div class="row center" style="margin-top: 5rem;">
                @*lagyan nalang ng src for image source*@
                <img src="https://placehold.co/400" class="circle responsive-img modal-trigger" data-target="editProfile" style="max-width:10rem" />
            </div>

            @*user name and role*@
            <div class="row center">
                <h5 style="font-weight:bold;">{{currentUserFullName}}</h5>
                <h6>{{userRole}}</h6>
                <input type="hidden" ng-model="accID">
            </div>

            <li><a href="~/RGDC/adminDashboard" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">home</i>Home</a></li>
            <li><a href="~/RGDC/adminClinicStaff" ng-show="isUserOwner" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">assignment_ind</i>Clinic Staff</a></li>
            <li><a href="~/RGDC/patientProfile" ng-show="isUserPatient" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">group</i>Profile</a></li>
            <li><a href="~/RGDC/adminPatientsTab" ng-show="isUserAdmin" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">group</i>Patients</a></li>
            <li><a href="~/RGDC/adminAppointment" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">calendar_today</i>Appointments</a></li>
            <li><a href="~/RGDC/adminFinance" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">bar_chart</i>Finance</a></li>
            <li><a href="~/RGDC/contactUsPage" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">call</i>Contact Us</a></li>

            @*date and time at the bottom of the screen*@
            <div class="row center" style="margin-top: 5rem; padding-bottom: 2rem;">
                <span>Month DD, YYYY | </span>
                <span>00:00 AM</span>
            </div>
            <ul id="contactDropdown" class="dropdown-content brown lighten-1">
                <li>
                    <a href="#!" class="white-text">one</a>
                </li>
                <li>
                    <a href="#!" class="white-text">two</a>
                </li>
            </ul>
        </ul>

        @*content*@
        @*<div class="col l9 main-content container">*@
        <div class="col l9 main-content" ng-init="getData()">
            @RenderBody()
        </div>
    </div>


    @*Edit Profile Owner*@
    <div id="modalEditProfileOwner" class="modal patientInformationForm-modal containerOverflow-2" style="max-height:95vh" ng-init="getOwnerData()">
        <div>
            <h5 class="modal-form-title">Edit Profile</h5>

            <form>
                <div class="row">
                    <div class="col s12 m4 l4">
                        <div class="row s4 center-align" style="margin-top: 2.5vh; margin-left: 2.5vh;">
                            <div class="col s12">
                                <div class="photo-box">
                                    <img ng-if="ownerAccountPhotoPreview || owner.photoLink"
                                         ng-src="{{ownerAccountPhotoPreview || owner.photoLink}}"
                                         alt="Profile"
                                         style="width:100%;height:100%;object-fit:cover;" />
                                    <i ng-if="!ownerAccountPhotoPreview && !owner.photoLink"
                                       class="material-icons photo-placeholder-icon">image</i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m8 l8">
                        <div class="row">
                            @*First name*@
                            <div class="col s6">
                                <p class="custom-label">First Name <span class="required-mark">*</span></p>
                                <input type="text" class="custom-input" ng-model="owner.firstName"
                                       placeholder="Juan" maxlength="150"
                                       ng-class="{'invalid-input': editOwnerSubmitted && !owner.firstName}">
                                <span class="validation-msg" ng-show="editOwnerSubmitted && !owner.firstName">First name is required.</span>
                            </div>
                            @*Middle name*@
                            <div class="col s6">
                                <p class="custom-label">Middle Name </p>
                                <input type="text" class="custom-input" ng-model="owner.middleName"
                                       placeholder="Mercado" maxlength="150"
                                       ng-class="{'invalid-input': editOwnerSubmitted && !owner.middleName}">
                                <span class="validation-msg" ng-show="editOwnerSubmitted && !owner.middleName">Middle name is required.</span>
                            </div>
                        </div>
                        <div class="row">
                            @*Last name*@
                            <div class="col s12">
                                <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                                <input type="text" class="custom-input" ng-model="owner.lastName"
                                       placeholder="Dela Cruz" maxlength="150"
                                       ng-class="{'invalid-input': editOwnerSubmitted && !owner.lastName}">
                                <span class="validation-msg" ng-show="editOwnerSubmitted && !owner.lastName">Last name is required.</span>
                            </div>
                        </div>
                    </div>
                </div>

                @*Email*@
                <div class="row">
                    <div class="col s12">
                        <p class="custom-label">Email <span class="required-mark">*</span></p>
                        <input type="text" class="custom-input" ng-model="owner.email"
                               disabled
                               placeholder="juandlc@gmail.com" maxlength="150"
                               ng-class="{'invalid-input': editOwnerSubmitted && !owner.email}">
                        <span class="validation-msg" ng-show="editOwnerSubmitted && !owner.email">Email is required.</span>
                    </div>
                </div>

                <div class="row">
                    @*Gender*@
                    <div class="col s12 m3 l3">
                        <p class="custom-label">Gender <span class="required-mark">*</span></p>
                        <select class="browser-default custom-input" ng-model="owner.genderID" disabled
                                ng-options="gender.genderID as gender.description for gender in genderArray"
                                ng-class="{'invalid-input': editOwnerSubmitted && !owner.genderID}">
                            <option value="" disabled>Select Gender</option>
                        </select>
                        <span class="validation-msg" ng-show="editOwnerSubmitted && !owner.genderID">Gender is required.</span>
                    </div>
                    @*Birthdate*@
                    <div class="col s12 m3 l3">
                        <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                        <div class="datepicker-wrapper">
                            <input id="birthDateOwner" type="text" class="datepicker custom-input" ng-model="owner.birthDate"
                                   readonly ng-class="{'invalid-input': editOwnerSubmitted && !owner.birthDate}">
                            <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                        </div>
                        <span class="validation-msg" ng-show="editOwnerSubmitted && !owner.birthDate">Birth date is required.</span>
                    </div>
                    @*Civil status*@
                    <div class="col s12 m3 l3">
                        <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                        <select class="browser-default custom-input" ng-model="owner.civilStatus"
                                ng-class="{'invalid-input': editOwnerSubmitted && !owner.civilStatus}">
                            <option value="" disabled>Select Status</option>
                            <option value="1">Single</option>
                            <option value="2">Married</option>
                            <option value="3">Widowed</option>
                        </select>
                        <span class="validation-msg" ng-show="editOwnerSubmitted && !owner.civilStatus">Civil status is required.</span>
                    </div>
                    @*Contact number*@
                    <div class="col s12 m3 l3">
                        <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                        <input type="text" class="custom-input" ng-model="owner.contactNumber"
                               placeholder="09XX-XXX-XXXX" maxlength="13"
                               ng-class="{'invalid-input': editOwnerSubmitted && !owner.contactNumber}">
                        <span class="validation-msg" ng-show="editOwnerSubmitted && !owner.contactNumber">Contact number is required.</span>
                    </div>
                </div>

                <div class="row">
                    @*Religion*@
                    <div class="col s12 m6 l6">
                        <p class="custom-label">Religion <span class="required-mark">*</span></p>
                        <select class="browser-default custom-input" ng-model="owner.religion">
                            <option disabled selected>Select your Religion</option>
                            <option value="Roman Catholic">Roman Catholic</option>
                            <option value="Islam">Islam</option>
                            <option value="Iglesia Ni Cristo">Iglesia Ni Cristo</option>
                            <option value="Others">Others</option>
                        </select>

                        <span class="validation-msg" ng-show="editOwnerSubmitted && !owner.religion">Religion is required.</span>
                    </div>
                    @*Nationality*@
                    <div class="col s12 m6 l6">
                        <p class="custom-label">Nationality <span class="required-mark">*</span></p>
                        <select class="browser-default custom-input" ng-model="owner.nationality">
                            <option disbaled selected>Select your Nationality</option>
                            <option ng-repeat="n in nationalities" value="{{n}}">{{n}}</option>
                        </select>
                        <span class="validation-msg" ng-show="editOwnerSubmitted && !owner.nationality">Nationality is required.</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6">
                        @*Address Line 1*@
                        <p class="custom-label">Address Line 1 <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               ng-model="owner.line1"
                               class="custom-input"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               ng-class="{ 'input-valid': isAddressFieldValid(), 'input-invalid': signUp_address && !isAddressFieldValid() }"
                               placeholder="street address, p.o. box, company name, c/o"
                               required>
                    </div>

                    <div class="col s6">
                        @*Address Line 2*@
                        <p class="custom-label">Address Line 2 <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               ng-model="owner.line2"
                               class="custom-input"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               placeholder="appartment, suite, unit, building, floor, etc"
                               required>
                    </div>
                </div>

                <div class="row">
                    <div class="col s3">
                        @*City*@
                        <p class="custom-label">City <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               ng-model="owner.city"
                               class="custom-input"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               placeholder="city"
                               required>
                    </div>

                    <div class="col s3">
                        @*state/province/region*@
                        <p class="custom-label">State/Province/Region <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               ng-model="owner.state"
                               class="custom-input"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               placeholder="state/province/region"
                               required>
                    </div>

                    <div class="col s3">
                        @*zip/postal code*@
                        <p class="custom-label">Zip/Postal Code <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               ng-model="owner.postal"
                               class="custom-input"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               placeholder="zip/postal code"
                               required>
                    </div>

                    <div class="col s3">
                        @*country*@
                        <p class="custom-label">Country <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               ng-model="owner.country"
                               class="custom-input"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               placeholder="country"
                               required>
                    </div>
                </div>

                <div class="row">
                    @*Specialization*@
                    <div class="col s12">
                        <p class="custom-label">Specialization <span class="required-mark">*</span></p>
                        <input type="text" class="custom-input" ng-model="owner.specialization" maxlength="50" placeholder="General Dentistry">
                    </div>
                </div>

                @*<div class="forgot-password-container right" style="margin:-.5vh 1vh 2.5vh 0;">
                    <a href="#" class="forgot-link modal-trigger" data-target="modalOTP" style="margin-right:.5vh; font-weight:500">Set New Password?</a>
                </div>*@
            </form>
        </div>

        <div class="modal-footer footer-center" style="margin-top:2.5vh">
            <button type="button" class="edit-btn left" style="font-weight:500;" ng-click="pickAccountPhotoFileOwner()">UPLOAD PHOTO</button>
            <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh" ng-click="editOwnerSubmitted = false">CANCEL</button>
            <button type="button" class="edit-btn" style="font-weight:500;" ng-click="editOwner()">SAVE</button>
        </div>
    </div>


    @*Edit Profile Dentist*@
    <div id="modalEditProfileDentist" class="modal patientInformationForm-modal containerOverflow-2" style="max-height:95vh" ng-init="getDentistData()">
        <div>
            <h5 class="modal-form-title">Edit Profile</h5>

            <form>
                <div class="row">
                    <div class="col s12 m4 l4">
                        @*Photo display*@
                        <div class="row s4 center-align" style="margin-top: 2.5vh; margin-left: 2.5vh;">
                            <div class="col s12">
                                <div class="photo-box">
                                    <img ng-if="dentistAccountPhotoPreview || dentist.photoLink"
                                         ng-src="{{dentistAccountPhotoPreview || dentist.photoLink}}"
                                         alt="Profile"
                                         style="width:100%;height:100%;object-fit:cover;" />
                                    <i ng-if="!dentistAccountPhotoPreview && !dentist.photoLink"
                                       class="material-icons photo-placeholder-icon">image</i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m8 l8">
                        <div class="row">
                            @*First name*@
                            <div class="col s6">
                                <p class="custom-label">First Name <span class="required-mark">*</span></p>
                                <input type="text" class="custom-input" ng-model="dentist.firstName"
                                       maxlength="150" placeholder="Juan"
                                       ng-class="{'invalid-input': editDentistSubmitted && !dentist.firstName}">
                                <span class="validation-msg" ng-show="editDentistSubmitted && !dentist.firstName">First name is required.</span>
                            </div>
                            @*Middle name*@
                            <div class="col s6">
                                <p class="custom-label">Middle Name </p>
                                <input type="text" class="custom-input" ng-model="dentist.middleName"
                                       maxlength="150" placeholder="Mercado"
                                       ng-class="{'invalid-input': editDentistSubmitted && !dentist.middleName}">
                                <span class="validation-msg" ng-show="editDentistSubmitted && !dentist.middleName">Middle name is required.</span>
                            </div>
                        </div>
                        <div class="row">
                            @*Last name*@
                            <div class="col s12">
                                <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                                <input type="text" class="custom-input" ng-model="dentist.lastName"
                                       maxlength="150" placeholder="Dela Cruz"
                                       ng-class="{'invalid-input': editDentistSubmitted && !dentist.lastName}">
                                <span class="validation-msg" ng-show="editDentistSubmitted && !dentist.lastName">Last name is required.</span>
                            </div>
                        </div>
                    </div>
                </div>

                @*Email*@
                <div class="row">
                    <div class="col s12">
                        <p class="custom-label">Email <span class="required-mark">*</span></p>
                        <input type="text" class="custom-input" ng-model="dentist.email"
                               disabled
                               maxlength="150" placeholder="juandlc@gmail.com"
                               ng-class="{'invalid-input': editDentistSubmitted && !dentist.email}">
                        <span class="validation-msg" ng-show="editDentistSubmitted && !dentist.email">Email is required.</span>
                    </div>
                </div>

                <div class="row">
                    @*Gender*@
                    <div class="col s12 m3 l3">
                        <p class="custom-label">Gender <span class="required-mark">*</span></p>
                        <select class="browser-default custom-input" ng-model="dentist.genderID"
                                ng-options="gender.genderID as gender.description for gender in genderArray" disabled
                                ng-class="{'invalid-input': editDentistSubmitted && !dentist.genderID}">
                            <option value="" disabled selected>Select Gender</option>
                        </select>
                        <span class="validation-msg" ng-show="editDentistSubmitted && !dentist.genderID">Gender is required.</span>
                    </div>
                    @*Birthdate*@
                    <div class="col s12 m3 l3">
                        <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                        <div class="datepicker-wrapper">
                            <input id="birthDateDentist" type="text" class="datepicker custom-input" ng-model="dentist.birthDate"
                                   readonly ng-class="{'invalid-input': editDentistSubmitted && !dentist.birthDate}">
                            <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                        </div>
                        <span class="validation-msg" ng-show="editDentistSubmitted && !dentist.birthDate">Birth date is required.</span>
                    </div>
                    @*Civil status*@
                    <div class="col s12 m3 l3">
                        <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                        <select class="browser-default custom-input" ng-model="dentist.civilStatus"
                                ng-class="{'invalid-input': editDentistSubmitted && !dentist.civilStatus}">
                            <option value="" disabled selected>Select Status</option>
                            <option value="1">Single</option>
                            <option value="2">Married</option>
                            <option value="3">Widowed</option>
                        </select>
                        <span class="validation-msg" ng-show="editDentistSubmitted && !dentist.civilStatus">Civil status is required.</span>
                    </div>
                    @*Contact number*@
                    <div class="col s12 m3 l3">
                        <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                        <input type="text" class="custom-input" ng-model="dentist.contactNumber"
                               placeholder="09XX-XXX-XXXX" maxlength="13"
                               ng-class="{'invalid-input': editDentistSubmitted && !dentist.contactNumber}">
                        <span class="validation-msg" ng-show="editDentistSubmitted && !dentist.contactNumber">Contact number is required.</span>
                    </div>
                </div>

                <div class="row">
                    @*Religion*@
                    <div class="col s12 m6 l6">
                        <p class="custom-label">Religion <span class="required-mark">*</span></p>
                        <select class="browser-default custom-input" ng-model="dentist.religion">
                            <option disabled selected>Select your Religion</option>
                            <option value="Roman Catholic">Roman Catholic</option>
                            <option value="Islam">Islam</option>
                            <option value="Iglesia Ni Cristo">Iglesia Ni Cristo</option>
                            <option value="Others">Others</option>
                        </select>                        <span class="validation-msg" ng-show="editDentistSubmitted && !dentist.religion">Religion is required.</span>
                    </div>
                    @*Nationality*@
                    <div class="col s12 m6 l6">
                        <p class="custom-label">Nationality <span class="required-mark">*</span></p>
                        <select class="browser-default custom-input" ng-model="dentist.nationality">
                            <option disbaled selected>Select your Nationality</option>
                            <option ng-repeat="n in nationalities" value="{{n}}">{{n}}</option>
                        </select>
                        @*<input type="text" class="custom-input" ng-model="dentist.nationality"
                placeholder="Filipino" maxlength="50"
                ng-class="{'invalid-input': editDentistSubmitted && !dentist.nationality}">*@
                        <span class="validation-msg" ng-show="editDentistSubmitted && !dentist.nationality">Nationality is required.</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6">
                        @*Address Line 1*@
                        <p class="custom-label">Address Line 1 <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               ng-model="dentist.line1"
                               class="custom-input"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               ng-class="{ 'input-valid': isAddressFieldValid(), 'input-invalid': signUp_address && !isAddressFieldValid() }"
                               placeholder="street address, p.o. box, company name, c/o"
                               required>
                    </div>

                    <div class="col s6">
                        @*Address Line 2*@
                        <p class="custom-label">Address Line 2 <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               ng-model="dentist.line2"
                               class="custom-input"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               placeholder="appartment, suite, unit, building, floor, etc"
                               required>
                    </div>
                </div>

                <div class="row">
                    <div class="col s3">
                        @*City*@
                        <p class="custom-label">City <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               class="custom-input"
                               ng-model="dentist.city"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               placeholder="city"
                               required>
                    </div>

                    <div class="col s3">
                        @*state/province/region*@
                        <p class="custom-label">State/Province/Region <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               ng-model="dentist.state"
                               class="custom-input"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               placeholder="state/province/region"
                               required>
                    </div>

                    <div class="col s3">
                        @*zip/postal code*@
                        <p class="custom-label">Zip/Postal Code <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               class="custom-input"
                               maxlength="250"
                               ng-model="dentist.postal"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               placeholder="zip/postal code"
                               required>
                    </div>

                    <div class="col s3">
                        @*country*@
                        <p class="custom-label">Country <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               class="custom-input"
                               ng-model="dentist.country"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               placeholder="country"
                               required>
                    </div>
                </div>

                <div class="row">
                    @*Specialization*@
                    <div class="col s12">
                        <p class="custom-label">Specialization <span class="required-mark">*</span></p>
                        <input type="text" ng-model="dentist.specialization" class="custom-input" maxlength="50" placeholder="Orthodontics">
                    </div>
                </div>
                <div class="row">
                    @*Branch*@
                    <div class="col s12">
                        <p class="custom-label">Branch <span class="required-mark">*</span></p>
                        <select class="browser-default custom-input" ng-model="dentist.branchID"
                                ng-options="b.branchID as b.description for b in branchArray">
                            <option value="" disabled selected>Select Branch</option>
                        </select>
                    </div>
                </div>

                @*<div class="forgot-password-container right" style="margin:-.5vh 1vh 2.5vh 0;">
                    <a href="#" class="forgot-link modal-trigger right" data-target="modalOTP" style="margin-right:.5vh; font-weight:500">Set New Password?</a>
                </div>*@
            </form>
        </div>

        @*Footer Actions*@
        <div class="modal-footer footer-center" style="margin-top:2.5vh">
            <button type="button" class="edit-btn left" style="font-weight:500;" ng-click="pickAccountPhotoFileDentist()">UPLOAD PHOTO</button>
            <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh" ng-click="editDentistSubmitted = false">CANCEL</button>
            <button type="button" class="edit-btn" style="font-weight:500;" ng-click="editDentist()">SAVE</button>
        </div>
    </div>


    @*Edit Profile Staff*@
    <div id="modalEditProfileStaff" class="modal patientInformationForm-modal containerOverflow-2" style="max-height:95vh" ng-init="getStaffData()">
        <div>
            <h5 class="modal-form-title">Edit Profile</h5>

            <form>
                <div class="row">
                    <div class="col s12 m4 l4">
                        <div class="row s4 center-align" style="margin-top: 2.5vh; margin-left: 2.5vh;">
                            <div class="col s12">
                                <div class="photo-box">
                                    <img ng-if="staffAccountPhotoPreview || staff.photoLink"
                                         ng-src="{{staffAccountPhotoPreview || staff.photoLink}}"
                                         alt="Profile"
                                         style="width:100%;height:100%;object-fit:cover;" />
                                    <i ng-if="!staffAccountPhotoPreview && !staff.photoLink"
                                       class="material-icons photo-placeholder-icon">image</i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s12 m8 l8">
                        <div class="row">
                            @*First name*@
                            <div class="col s6">
                                <p class="custom-label">First Name <span class="required-mark">*</span></p>
                                <input type="text" class="custom-input" ng-model="staff.firstName"
                                       maxlength="150" placeholder="Juan"
                                       ng-class="{'invalid-input': editStaffSubmitted && !staff.firstName}">
                                <span class="validation-msg" ng-show="editStaffSubmitted && !staff.firstName">First name is required.</span>
                            </div>
                            @*Middle name*@
                            <div class="col s6">
                                <p class="custom-label">Middle Name </p>
                                <input type="text" class="custom-input" ng-model="staff.middleName"
                                       maxlength="150" placeholder="Mercado"
                                       ng-class="{'invalid-input': editStaffSubmitted && !staff.middleName}">
                                <span class="validation-msg" ng-show="editStaffSubmitted && !staff.middleName">Middle name is required.</span>
                            </div>
                        </div>
                        <div class="row">
                            @*Last name*@
                            <div class="col s12">
                                <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                                <input type="text" class="custom-input" ng-model="staff.lastName"
                                       maxlength="150" placeholder="Dela Cruz"
                                       ng-class="{'invalid-input': editStaffSubmitted && !staff.lastName}">
                                <span class="validation-msg" ng-show="editStaffSubmitted && !staff.lastName">Last name is required.</span>
                            </div>
                        </div>
                    </div>
                </div>

                @*Email*@
                <div class="row">
                    <div class="col s12">
                        <p class="custom-label">Email <span class="required-mark">*</span></p>
                        <input type="text" class="custom-input" ng-model="staff.email"
                               disabled
                               maxlength="150" placeholder="juandlc@gmail.com"
                               ng-class="{'invalid-input': editStaffSubmitted && !staff.email}">
                        <span class="validation-msg" ng-show="editStaffSubmitted && !staff.email">Email is required.</span>
                    </div>
                </div>

                <div class="row">
                    @*Gender*@
                    <div class="col s12 m3 l3">
                        <p class="custom-label">Gender <span class="required-mark">*</span></p>
                        <select class="browser-default custom-input" ng-model="staff.genderID"
                                ng-options="gender.genderID as gender.description for gender in genderArray" disabled
                                ng-class="{'invalid-input': editStaffSubmitted && !staff.genderID}">
                            <option value="" disabled>Select Gender</option>
                        </select>
                        <span class="validation-msg" ng-show="editStaffSubmitted && !staff.genderID">Gender is required.</span>
                    </div>
                    @*Birthdate*@
                    <div class="col s12 m3 l3">
                        <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                        <div class="datepicker-wrapper">
                            <input id="birthDate" type="text" class="datepicker custom-input" ng-model="staff.birthDate"
                                   readonly ng-class="{'invalid-input': editStaffSubmitted && !staff.birthDate}">
                            <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                        </div>
                        <span class="validation-msg" ng-show="editStaffSubmitted && !staff.birthDate">Birth date is required.</span>
                    </div>
                    @*Civil status*@
                    <div class="col s12 m3 l3">
                        <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                        <select class="browser-default custom-input" ng-model="staff.civilStatus"
                                ng-class="{'invalid-input': editStaffSubmitted && !staff.civilStatus}">
                            <option value="" disabled>Select Status</option>
                            <option value="1">Single</option>
                            <option value="2">Married</option>
                            <option value="3">Widowed</option>
                        </select>
                        <span class="validation-msg" ng-show="editStaffSubmitted && !staff.civilStatus">Civil status is required.</span>
                    </div>
                    @*Contact number*@
                    <div class="col s12 m3 l3">
                        <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                        <input id="contactNumber" type="text" class="custom-input" ng-model="staff.contactNumber"
                               placeholder="09XX-XXX-XXXX" maxlength="13"
                               ng-class="{'invalid-input': editStaffSubmitted && !staff.contactNumber}">
                        <span class="validation-msg" ng-show="editStaffSubmitted && !staff.contactNumber">Contact number is required.</span>
                    </div>
                </div>

                <div class="row">
                    @*Religion*@
                    <div class="col s12 m6 l6">
                        <p class="custom-label">Religion <span class="required-mark">*</span></p>
                        <select class="browser-default custom-input" ng-model="staff.religion">
                            <option disabled selected>Select your Religion</option>
                            <option value="Roman Catholic">Roman Catholic</option>
                            <option value="Islam">Islam</option>
                            <option value="Iglesia Ni Cristo">Iglesia Ni Cristo</option>
                            <option value="Others">Others</option>
                        </select>

                        @*<input type="text" class="custom-input" ng-model="staff.religion"
                placeholder="Roman-Catholic" maxlength="50"
                ng-class="{'invalid-input': editStaffSubmitted && !staff.religion}">*@
                        <span class="validation-msg" ng-show="editStaffSubmitted && !staff.religion">Religion is required.</span>
                    </div>
                    @*Nationality*@
                    <div class="col s12 m6 l6">
                        <p class="custom-label">Nationality <span class="required-mark">*</span></p>
                        <select class="browser-default custom-input" ng-model="staff.nationality">
                            <option disbaled selected>Select your Nationality</option>
                            <option ng-repeat="n in nationalities" value="{{n}}">{{n}}</option>
                        </select>

                        @*<input type="text" class="custom-input" ng-model="staff.nationality"
                placeholder="Filipino" maxlength="50"
                ng-class="{'invalid-input': editStaffSubmitted && !staff.nationality}">*@
                        <span class="validation-msg" ng-show="editStaffSubmitted && !staff.nationality">Nationality is required.</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col s6">
                        @*Address Line 1*@
                        <p class="custom-label">Address Line 1 <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               ng-model="staff.line1"
                               class="custom-input"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               placeholder="street address, p.o. box, company name, c/o"
                               required>
                    </div>

                    <div class="col s6">
                        @*Address Line 2*@
                        <p class="custom-label">Address Line 2 <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               ng-model="staff.line2"
                               class="custom-input"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               placeholder="appartment, suite, unit, building, floor, etc"
                               required>
                    </div>
                </div>

                <div class="row">
                    <div class="col s3">
                        @*City*@
                        <p class="custom-label">City <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               class="custom-input"
                               ng-model="staff.city"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               placeholder="city"
                               required>
                    </div>

                    <div class="col s3">
                        @*state/province/region*@
                        <p class="custom-label">State/Province/Region <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               ng-model="staff.state"
                               class="custom-input"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               placeholder="state/province/region"
                               required>
                    </div>

                    <div class="col s3">
                        @*zip/postal code*@
                        <p class="custom-label">Zip/Postal Code <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               ng-model="staff.postal"
                               class="custom-input"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^0-9 ,.-]/g, '')"
                               placeholder="zip/postal code"
                               required>
                    </div>

                    <div class="col s3">
                        @*country*@
                        <p class="custom-label">Country <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               ng-model="staff.country"
                               class="custom-input"
                               maxlength="250"
                               oninput="this.value = this.value.replace(/[^A-Za-z0-9 ,.-]/g, '')"
                               placeholder="country"
                               required>
                    </div>
                </div>

                <div class="row">
                    @*Clinic Role*@
                    <div class="col s12">
                        <p class="custom-label">Clinic Role <span class="required-mark">*</span></p>
                        <input type="text" ng-model="staff.staffRole" class="custom-input" maxlength="50">
                    </div>
                </div>

                <div class="row">
                    @*Branch*@
                    <div class="col s12">
                        <p class="custom-label">Branch</p>
                        <select class="browser-default custom-input" ng-model="staff.branchID"
                                ng-options="b.branchID as b.description for b in branchArray">
                            <option value="" disabled selected>Select Branch</option>
                        </select>
                    </div>
                </div>

                @*<div class="forgot-password-container right" style="margin:-.5vh 1vh 2.5vh 0;">
                    <a href="#" class="forgot-link modal-trigger right" data-target="modalOTP" style="margin-right:.5vh; font-weight:500">Set New Password?</a>
                </div>*@
            </form>
        </div>

        <div class="modal-footer footer-center" style="margin-top:2.5vh">
            <button type="button" class="edit-btn left" style="font-weight:500;" ng-click="pickAccountPhotoFileStaff()">UPLOAD PHOTO</button>
            @*<button type="button" class="edit-btn left" style="font-weight:500; margin-left:8px;" ng-click="pickAccountSignatureFile()">UPLOAD SIGNATURE</button>*@
            <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh" ng-click="editStaffSubmitted = false">CANCEL</button>
            <button type="submit" class="edit-btn" style="font-weight:500;" ng-click="editStaff()">SAVE</button>
        </div>
    </div>

    @*NEW Password*@
    <div id="modalOTP" class="modal password-modal">
        <div class="modal-content" style="width:50vh !important">
            <h5 class="modal-form-title">Change Password</h5>

            <div class="input-field">
                <p class="custom-label">OTP Code <span class="required-mark">*</span></p>
                <input type="text"
                       ng-model="forget_OTP"
                       placeholder="000000"
                       maxlength="6"
                       oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                       inputmode="numeric"
                       required>
            </div>

            <div class="modal-footer">
                <button type="submit" class="edit-btn right" style="font-weight: 500; align-items: center; margin: 1vh 0 -3vh 0" ng-click="sendOTP()">SEND OTP</button>
                <button class="modal-close cancel-btn" style="font-weight: 500; margin: 1vh 2.3vh -3vh 0">CANCEL</button>
                <button type="submit" class="edit-btn modal-trigger" data-target="modalPasswordReset" style="font-weight: 500; margin: 1vh 0 -3vh 0" ng-click="OTPverify()">VERIFY</button>
            </div>
        </div>
    </div>

    <div id="modalPasswordReset" class="modal password-modal">
        <div class="modal-content" style="width:50vh !important">
            <h5 class="modal-form-title">Change Password</h5>

            <div class="input-field">
                <p class="custom-label">New Password <span class="required-mark">*</span></p>
                <input type="password"
                       ng-model="forgot_newPassword"
                       placeholder="New password">
            </div>

            <div class="input-field">
                <p class="custom-label">Confirm Password <span class="required-mark">*</span></p>
                <input type="password"
                       ng-model="forgot_confirmPassword"
                       placeholder="Confirm password">
            </div>

            <div class="modal-footer">
                <button class="modal-close cancel-btn" style="font-weight: 500; margin: 1vh 0 -3vh 0">CANCEL</button>
                <button type="submit" class="edit-btn modal-trigger" style="font-weight: 500; margin: 1vh 0 -3vh 0" ng-click="resetPassword()">CHANGE PASSWORD</button>
            </div>
        </div>
    </div>

    <div id="modalNotifications" class="modal">
        <div class="modal-content">
            <h5>Notifications</h5>
            <div ng-if="notifications.length === 0">
                <p>No notifications.</p>
            </div>
            <ul class="collection" ng-if="notifications.length > 0" style="max-height:60vh; overflow:auto;">
                <li class="collection-item" ng-repeat="n in notifications track by n.notificationID" ng-class="{'grey lighten-4': !n.isRead}">
                    <div>
                        <strong>{{n.title}}</strong>
                        <span class="secondary-content" style="font-size:0.9rem;">{{n.createdAt | date:'short'}}</span>
                    </div>
                    <div style="margin-top:.5rem; white-space:pre-line;">{{n.message}}</div>
                    <div style="margin-top:.75rem;">
                        <a class="btn-flat" ng-if="!n.isRead" ng-click="markNotificationRead(n)">Mark as read</a>
                        <a class="btn-flat" ng-if="n.link" ng-href="{{n.link}}">Open</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <a class="modal-close btn-flat">Close</a>
        </div>
    </div>

    <script>
        //Arrow filter (descending and ascending)
        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('sort-arrow')) {
                const clicked = event.target;
                const parent = clicked.parentElement;
                const arrows = parent.querySelectorAll('.sort-arrow');

                const isActive = clicked.style.opacity === "1";

                arrows.forEach(arrow => {
                    arrow.style.opacity = "0.2";
                    arrow.style.fontWeight = "normal";
                });

                if (!isActive) {
                    clicked.style.opacity = "1";
                    clicked.style.fontWeight = "bold";
                }
            }
        });

        //materialboxed
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems);
        });

        //Tooltip
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.tooltipped');
            var instances = M.Tooltip.init(elems, {
                    exitDelay: 5
            });
        });

        //Dropdown
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, {
                coverTrigger: false,
                constrainWidth: false
            });
        });

        //scrollspy
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.scrollspy');
            var instances = M.ScrollSpy.init(elems);

            var tocElement = document.querySelector('.table-of-contents');
            var tocWrapper = document.querySelector('.toc-wrapper');

        });

        //tabs javascript
        document.addEventListener('DOMContentLoaded', function () {
            var el = document.querySelectorAll('.tabs');
            var instance = M.Tabs.init(el, {
                swipeable: false
            });
        });

        //Date
        document.addEventListener('DOMContentLoaded', function () {
            var today = new Date();

            // General date pickers (not the patient birthdate one)
            var dateElems = document.querySelectorAll('.datepicker:not(#birthDate)');
            M.Datepicker.init(dateElems, {
                format: 'mm/dd/yyyy',
                maxDate: today,
                yearRange: [1920, today.getFullYear()],
                autoClose: true,
                showClearBtn: true
            });
        });
        //Pop up modals
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, {
                startingTop: '4%',
                endingTop: '10%',
                onOpenEnd: function (modal) {
                    // If it's the patient info modal, trigger datepicker initialization
                    if (modal.id === 'modal-patient-info') {
                        // Give the modal time to render
                        setTimeout(function () {
                            var scope = angular.element(document.body).scope();
                            if (scope && scope.selectedPatient) {
                                var birthDateElem = document.getElementById('birthDate');
                                if (birthDateElem) {
                                    var existingInstance = M.Datepicker.getInstance(birthDateElem);
                                    if (existingInstance) {
                                        existingInstance.destroy();
                                    }

                                    var datepicker = M.Datepicker.init(birthDateElem, {
                                        format: 'mmmm dd, yyyy',
                                        yearRange: [1900, new Date().getFullYear()],
                                        autoClose: true,
                                        maxDate: new Date(),
                                        onSelect: function (date) {
                                            scope.$apply(function () {
                                                scope.selectedPatient.birthDateRaw = date;
                                                scope.selectedPatient.birthDate = date.toLocaleDateString("en-US", {
                                                    month: "long",
                                                    day: "numeric",
                                                    year: "numeric"
                                                });
                                                scope.selectedPatient.age = scope.computeAgeFromDate
                                                    ? scope.computeAgeFromDate(date)
                                                    : computeAgeFromDate(date);
                                            });
                                        }
                                    });

                                    if (scope.selectedPatient.birthDateRaw) {
                                        datepicker.setDate(new Date(scope.selectedPatient.birthDateRaw));
                                    }
                                }
                            }
                        }, 200);
                    }
                }
            });
        });
        function computeAgeFromDate(birthDate) {
            if (!birthDate) return "";

            var bDate = new Date(birthDate);
            var today = new Date();

            var age = today.getFullYear() - bDate.getFullYear();
            var monthDiff = today.getMonth() - bDate.getMonth();

            if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < bDate.getDate())) {
                age--;
            }

            return age;
        }

        //sidenav
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });

       document.addEventListener('DOMContentLoaded', function () {
           var today = new Date();

           // Date picker
           var dateElems = document.querySelectorAll('.datepicker');
           M.Datepicker.init(dateElems, {
               format: 'mm/dd/yyyy',
               maxDate: today,
               yearRange: [1920, today.getFullYear()],
               autoClose: true,
               showClearBtn: true
           });
       });

    //collapsible
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
    });


        @* admin finance table *@
        //new DataTable('#adminFinance');
        @* admin patients table *@
        //new DataTable('#adminPatientsTabTable');

        @* admin scheduled appts table *@
        //new DataTable('#adminScheduledAppointment');
        @* admin req appts table *@
        //new DataTable('#adminRequestedAppointment');
        @* admin past appts table *@
        //new DataTable('#adminPastAppointment');

        //admin clinic staff-owner
        new DataTable('#adminClinicStaffTabTableOwner');
        //admin clinic staff-dentist
        new DataTable('#adminClinicStaffTabTableDentist');
        //admin clinic staff-staff
        new DataTable('#adminClinicStaffTabTableStaff');
        //admin clinic staff-pending
        new DataTable('#adminClinicStaffTabTablePending');



        //clickeable DataTables
        const financeTblRows = document.querySelectorAll(".tableClk tbody tr");
        for (const financeTblRow of financeTblRows) {
            financeTblRow.addEventListener("click", function () {
                window.location.href = this.dataset.href;
            })
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Scripts/RGDCscripts/Module.js"></script>
    <script src="~/Scripts/RGDCscripts/Service.js"></script>
    <script src="~/Scripts/RGDCscripts/Controller.js"></script>
    <script>


        //for Date and time sa dashboard
        (function () {
            function pad(n) { return n < 10 ? '0' + n : n; }
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

            function renderDateTime() {
                try {
                    var now = new Date();
                    var month = months[now.getMonth()];
                    var day = now.getDate();
                    var year = now.getFullYear();

                    var hours = now.getHours();
                    var ampm = hours >= 12 ? 'PM' : 'AM';
                    hours = hours % 12;
                    hours = hours ? hours : 12;
                    var minutes = pad(now.getMinutes());
                    var seconds = pad(now.getSeconds());

                    var dateEl = document.getElementById('currentDate');
                    var timeEl = document.getElementById('currentTime');
                    if (dateEl) dateEl.textContent = month + ' ' + day + ', ' + year + ' | ';
                    if (timeEl) timeEl.textContent = hours + ':' + minutes + ':' + seconds + ' ' + ampm;
                } catch (e) {
                    console.error('renderDateTime error', e);
                }
            }

            if (document.readyState === 'loading') {
                document.addEventListener('DOMContentLoaded', function () {
                    renderDateTime();
                    setInterval(renderDateTime, 1000);
                });
            } else {
                renderDateTime();
                setInterval(renderDateTime, 1000);
            }
        })();
    </script>
</body>
</html> 