<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="~/Content/style.css">

    @*datatable*@
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.6/css/dataTables.dataTables.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.6/js/dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>
@*<body id="body" ng-app="RGDCWebApplication" ng-controller="RGDCWebApplicationController">*@
<body id="body" ng-app="RGDCWebApplication" ng-controller="RGDCWebApplicationController">
    <div class="row" style="margin: 0;" ng-init="getSessionVariables()">
        @*sidebar nav*@
        <div class="col hide-on-small-only m3 l3 brown lighten-1 z-depth-3 white-text" style="min-height: 100vh; position: fixed;">
            <h5 style="font-weight:bold;">RGDC</h5>

            @*user pfp and name*@
            <div class="row center sidebar-profile" style="margin-top: 2rem;">
                <img ng-src="{{ currentUserPhoto || 'https://placehold.co/400' }}" alt="Profile" class="sidebar-profile-img modal-trigger" data-target="modalEditProfile" />
            </div>

            @*user name and role*@
            <div class="row center">
                <h5 style="font-weight:bold;">{{currentUserFullName}}</h5>
                <h6>{{userRole}}</h6>
            </div>

            @*Calendaryo CODESSS*@
            <div class="row center" style="margin-top: 0.5rem;">
                <div class="google-sync" style="display: inline-flex; align-items: center; justify-content: center; flex-wrap: wrap; margin-left:0;">
                    <label style="vertical-align: middle;">
                        <input type="checkbox" ng-model="googleCalendarEnabled" ng-change="toggleGoogleCalendar(googleCalendarEnabled)" />
                        <span style="vertical-align: middle; margin-left:0.5rem; font-size:.95rem; color:lightgray">Save appointments to Google Calendar</span>
                    </label>
                </div>
            </div>

            <div class="row center">
                <button class="btn-small brown lighten-4 brown-text" ng-click="connectGoogle()" ng-if="!googleConnected" style="margin-left:0.5rem">Connect Google</button>
            </div>

            @*nav tabs*@
            <div style="margin-top: 2rem; padding-left: 3rem; padding-right: 3rem;">
                <ul>
                    <li><a href="~/RGDC/adminDashboard" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">home</i>Home</a></li>
                    <li><a href="~/RGDC/adminClinicStaffTab" ng-show="isUserOwner" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">assignment_ind</i>Clinic Staff</a></li>
                    <li><a href="~/RGDC/patientProfile" ng-show="isUserPatient" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">group</i>Profile</a></li>
                    <li><a href="~/RGDC/adminPatientsTab" ng-show="isUserAdmin" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">group</i>Patients</a></li>
                    <li><a href="~/RGDC/adminAppointment" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">calendar_today</i>Appointments</a></li>
                    <li><a href="~/RGDC/adminFinance" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">bar_chart</i>Finance</a></li>
                    <li><a href="~/RGDC/faqPage" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">question_answer</i>FAQs</a></li>
                    <li><a href="#!" class="white-text valign-wrapper navText dropdown-trigger" data-target="contactDropdown"><i class="material-icons white-text" style="padding-right: 0.5rem;">call</i>Contact</a></li>
                    <ul id="contactDropdown" class="dropdown-content brown lighten-1">
                        <li>
                            <a href="#!" class="white-text">one</a>
                        </li>
                        <li>
                            <a href="#!" class="white-text">two</a>
                        </li>
                    </ul>
                </ul>
            </div>


            @*date and time at the bottom of the screen*@
            <div class="row center" style="margin-top: 4rem; padding-bottom: 2rem;">
                <span id="currentDate">Loading date...</span>
                <span id="currentTime">Loading time...</span>
            </div>



        </div>

        @*sidebar nav (mobile)*@
        <div class=" show-on-medium-and-down hide-on-large-only s12 m12 brown lighten-1 z-depth-3 white-text p-0 m-0" style="width: 100% !important">
            <nav>
                <div class="nav-wrapper px-1">
                    <h5 class="bold brand-logo center">RGDC</h5>
                    <ul class="left">
                        <li>
                            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        </li>
                    </ul>
                    <ul class="right m-0">
                        <li>
                            <a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn"> <i class="material-icons brown-text lighten-1">refresh</i></a>
                        </li>
                        <li ng-show="isUserAdmin">
                        <li>
                            <a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn"> <i class="material-icons brown-text lighten-1">print</i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul class="sidenav brown lighten-1 z-depth-3 white-text p-1" id="mobile-nav">

            @*logout*@
            <div class="row mt-1 mb-2">
                <a href="#" class="waves-effect waves-light btn brown lighten-4 right" ng-click="logOut()"> <span class="brown-text lighten-1 bold"><i class="material-icons brown-text lighten-1 left">logout</i>Logout</span></a>
            </div>

            @*user pfp and name*@
            <div class="row center" style="margin-top: 5rem;">
                @*lagyan nalang ng src for image source*@
                <img src="https://placehold.co/400" class="circle responsive-img modal-trigger" data-target="editProfile" style="max-width:10rem" />
            </div>

            @*user name and role*@
            <div class="row center">
                <h5 style="font-weight:bold;">{{currentUserFullName}}</h5>
                <h6>{{userRole}}</h6>
            </div>

            <li><a href="~/RGDC/adminDashboard" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">home</i>Home</a></li>
            <li><a href="~/RGDC/adminClinicStaff" ng-show="isUserOwner" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">assignment_ind</i>Clinic Staff</a></li>
            <li><a href="~/RGDC/patientProfile" ng-show="isUserPatient" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">group</i>Profile</a></li>
            <li><a href="~/RGDC/adminPatientsTab" ng-show="isUserAdmin" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">group</i>Patients</a></li>
            <li><a href="~/RGDC/adminAppointment" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">calendar_today</i>Appointments</a></li>
            <li><a href="~/RGDC/adminFinance" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">bar_chart</i>Finance</a></li>
            <li><a href="~/RGDC/contactUsPage" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">call</i>Contact Us</a></li>

            @*date and time at the bottom of the screen*@
            <div class="row center" style="margin-top: 5rem; padding-bottom: 2rem;">
                <span>Month DD, YYYY | </span>
                <span>00:00 AM</span>
            </div>

            <li><a href="~/RGDC/adminDashboard" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">home</i>Home</a></li>
            <li><a href="~/RGDC/patientStaff" ng-show="isUserOwner" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">assignment_ind</i>Clinic Staff</a></li>
            <li><a href="~/RGDC/patientProfile" ng-show="isUserPatient" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">group</i>Profile</a></li>
            <li><a href="~/RGDC/adminPatientsTab" ng-show="isUserAdmin" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">group</i>Patients</a></li>
            <li><a href="#!" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">calendar_today</i>Appointments</a></li>
            <li><a href="~/RGDC/adminFinance" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">bar_chart</i>Finance</a></li>
            <li><a href="~/RGDC/faqPage" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">question_answer</i>FAQs</a></li>
            <li><a href="#!" class="white-text valign-wrapper navText dropdown-trigger" data-target="contactDropdown"><i class="material-icons white-text" style="padding-right: 0.5rem;">call</i>Contact</a></li>
            <ul id="contactDropdown" class="dropdown-content brown lighten-1">
                <li>
                    <a href="#!" class="white-text">one</a>
                </li>
                <li>
                    <a href="#!" class="white-text">two</a>
                </li>
            </ul>
        </ul>

        @*content*@
        @*<div class="col l9 main-content container">*@
        <div class="col l9 main-content ">
            @RenderBody()
        </div>
    </div>


    @*Edit Profile*@
    <div id="modalEditProfile" class="modal patientInformationForm-modal">
        <div>
            <h5 class="modal-form-title">Edit Profile</h5>

            <form>
                <div class="row">
                    <div class="col s4">
                        @*Photo upload*@
                        <div class="row s4 center-align" style="margin-top: 2.5vh; margin-left: 2.5vh;">
                            <div class="col s12">
                                <div class="photo-box">
                                    <i class="material-icons photo-placeholder-icon">image</i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s8">
                        <div class="row">
                            @*First name*@
                            <div class="col s6">
                                <p class="custom-label">First Name <span class="required-mark">*</span></p>
                                <input type="text"
                                       class="custom-input"
                                       maxlength="150"
                                       placeholder="Juan"
                                       required>
                            </div>
                            @*MIddle name*@
                            <div class="col s6">
                                <p class="custom-label">Middle Name <span class="required-mark">*</span></p>
                                <input type="text"
                                       class="custom-input"
                                       maxlength="150"
                                       placeholder="Mercado"
                                       required>
                            </div>
                        </div>
                        <div class="row">
                            @*Last name*@
                            <div class="col s12">
                                <p class="custom-label">Last Name <span class="required-mark">*</span></p>
                                <input type="text" class="custom-input"
                                       maxlength="150"
                                       placeholder="Dela Cruz"
                                       required>
                            </div>
                        </div>
                    </div>
                </div>

                @*Email*@
                <div class="row">
                    <div class="col s12">
                        <p class="custom-label">Email <span class="required-mark">*</span></p>
                        <input type="text" class="custom-input" l"
                               maxlength="150"
                               placeholder="juandlc@gmail.com"
                               required>
                    </div>
                </div>

                <div class="row">
                    @*Gender*@
                    <div class="col s3">
                        <p class="custom-label">Gender <span class="required-mark">*</span></p>
                        <select class="browser-default custom-input">
                            <option value="" disabled selected>Select Gender</option>
                            <option ng-repeat="gender in genderArray" value="{{gender.genderID}}">{{gender.description}}</option>
                        </select>
                    </div>
                    @*Birthdate*@
                    <div class="col s3">
                        <p class="custom-label">Birth Date <span class="required-mark">*</span></p>
                        <div class="datepicker-wrapper">
                            <input id="birthDate"
                                   type="text"
                                   class="datepicker custom-input"
                                   readonly
                                   required>
                            <i class="material-icons datepicker-icon datepicker-trigger">event</i>
                        </div>
                    </div>

                    <div class="col s3">
                        @*Civil status*@
                        <p class="custom-label">Civil Status <span class="required-mark">*</span></p>
                        <select class="browser-default custom-input" required>
                            <option value="" disabled selected>Select Status</option>
                            <option value="1">Single</option>
                            <option value="2">Married</option>
                            <option value="3">Widowed</option>
                        </select>
                    </div>
                    <div class="col s3">
                        @*Contact number*@
                        <p class="custom-label">Contact Number <span class="required-mark">*</span></p>
                        <input id="contactNumber"
                               type="text"
                               class="custom-input"
                               placeholder="09XX-XXX-XXXX"
                               maxlength="13"
                               required>
                    </div>
                </div>


                <div class="row">
                    <div class="col s4">
                        @*Occupation*@
                        <p class="custom-label">Occupation <span class="required-mark">*</span></p>
                        <input id="occupation"
                               type="text"
                               class="custom-input"
                               placeholder="Doctor"
                               maxlength="50"
                               required>
                    </div>

                    <div class="col s4">
                        @*Religion*@
                        <p class="custom-label">Religion <span class="required-mark">*</span></p>
                        <input id="religion"
                               type="text"
                               class="custom-input"
                               placeholder="Roman-Catholic"
                               maxlength="50"
                               required>
                    </div>

                    <div class="col s4">
                        @*Nationality*@
                        <p class="custom-label">Nationality <span class="required-mark">*</span></p>
                        <input id="contactNumber"
                               type="text"
                               class="custom-input"
                               placeholder="Filipino"
                               maxlength="50"
                               required>
                    </div>
                </div>

                <div class="row">
                    <div class="col s4">
                        @*Med Insurance*@
                        <p class="custom-label">Medical Insurance <span class="required-mark">*</span></p>
                        <input id="occupation"
                               type="text"
                               class="custom-input"
                               placeholder="RGDC Free Dental Ewan"
                               maxlength="50"
                               required>
                    </div>

                    <div class="col s4">
                        @*Guardian*@
                        <p class="custom-label">Guardian <span class="required-mark">*</span></p>
                        <input id="religion"
                               type="text"
                               class="custom-input"
                               placeholder="Mama"
                               maxlength="50"
                               required>
                    </div>

                    <div class="col s4">
                        @*Guardian's Contanct Number'*@
                        <p class="custom-label">Guardian's Contanct Number <span class="required-mark">*</span></p>
                        <input id="contactNumber"
                               type="text"
                               class="custom-input"
                               placeholder="09XX-XXX-XXXX"
                               maxlength="13"
                               required>
                    </div>
                </div>


                <div class="row">
                    <div class="col s12">
                        @*Address*@
                        <p class="custom-label">Address <span class="required-mark">*</span></p>
                        <input id="address"
                               type="text"
                               class="custom-input"
                               maxlength="250"
                               required>
                    </div>
                </div>

                <div class="row">
                    @*Specialization*@
                    <div class="col s12">
                        <p class="custom-label">Specialization</p>
                        <input type="text"
                               class="custom-input"
                               maxlength="50">
                    </div>
                </div>

                @*New Password*@
                <div class="forgot-password-container">
                    <a href="#" class="forgot-link modal-trigger" data-target="modalOTP" style="margin-right:.5vh; font-weight:500">Set New Password?</a>
                </div>


            </form>
        </div>

        @*Submit or cancel*@
        <div class="modal-footer footer-center" style="margin-top:2.5vh">
            <button type="submit" class="edit-btn left" style="font-weight:500;">UPLOAD PHOTO</button>
            <button class="modal-close cancel-btn" style="font-weight:500; margin-right:.5vh">CANCEL</button>
            <button type="submit" class="edit-btn" style="font-weight:500;">SAVE</button>
        </div>
    </div>

    @*NEW Password*@
    <div id="modalOTP" class="modal password-modal">
        <div class="modal-content" style="width:80vh !important">
            <h5 class="modal-form-title">Verify Your Identity</h5>

            <div class="input-field">
                <p class="custom-label">Gmail <span class="required-mark">*</span></p>
                <input type="email"
                       class="custom-input"
                       ng-model="forgot_email"
                       placeholder="juandelacruz@gmail.com"
                       required>
            </div>

            <div class="input-field">
                <p class="custom-label">OTP Code <span class="required-mark">*</span></p>
                <input type="email"
                       class="custom-input"
                       placeholder="Insert OTP code sent to your email to verify"
                       required>
            </div>

            <div class="modal-footer">
                <button type="submit" class="edit-btn right" style="font-weight: 500; align-items: center; margin: 1vh 0 -3vh 0" ng-click="sendOTP()">SEND OTP</button>
                <button class="modal-close cancel-btn" style="font-weight: 500; margin: 1vh 2.3vh -3vh 0">CANCEL</button>
                <button type="submit" class="edit-btn modal-trigger" style="font-weight: 500; margin: 1vh 0 -3vh 0" data-target="modalPasswordReset">VERIFY</button>
            </div>
        </div>
    </div>

    <div id="modalPasswordReset" class="modal password-modal">
        <div class="modal-content" style="width:80vh !important">
            <h5 class="modal-form-title">Change Password</h5>

                <div class="input-field">
                    <p class="custom-label">New Password <span class="required-mark">*</span></p>
                    <input type="password"
                           class="custom-input"
                           ng-model="forgot_newPassword"
                           placeholder="New password">
                </div>

                <div class="input-field">
                    <p class="custom-label">Confirm Password <span class="required-mark">*</span></p>
                    <input type="password"
                           class="custom-input"
                           ng-model="forgot_confirmPassword"
                           placeholder="Confirm password">
                </div>

            <div class="modal-footer">
                <button class="modal-close cancel-btn" style="font-weight: 500; margin: 1vh 0 -3vh 0">CANCEL</button>
                <button type="submit" class="edit-btn modal-trigger" style="font-weight: 500; margin: 1vh 0 -3vh 0" data-target="modalPasswordReset" ng-click="resetPassword()">CHANGE PASSWORD</button>
            </div>
        </div>
    </div>

    <script>
        //Arrow filter (descending and ascending)
        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('sort-arrow')) {
                const clicked = event.target;
                const parent = clicked.parentElement;
                const arrows = parent.querySelectorAll('.sort-arrow');

                const isActive = clicked.style.opacity === "1";

                arrows.forEach(arrow => {
                    arrow.style.opacity = "0.2";
                    arrow.style.fontWeight = "normal";
                });

                if (!isActive) {
                    clicked.style.opacity = "1";
                    clicked.style.fontWeight = "bold";
                }
            }
        });

        //materialboxed
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.materialboxed');
            var instances = M.Materialbox.init(elems);
        });

        //Tooltip
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.tooltipped');
            var instances = M.Tooltip.init(elems, {
                    exitDelay: -5
            });
        });

        //Dropdown
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems, {
                coverTrigger: false,
                constrainWidth: false
            });
        });

        //scrollspy
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.scrollspy');
            var instances = M.ScrollSpy.init(elems);

            var tocElement = document.querySelector('.table-of-contents');
            var tocWrapper = document.querySelector('.toc-wrapper');

        });

        //tabs javascript
        document.addEventListener('DOMContentLoaded', function () {
            var el = document.querySelectorAll('.tabs');
            var instance = M.Tabs.init(el, {
                swipeable: false
            });
        });

        //Date
        document.addEventListener('DOMContentLoaded', function () {
            var today = new Date();

            // General date pickers (not the patient birthdate one)
            var dateElems = document.querySelectorAll('.datepicker:not(#birthDate)');
            M.Datepicker.init(dateElems, {
                format: 'mm/dd/yyyy',
                maxDate: today,
                yearRange: [1920, today.getFullYear()],
                autoClose: true,
                showClearBtn: true
            });
        });
        //Pop up modals
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, {
                startingTop: '4%',
                endingTop: '10%',
                onOpenEnd: function (modal) {
                    // If it's the patient info modal, trigger datepicker initialization
                    if (modal.id === 'modal-patient-info') {
                        // Give the modal time to render
                        setTimeout(function () {
                            var scope = angular.element(document.body).scope();
                            if (scope && scope.selectedPatient) {
                                var birthDateElem = document.getElementById('birthDate');
                                if (birthDateElem) {
                                    var existingInstance = M.Datepicker.getInstance(birthDateElem);
                                    if (existingInstance) {
                                        existingInstance.destroy();
                                    }

                                    var datepicker = M.Datepicker.init(birthDateElem, {
                                        format: 'mmmm dd, yyyy',
                                        yearRange: [1900, new Date().getFullYear()],
                                        autoClose: true,
                                        maxDate: new Date(),
                                        onSelect: function (date) {
                                            scope.$apply(function () {
                                                scope.selectedPatient.birthDateRaw = date;
                                                scope.selectedPatient.birthDate = date.toLocaleDateString("en-US", {
                                                    month: "long",
                                                    day: "numeric",
                                                    year: "numeric"
                                                });
                                                scope.selectedPatient.age = scope.computeAgeFromDate
                                                    ? scope.computeAgeFromDate(date)
                                                    : computeAgeFromDate(date);
                                            });
                                        }
                                    });

                                    if (scope.selectedPatient.birthDateRaw) {
                                        datepicker.setDate(new Date(scope.selectedPatient.birthDateRaw));
                                    }
                                }
                            }
                        }, 200);
                    }
                }
            });
        });
        function computeAgeFromDate(birthDate) {
            if (!birthDate) return "";

            var bDate = new Date(birthDate);
            var today = new Date();

            var age = today.getFullYear() - bDate.getFullYear();
            var monthDiff = today.getMonth() - bDate.getMonth();

            if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < bDate.getDate())) {
                age--;
            }

            return age;
        }

        //sidenav
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });

       document.addEventListener('DOMContentLoaded', function () {
           var today = new Date();

           // Date picker
           var dateElems = document.querySelectorAll('.datepicker');
           M.Datepicker.init(dateElems, {
               format: 'mm/dd/yyyy',
               maxDate: today,
               yearRange: [1920, today.getFullYear()],
               autoClose: true,
               showClearBtn: true
           });
       });

    //collapsible
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);
    });


        @* admin finance table *@
        new DataTable('#adminFinance');
        @* admin patients table *@
        new DataTable('#adminPatientsTabTable');

        @* admin scheduled appts table *@
        new DataTable('#adminScheduledAppointment');
        @* admin req appts table *@
        new DataTable('#adminRequestedAppointment');
        @* admin past appts table *@
        new DataTable('#adminPastAppointment');

        @*patient profile table - progress notes*@
            new DataTable('#progressNotes');
        @*patient profile table - forms*@
        new DataTable('#patientForms');

        //clickeable DataTables
        const financeTblRows = document.querySelectorAll(".tableClk tbody tr");
        for (const financeTblRow of financeTblRows) {
            financeTblRow.addEventListener("click", function () {
                window.location.href = this.dataset.href;
            })
        }
    </script>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Scripts/RGDCscripts/Module.js"></script>
    <script src="~/Scripts/RGDCscripts/Service.js"></script>
    <script src="~/Scripts/RGDCscripts/Controller.js"></script>
    <script>


        //for Date and time sa dashboard
        (function () {
            function pad(n) { return n < 10 ? '0' + n : n; }
            var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

            function renderDateTime() {
                try {
                    var now = new Date();
                    var month = months[now.getMonth()];
                    var day = now.getDate();
                    var year = now.getFullYear();

                    var hours = now.getHours();
                    var ampm = hours >= 12 ? 'PM' : 'AM';
                    hours = hours % 12;
                    hours = hours ? hours : 12;
                    var minutes = pad(now.getMinutes());
                    var seconds = pad(now.getSeconds());

                    var dateEl = document.getElementById('currentDate');
                    var timeEl = document.getElementById('currentTime');
                    if (dateEl) dateEl.textContent = month + ' ' + day + ', ' + year + ' | ';
                    if (timeEl) timeEl.textContent = hours + ':' + minutes + ':' + seconds + ' ' + ampm;
                } catch (e) {
                    console.error('renderDateTime error', e);
                }
            }

            if (document.readyState === 'loading') {
                document.addEventListener('DOMContentLoaded', function () {
                    renderDateTime();
                    setInterval(renderDateTime, 1000);
                });
            } else {
                renderDateTime();
                setInterval(renderDateTime, 1000);
            }
        })();
    </script>
</body>
</html> 