<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet" />

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="~/Content/style.css">

    @*datatable*@
    <link rel="stylesheet" href="https://cdn.datatables.net/2.3.6/css/dataTables.dataTables.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.datatables.net/2.3.6/js/dataTables.js"></script>
</head>
<body id="body">
@*<body id="body" ng-app="RGDCWebApplication" ng-controller="RGDCWebApplicationController">*@
    <div class="row" style="margin: 0;" ng-init="getSessionVariables()">
        @*sidebar nav*@
        <div class="col hide-on-small-only m3 l3 brown lighten-1 z-depth-3 white-text" style="min-height: 100vh; position: fixed;">
            <h5 style="font-weight:bold;">RGDC</h5>

            @*user pfp and name*@
            <div class="row center" style="margin-top: 5rem;">
                @*lagyan nalang ng src for image source*@
                <img src="https://placehold.co/400" class="circle responsive-img" style="max-width:10rem" />
            </div>

            @*user name and role*@
            <div class="row center">
                <h5 style="font-weight:bold;">{{currentUserFullName}}</h5>
                <h6>{{userRole}}</h6>
            </div>

            @*nav tabs*@
            <div style="margin-top: 2rem; padding-left: 3rem; padding-right: 3rem;">
                <ul>
                    <li><a href="~/RGDC/adminDashboard" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">home</i>Home</a></li>
                    <li><a href="~/RGDC/patientStaff" ng-show="isUserOwner" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">assignment_ind</i>Clinic Staff</a></li>
                    <li><a href="~/RGDC/patientProfile" ng-show="isUserPatient" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">group</i>Profile</a></li>
                    <li><a href="~/RGDC/adminPatientsTab" ng-show="isUserAdmin" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">group</i>Patients</a></li>
                    <li><a href="~/RGDC/adminAppointment" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">calendar_today</i>Appointments</a></li>
                    <li><a href="~/RGDC/adminFinance" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">bar_chart</i>Finance</a></li>
                    <li><a href="#!" class="white-text valign-wrapper navText dropdown-trigger" data-target="contactDropdown"><i class="material-icons white-text" style="padding-right: 0.5rem;">call</i>Contact</a></li>
                    <ul id="contactDropdown" class="dropdown-content brown lighten-1">
                        <li>
                            <a href="#!" class="white-text">one</a>
                        </li>
                        <li>
                            <a href="#!" class="white-text">two</a>
                        </li>
                    </ul>
                </ul>
            </div>

            @*date and time at the bottom of the screen*@
            <div class="row center" style="margin-top: 5rem; padding-bottom: 2rem;">
                <span>Month DD, YYYY | </span>
                <span>00:00 AM</span>
            </div>

        </div>

        @*sidebar nav (mobile)*@
        <div class="row show-on-small-only hide-on-med-and-up s12 brown lighten-1 z-depth-3 white-text">
            <nav>
                <div class="nav-wrapper px-1">
                    <h5 class="bold brand-logo center">RGDC</h5>
                    <ul class="left">
                        <li>
                            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                        </li>
                    </ul>
                    <ul class="right m-0">
                        <li>
                            <a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn"> <i class="material-icons brown-text lighten-1">refresh</i></a>
                        </li>
                        <li ng-show="isUserAdmin">
                            <a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn"> <i class="material-icons brown-text lighten-1">print</i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

        <ul class="sidenav brown lighten-1 z-depth-3 white-text" id="mobile-nav">

            @*user pfp and name*@
            <div class="row center" style="margin-top: 5rem;">
                @*lagyan nalang ng src for image source*@
                <img src="https://placehold.co/400" class="circle responsive-img" style="max-width:10rem" />
            </div>

            @*user name and role*@
            <div class="row center">
                <h5 style="font-weight:bold;">{{currentUserFullName}}</h5>
                <h6>{{userRole}}</h6>
            </div>

            <li><a href="~/RGDC/adminDashboard" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">home</i>Home</a></li>
            <li><a href="~/RGDC/patientStaff" ng-show="isUserOwner" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">assignment_ind</i>Clinic Staff</a></li>
            <li><a href="~/RGDC/patientProfile" ng-show="isUserPatient" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">group</i>Profile</a></li>
            <li><a href="~/RGDC/adminPatientsTab" ng-show="isUserAdmin" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">group</i>Patients</a></li>
            <li><a href="#!" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">calendar_today</i>Appointments</a></li>
            <li><a href="~/RGDC/adminFinance" class="white-text valign-wrapper navText"><i class="material-icons white-text" style="padding-right: 0.5rem;">bar_chart</i>Finance</a></li>
            <li><a href="#!" class="white-text valign-wrapper navText dropdown-trigger" data-target="contactDropdown"><i class="material-icons white-text" style="padding-right: 0.5rem;">call</i>Contact</a></li>
            <ul id="contactDropdown" class="dropdown-content brown lighten-1">
                <li>
                    <a href="#!" class="white-text">one</a>
                </li>
                <li>
                    <a href="#!" class="white-text">two</a>
                </li>
            </ul>
            <li>
                <a href="#" class="btn-floating btn-medium waves-effect waves-light brown lighten-4 p-0 smallBtn tooltipped" ng-click="logOut()" data-position="bottom" data-tooltip="Logout"> <i class="material-icons brown-text lighten-1">logout</i></a>
            </li>
        </ul>

        @*content*@
        <div class="col s12 m9 l9 main-content" style="margin-left: 25%">
            @RenderBody()
        </div>
    </div>


    <script>
        //Arrow filter (descending and ascending)
        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('sort-arrow')) {
                const clicked = event.target;
                const parent = clicked.parentElement;
                const arrows = parent.querySelectorAll('.sort-arrow');

                const isActive = clicked.style.opacity === "1";

                arrows.forEach(arrow => {
                    arrow.style.opacity = "0.2";
                    arrow.style.fontWeight = "normal";
                });

                if (!isActive) {
                    clicked.style.opacity = "1";
                    clicked.style.fontWeight = "bold";
                }
            }
        });

        //Tooltip
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.tooltipped');
            var instances = M.Tooltip.init(elems, {
                    exitDelay: -5
            });
        });

        //Dropdown
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.dropdown-trigger');
            var instances = M.Dropdown.init(elems);
        });

        //tabs javascript
        document.addEventListener('DOMContentLoaded', function () {
            var el = document.querySelectorAll('.tabs');
            var instance = M.Tabs.init(el, {
                swipeable: false
            });
        });

        //Date
        document.addEventListener('DOMContentLoaded', function () {
            var today = new Date();

            // General date pickers (not the patient birthdate one)
            var dateElems = document.querySelectorAll('.datepicker:not(#birthDate)');
            M.Datepicker.init(dateElems, {
                format: 'mm/dd/yyyy',
                maxDate: today,
                yearRange: [1920, today.getFullYear()],
                autoClose: true,
                showClearBtn: true
            });
        });
        //Pop up modals
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, {
                startingTop: '4%',
                endingTop: '10%',
                onOpenEnd: function (modal) {
                    // If it's the patient info modal, trigger datepicker initialization
                    if (modal.id === 'modal-patient-info') {
                        // Give the modal time to render
                        setTimeout(function () {
                            var scope = angular.element(document.body).scope();
                            if (scope && scope.selectedPatient) {
                                var birthDateElem = document.getElementById('birthDate');
                                if (birthDateElem) {
                                    var existingInstance = M.Datepicker.getInstance(birthDateElem);
                                    if (existingInstance) {
                                        existingInstance.destroy();
                                    }

                                    var datepicker = M.Datepicker.init(birthDateElem, {
                                        format: 'mmmm dd, yyyy',
                                        yearRange: [1900, new Date().getFullYear()],
                                        autoClose: true,
                                        maxDate: new Date(),
                                        onSelect: function (date) {
                                            scope.$apply(function () {
                                                scope.selectedPatient.birthDateRaw = date;
                                                scope.selectedPatient.birthDate = date.toLocaleDateString("en-US", {
                                                    month: "long",
                                                    day: "numeric",
                                                    year: "numeric"
                                                });
                                                scope.selectedPatient.age = scope.computeAgeFromDate
                                                    ? scope.computeAgeFromDate(date)
                                                    : computeAgeFromDate(date);
                                            });
                                        }
                                    });

                                    if (scope.selectedPatient.birthDateRaw) {
                                        datepicker.setDate(new Date(scope.selectedPatient.birthDateRaw));
                                    }
                                }
                            }
                        }, 200);
                    }
                }
            });
        });
        function computeAgeFromDate(birthDate) {
            if (!birthDate) return "";

            var bDate = new Date(birthDate);
            var today = new Date();

            var age = today.getFullYear() - bDate.getFullYear();
            var monthDiff = today.getMonth() - bDate.getMonth();

            if (monthDiff < 0 || (monthDiff === 0 && today.getDate() < bDate.getDate())) {
                age--;
            }

            return age;
        }

        //sidenav
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.sidenav');
            var instances = M.Sidenav.init(elems);
        });

       document.addEventListener('DOMContentLoaded', function () {
           var today = new Date();

           // Date picker
           var dateElems = document.querySelectorAll('.datepicker');
           M.Datepicker.init(dateElems, {
               format: 'mm/dd/yyyy',
               maxDate: today,
               yearRange: [1920, today.getFullYear()],
               autoClose: true,
               showClearBtn: true
           });
       });


        @* admin finance table *@
        new DataTable('#adminFinance');
        @* admin patients table *@
        new DataTable('#adminPatientsTabTable');

        @*patient profile table - progress notes*@
            new DataTable('#progressNotes');
        @*patient profile table - forms*@
            new DataTable('#patientForms');

        //clickeable DataTables
        const financeTblRows = document.querySelectorAll(".tableClk tbody tr");
        for (const financeTblRow of financeTblRows) {
            financeTblRow.addEventListener("click", function () {
                window.location.href = this.dataset.href;
            })
        }
    </script>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Scripts/RGDCscripts/Module.js"></script>
    <script src="~/Scripts/RGDCscripts/Service.js"></script>
    <script src="~/Scripts/RGDCscripts/Controller.js"></script>
</body>
</html>
