<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")" />

</head>
<body ng-app="RGDCWebApplication" ng-controller="RGDCWebApplicationController">
    <div class="row" style="margin: 0;">
        @RenderBody()
    </div>

    @*Pop up modalz*@
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems, {
                opacity: 0.5,
            });
        });

    @*Calendar*@
        document.addEventListener('DOMContentLoaded', function () {
            var today = new Date();

            // Date picker
            var dateElems = document.querySelectorAll('.datepicker');
            M.Datepicker.init(dateElems, {
                format: 'mm/dd/yyyy',
                maxDate: today,
                yearRange: [1920, today.getFullYear()],
                autoClose: true,
                showClearBtn: true
            });
        });
    </script>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/RGDCscripts/Module.js"></script>
    <script src="~/Scripts/RGDCscripts/Service.js"></script>
    <script src="~/Scripts/RGDCscripts/Controller.js"></script>
</body>
</html>